﻿@{
    Layout = null;
}


<form method="post" action="" id="request_form">
    <br>
    <input name="submit" type="submit" value="Одобрить" id="accept_button" />
                        <input type="button" value="Отклонить" id="deny_button" />
                                <input type="submit" name="submit" value="Отклонить" hidden id="hidden_deny_button" />
                <input type="hidden" value="@ViewBag.Request" name="Request" />       
            <table id="requests">
            <tr class="requests_header"><th style="width:300px;"><p>Атрибут</p></th>
                <th style="width:500px;"><p>Описание</p></th>
            </tr>
                @foreach (var c in ViewBag.Request)
                {
                    <tr>
                        <td><p>Номер заявки:</p></td>
                        <td><p>@c.Num_of_request</p></td>
                        <input type="hidden" value="@c.Num_of_request" name="Num_of_request" />
                        <input type="hidden" value="@c.Password" name="Password" />
                    </tr>
                    <tr>
                        <td><p>Логин:</p></td>
                        <td><p>@c.UserName</p></td>
                        <input type="hidden" value="@c.UserName" name="UserName" />

                    </tr>
                    <tr>
                        <td><p>E-mail:</p></td>
                        <td><p>@c.Email</p></td>
                        <input type="hidden" value="@c.Email" name="Email" /> 
                    </tr>
                    <tr>
                        <td><p>Ф.И.О:</p></td>
                        <td><p>@c.Name</p></td>
                        <input type="hidden" value="@c.Name" name="Name" />
                    </tr>
                    <tr>
                        <td><p>Год рождения:</p></td>
                        <td><p>(@c.YOB)</p></td>
                        <input type="hidden" value="@c.YOB" name="YOB" />
                    </tr>
                    <tr>
                        <td><p>Номер кафедры:</p></td>
                        <td><p>@c.Num_of_sub_faculty</p></td>
                        <input type="hidden" value="@c.Num_of_sub_faculty" name="Num_of_sub_faculty" />
                    </tr>
                    <tr>
                        <td><p>Звание:</p></td>
                        <td><p>@c.Rank</p></td>
                        <input type="hidden" value="@c.Rank" name="Rank" />
                    </tr>
                    <tr>
                        <td><p>Должность:</p></td>
                        <td><p>@c.Post</p></td>
                        <input type="hidden" value="@c.Post" name="Post" />
                    </tr>
                    <tr>
                        <td><p>Номер зачётки:</p></td>
                        <td><p>@c.Num_of_record_book</p></td>
                        <input type="hidden" value="@c.Num_of_record_book" name="Num_of_record_book" />
                    </tr>
                    <tr>
                        <td><p>Номер группы:</p></td>
                        <td><p>@c.Num_of_group</p></td>
                        <input type="hidden" value="@c.Num_of_group" name="Num_of_group" />
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="reason2" name="reason"/>
                        </td>
                    </tr>
                    
                    
                }
            </table>

            </form>
        <script>
            $('#deny_button').confirmOn({

                questionText: 'Введите причину отклонения, если требуется:<br /><textarea id="reason1" style="width: 250px; height: 80px; position: relative; max-width: 80%"></textarea>', // The confirmation question
                //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
                textYes: 'Отклонить заявку', // Text on the button the user clicks when the handler should be called 
                textNo: 'Отмена' // Text on the button the user clicks when the handler should not be called
            },
                "click", function (e, confirmed) {
                    if (confirmed) {
                        var reason = $('#reason1').val();
                        $('#reason2').attr('value', reason);
                        $('#hidden_deny_button').trigger('click');
                    }

                });
</script>
