﻿@*@model CSOK.Models.Request*@
@{
    ViewBag.Title = "Заявки на регистрацию";
}

<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
@if (ViewBag.message_success != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message_success</p></div></div>
}
@if (ViewBag.message_fail != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_fail"><div><p>@ViewBag.message_fail</p></div></div>
}
@if (ViewBag.alert_message != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_fail"><div><p>@ViewBag.message_fail</p></div></div>
}
<div class="top_cont_question_create">
    <h2>Заявки на регистрацию в системе</h2>
   @if(ViewBag.Request_list.Count != 0){
        <table>
            <tr>
                <th>
                    №
                </th>
                
            </tr>
            <tr>
                @{int i = 1;}
                @foreach (var b in ViewBag.Request_list){
                    
                <td>
                    <div id="button_back">
                    @Ajax.ActionLink(i.ToString(), "Details", "Request", new{ @id= b.Num_of_request }, new AjaxOptions {
                     UpdateTargetId = "content", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new {@class="button_back" })
                        </div>  
                </td>
             
                    i++;
                }
 </tr>
                    
                
            
        </table>
   }
    else{
       <div>
           Нет активных заявок.
       </div>
   }
        <div id="content">
            
        </div>
    </div>
        
   
@section Scripts {
    

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}
