﻿@model List<CSOK.Models.CalendarEvent>

@{
    ViewBag.Title = "Календарь";
    
    }
<style>
    .overflow
    {
        overflow:auto;
    }
</style>
<script src="~/Scripts/calendar_fill.js"></script>

<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <br />
    <h2 style="color:#00AAE7; text-align:center;">Календарь на 2014 год</h2>
    <table id="calendarBig">
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
    </div>

<div id="calendarTable">
</div>
<script src="~/Scripts/events_fill.js"></script>
<script>
    $(document).ready(function () {
        var d = new Date();
        var this_m = d.getMonth();
        var this_d = d.getDate();
        var table_m;
        $("#calendarBig tbody table").each(function (index, month) {
            if ($(month).attr('data-m') == this_m) {
                table_m = $(month);
                return false;
            }
        });
        $(table_m).find('tbody td').each(function (index, day) {
            if ($(day).html() == this_d.toString()) {
                $(day).addClass('today');
                return false;
            }
        });
    });
</script>
