﻿@model CSOK.Models.Question

@{
    Layout = null;
    //Layout = "~/Views/Shared/_Layout_Training.cshtml";
}

<div id="Training_content">
    <div id="paging_container3" class="container_page">

        <ul class="alt_content">


            @{var quest = 0;}
            @{var num = 0;}
            @{var quest1 = 0;}
            @*   @{var ca = @Model.Questions[quest1].CorrectAnswer.Body;}*@
            @*   @{var ci = @Model.Questions[quest1].ID;}*@

            <input type="hidden" name="ID" value="@Model.ID" />
            @Html.HiddenFor(model=>Model.TestItems[0].ID)
            <input type="hidden" name="num" value="@ViewBag.Num" />
            <li id="test_question">
                <table>
                    <tr>


                        <td class="question_num">
                           @*@{num = quest + 1;}
                                    @num*@
                                    @ViewBag.Num
                        </td>
                        <td>
                            @* @Html.TextBoxFor(m => m.Questions[quest].ID, new { value = q.ID, style = "display: none;" })*@
                            <div class="test_content">

                                <div class="test_question_body">
                                    @Html.Raw(Model.Body)
                                </div>

                                <div class="test_question_content">
                                    @if (Model.Images.Count() != 0)
                                    {

                                        foreach (var k in Model.Images)
                                        {
                                        <img src="@Url.Action("OutputImage", "Questions", new { id = k.ImageId })" class="imgTest" alt="image" />
                                        }



                                    }
                                    @if (Model.CorrectAnswer != null)
                                    {
                                        <table>
                                            <tr>
                                                <td>Ответ:</td>

                                                <td>

                                                    @Html.TextBoxFor(m => m.CorrectAnswer.AnswerCorrectAnswers[0].Body, string.Empty, new { onkeyup = "corransw(quest, ca, ci)" })

                                                </td>

                                            </tr>
                                        </table>
                                    }
                                    @if (Model.Blocks.Count() != 0)
                                    {
                                        <table>
                                            <tr>
                                                <td class="test_question_tooltip">Ответ:</td>

                                                <td>
                                                    <ul>
                                                        <li>

                                                            <ul class="sortable">

                                                                @{var bl = 0;}
                                                                @foreach (var b in Model.Blocks)
                                                                {
  
                                                                    <li class="ui-state-default">@Html.HiddenFor(m => Model.Blocks[bl].AnswerBlocks[0].Order, new { @class = "order" })
                                                                        <span id="@Model.Blocks[bl].ID">@Model.Blocks[bl].Body</span>
                                                                    </li>
                                                                    bl = bl + 1;
                                                                }
                                                            </ul>

                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    @if (Model.CheckBoxAnswer == true)
                                    {
                                        <table>
                                            <tr>
                                                <td class="test_question_tooltip">Выберите по крайней мере один ответ:</td>

                                                <td>
                                                    <ul>
                                                        @{var poss = 0;}

                                                        @foreach (var k in Model.PossibleAnswers)
                                                        {
                                                            <li class="li_CheckBoxAnswer">
                                                                @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                @Html.CheckBoxFor(m => m.PossibleAnswers[poss].AnswerPossibleAnswers[0].IsRight)&nbsp&nbsp
                                    @k.Body

                                                                @{ poss = poss + 1; }
                                                            </li>
                                                        }




                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    @if (Model.RadioAnswer == true)
                                    {
                                        <table>
                                            <tr>
                                                <td class="test_question_tooltip">Выберите один ответ:</td>

                                                <td>


                                                    <ul>

                                                        @{var poss = 0;}

                                                        @foreach (var k in Model.PossibleAnswers)
                                                        {
                                                            <li class="li_RadioAnswer">
                                                                @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                @Html.RadioButtonFor(m => m.SelectedRadio, poss)&nbsp&nbsp
                                    @k.Body


                                                                @{ poss = poss + 1; }

                                                            </li>
                                                        }

                                                    </ul>


                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                                @{quest = quest + 1;}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="question_num"></td>
                        <td>
                            @Html.TextBoxFor(m => m.ID, new { value = Model.ID, style = "display: none;" })
                            <div class="test_content">



                                <div class="test_question_content">

                                    @if (Model.CorrectAnswer != null)
                                    {
                                        //var ca = @Model.Questions[quest1].CorrectAnswer.Body;
                                        //var ci = @Model.Questions[quest1].ID;
                                        //@Html.Raw("corransw(quest1,ca,ci)");
                                        //<div id=@Model.Questions[quest1].ID, style="display:none">
                                        //<div id="", style="display:none">
                                        <table>
                                            <tr>


                                                <td class="hint" style="display: none">Правильный ответ: @Model.CorrectAnswer.Body


                                                </td>
                                            </tr>
                                        </table>
                                        // </div>

                                    }
                                    @if (Model.Blocks.Count() != 0)
                                    {
                                        <table class="hint" style="display: none">
                                            <tr>
                                                <td class="test_question_tooltip">Правильный ответ:</td>



                                                <td>


                                                    <ul>
                                                        <li>

                                                            <ul class="sortablet">

                                                                @{var bl = 0;}
                                                                @foreach (var b in Model.Blocks)
                                                                {
  
                                                                    <li class="ui-state-default">@Html.HiddenFor(m => Model.Blocks[bl].AnswerBlocks[0].Order, new { @class = "order" })
                                                                        @*  <span id="@Model.Questions[quest].Blocks[bl].ID">@Model.Questions[quest].Blocks[bl].Body</span>*@
                                                                        <span>@Model.Blocks[bl].Body</span>
                                                                    </li>
                                                                    bl = bl + 1;
                                                                }
                                                            </ul>

                                                        </li>
                                                    </ul>
                                                </td>

                                            </tr>
                                        </table>
                                    }
                                    @if (Model.CheckBoxAnswer == true)
                                    {
                                        <table>
                                            <tr class="hint" style="display: none">
                                                <td class="test_question_tooltip">Правильный ответ:</td>
                                                <td>

                                                    <ul>

                                                        @{var poss = 0;}

                                                        @foreach (var k in Model.PossibleAnswers)
                                                        {
                                                            <li class="li_CheckBoxAnswer">
                                                                @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })


                                                                @Html.CheckBox("checkquest", k.IsRight, new { @disabled = "disabled" })
                                                                @k.Body

                                                                @{ poss = poss + 1; }
                                                            </li>
                                                        }

                                                    </ul>




                                                </td>


                                            </tr>
                                        </table>
                                    }
                                    @if (Model.RadioAnswer == true)
                                    {
                                        <table>
                                            <tr class="hint" style="display: none">
                                                <td class="test_question_tooltip">Правильный ответ:</td>
                                                <td>
                                                    <ul>

                                                        @{var poss = 0;}

                                                        @foreach (var k in Model.PossibleAnswers)
                                                        {
                                                            <li class="li_RadioAnswer">

                                                                @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                @Html.RadioButton(Model.ID.ToString(), "radioauest", k.IsRight, new { @disabled = "disabled" })

                                                                @k.Body

                                                                @{ poss = poss + 1; }

                                                            </li>
                                                        }

                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                                @{quest1 = quest1 + 1;}
                            </div>
                        </td>

                    </tr>
                </table>
                <table><tr>
            <td>
        @ViewBag.Wrong
                </td>
            <td>
                <div style="text-align:right" id="hint">
            <input type="button" value="Подсказка" onclick="showHint()" class="button_test" />
        </div>
                </td>
            </tr>
            </table>
            </li>



        </ul>
        @if (TempData["End_Question"]=="true") {
            <div id="button_back">
                    <p>
                        <input type="submit" value="Закончить тест" id="pass" class = "button_back" />
                    </p>
                </div>
        }
        else{
            <div id="button_back">
                    <p>
                        <input type="submit" value="Следющий вопрос" id="pass" class = "button_back" />
                    </p>
                </div>
        }
                



       
            </div>

        
           
</div>
@section Scripts {
@Scripts.Render("~/Scripts/icheck.js")
}
<script>
    $(document).ready(function () {
        $('input').on('ifCreated ifClicked ifChanged ifChecked ifUnchecked ifDisabled ifEnabled ifDestroyed ifToggled', function (event) {
            if (event.type === "ifClicked") {
                $(this).trigger('click');
                //$(this).iCheck('check');
            }

        }).iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue',
            increaseArea: '20%'
        });
    });
</script>
