﻿@model CSOK.Models.TestItem

@{
    ViewBag.Title = "Create";
}


<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
<script src="/Scripts/Valid.js"></script>


 <script>
     $(function () {
         var tmp_count;
         $('#random_test').tooltip({
             open: function (event, ui){
                 $(ui.tooltip).find('input').val(tmp_count)
             },
             close: function (event, ui) {
                 
                 ui.tooltip.hover(function () {
                     $(this).stop(true).fadeTo("slow", 1);

                 },
                 function () {
                     tmp_count = $(this).find('input').val();
                     $(this).effect("fade", function () {
                         $(this).remove();
                     });
                 });
             },
             content: function () {
                 return $(this).attr('title')
             },
             position: {
                 my: "center+5 bottom-12",
                 at: "center top",
                 using: function (position, feedback) {
                     $(this).css(position);
                     $("<div>")
                       .addClass("arrow")
                       .addClass(feedback.vertical)
                       .addClass(feedback.horizontal)
                       .appendTo(this);
                 }
             }
         });
         $('.toolTip').tooltip({
             position: {
                 my: "center+5 bottom-6",
                 at: "center top",
                 using: function (position, feedback) {
                     $(this).css(position);
                     $("<div>")
                       .addClass("arrow")
                       .addClass(feedback.vertical)
                       .addClass(feedback.horizontal)
                       .appendTo(this);
                 }
             }
         });
         $('.toolTipWarning').tooltip({
             position: {
                 my: "center+5 bottom-6",
                 at: "center top",
                 using: function (position, feedback) {
                     $(this).css(position);
                     $("<div>")
                       .addClass("arrow")
                       .addClass(feedback.vertical)
                       .addClass(feedback.horizontal)
                       .appendTo(this);
                 }
             }
         });
         $('input[type=text], input[type=password]').tooltip({
             show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
             position: {
                 my: "center bottom-20",
                 at: "left top",
                 using: function (position, feedback) {
                     $(this).css(position);
                     $("<div>")
                       .addClass("arrow")
                       .addClass(feedback.vertical)
                       .addClass(feedback.horizontal)
                       .appendTo(this);
                 }

             }
         }).off("mouseover mouseout");
         $('#Estimation').fancySelect();
         $('.FlowupLabels').FlowupLabels({
             /*
             These are all the default values
             You may exclude any/all of these options
             if you won't be changing them
              */
             // Handles the possibility of having input boxes prefilled on page load
             feature_onInitLoad: false,

             // Class when focusing an input
             class_focused: 'focused',
             // Class when an input has text entered
             class_populated: 'populated'
         });
         $("#Subject, #search").focus(function () {
             //можно открыть комменты для позиционирования точки
             //var n = this;
             // var left = 0;
             var element = $(this);

             //if (element.val() === '') {
             //    element.after($('.spinner_caret').show().css({ "position": "relative", "top": "14px", "right": "7px" }));
             //}
             // else {
             //setTimeout(function () {
             //   left = getCaret(n);
             if (element.val() === '') element.after($('.spinner_caret').show().css({ "top": "9px", "right": "14px" }));

             //  }, 1);


             // }
         });
         $('#Subject').focus();
         $('#random_test, #delete_several').disableSelection();
         $('#search_label').click(function () {
             $(this).next().next().focus();
         });
         //$('#Subject').removeClass('error');
     });
     
       
     
</script>

@if ((string)ViewBag.Err != "" && ViewBag.Err != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_fail">
        <div>
            <p>@ViewBag.Err</p>
        </div>
    </div>
    
}




@if (ViewBag.message != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message</p></div></div>
}
@using (Html.BeginForm("Create", "Tests", FormMethod.Post, new { id = "test_createform", @class = "FlowupLabels" }))
{
    <div class="top_cont3"></div> 
    
    <div class="top_cont_test_create">
        <div class="spinner_caret" hidden>
  <div class="double-bounce1"></div>
</div>
        @*<fieldset>*@
        @*<h2>Создание теста</h2>*@
        <div id="message"></div>
        <h3><font color="red"> @ViewBag.Message_1</font></h3>
        @*<h3><font color="red"> @ViewBag.Message2</font></h3>*@
        <br />

     

        <table>
        <tr><td class="fl_wrap">

            @Html.LabelFor(model => model.Subject, "Тема теста", new { @class="fl_label"})
            
            @Html.TextBoxFor(model => model.Subject, new { @title = "Укажите название теста, обозначающие принадлежность теста к определённой теме, либо к определённой группе тестов" , @class="fl_input" })
            </td><td>
            @Html.ValidationMessageFor(model => model.Subject)
                <label for="Subject" class="error" generated="true"></label>
            </td>
                </tr>
            </table>
        <br />
        Комментарий к тесту
        <div style="width: 96%;">
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class = "jqte" })
        </div>
            </div>

        <div style="text-align: center; width: 95%">
        <h3 style="color:#00AAE7">Выберите нужные вопросы (отметив галочкой)</h3>
            </div> 
             <div class="fl_wrap">
        <label class="fl_label" id="search_label">Поиск по темам вопросов </label>
                 <input type="text" id="search" class="fl_input">
                 
                 </div>
              <div id="random_test" title="Введите кол-во вопросов для случайной выборки и нажмите на кнопку ниже <br /> <input type='number' id='count_of_random' />">Случайный тест</div><div id="delete_several" style="display: none;">Удалить вопросы</div>
        <table class="color_table" id="ttt">
            <thead>
            <tr id="first_tr">
                <td align="center"  style="width:20%">
                    <b>Отметить все:</b>
                    <input type="checkbox" id="check_all" title="<span style='color: #f00'>Выберите вопросы для теста</span>" />
                </td>
                <th  style="width:25%">Тема вопроса
                </th>
                <th  style="width:40%">Тело вопроса
                </th>
                <th>Подробнее
                </th>
            </tr>
                </thead>
            @for (int a = 0; a < Model.Questions.Count; a++)
            {
                //@foreach (QuestionExtended q in Model.Questions)
                //{
                @Html.HiddenFor(m => m.Questions[a].ID)  
                <tr style="background-color:white">
                    <td hidden ><span class="q_id">@Model.Questions.ElementAt(a).ID</span></td>
                    <td align="center">
                    
                    @Html.CheckBoxFor(m => m.Questions[a].isSelected, new { @class = "selector" })</td>
                     <td class="title">
                         @{
                var tmp2 = Model.Questions[a].Title;
                var str2 = "";
                if (tmp2.Length > 20)
                {
                    str2 = tmp2.Substring(0, 20) + "...";
                }
                else
                {
                    str2 = tmp2;
                }
                         }
                         @str2 </td>
                    <td>
                        @{
                var tmp = Model.Questions[a].Body;
                var str = "";
                if (tmp.Length > 40)
                {
                    str = tmp.Substring(0, 40) + "...";
                }
                else
                {
                    str = tmp;
                }
                            
                        }
                        @str
                        @* @Html.DisplayFor(model=>model.Questions[a].Body)*@</td>
                    <td>@Ajax.ActionLink("Подробнее", "Details", "Questions", new { id = Model.Questions[a].ID }, new AjaxOptions
                 {
                     UpdateTargetId = "details", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new { @class = "show_popup", @rel = "tabs_info" }) </td>
                </tr> 
                //  }

            }
        </table>
        <fieldset id="test_setting">
        <legend>Настройки теста</legend>
            <label for="ModeCheck">
               @Html.CheckBox("TestMode", new { id = "ModeCheck" }) Тест в режиме обучения <span class="toolTip" title="В этом режиме при прохождении теста переход к слудующему вопросу будет возможен, только при правильном ответе на текущий вопрос">&nbsp;</span>
            </label><br />
            <div class="Test_mode" display: none; hidden>
                <br />
            Укажите тип режима обучения: <br />
            <label id="lable_ModeCheck_1">
               @Html.CheckBox("TestMode_1", new { id = "ModeCheck_1" }) С отчётом <span class="toolTip" title="Подробный отчёт о результатах прохождения теста, будет выдаваться студенту, после прохождения теста">&nbsp;</span>
            </label>
                <br />
            <label id="lable_ModeCheck_2">
               @Html.CheckBox("TestMode_2", new { id = "ModeCheck_2" }) Контроль следущего вопроса <span class="toolTip" title="В этом режиме при прохождении теста переход к слудующему вопросу будет возможен, только при правильном ответе на текущий вопрос">&nbsp;</span><span class="toolTipWarning" title="По техническим причинам в данном режиме вопросы с блоками недоступны! Приносим свои извинения">&nbsp;</span>
            </label>
            <br />
                <br />
                </div>
            <label id="lable_Paging">
        @Html.CheckBox("Paging", new { id = "PagingCheck" }) Один вопрос на странице<span class="toolTip" title="Вопросы из теста будут выводиться по одному">&nbsp;</span><br />
        </label>
                <label id="lable_PagingType" display: none; hidden>
            @Html.CheckBox("PagingType", new { id = "PagingTypeCheck" }) Без возможности перехода назад<span class="toolTip" title="Во время прохождения теста, нельзя будет вернуться к предыдущему вопросу">&nbsp;</span><br />
        </label>
            <label id="lable_Timer">
            @Html.CheckBox("Timer", new { id = "TimerCheck" }) Тест на время <span class="toolTip" title="Тест будет ограничен по времени">&nbsp;</span><br />
                </label>

        <div class="TestTimer" hidden>

            <p>
                <label for="amount">Укажите время теста:</label>
                @*<input type="number" id="amount" style="border:0; color:#f6931f; font-weight:bold;" >*@
                @Html.TextBoxFor(m => m.Time, new { id = "amount", @style = "border:0; color:#f6931f; font-weight:bold;" }) минут
            </p>

            <div id="Timeslider" style="width: 500px; left: 10px;"></div>
            <br />
        </div>
            
            <p>
                <label for="amount">Укажите количество попыток:</label>
                @*<input type="number" id="amount" style="border:0; color:#f6931f; font-weight:bold;" >*@
                @Html.TextBoxFor(m => m.Attempts, new { id = "attempt", @style = "border:0; color:#f6931f; font-weight:bold;" })
            </p>

            <div id="Attempslider" style="width: 500px; left: 10px;"></div>
            <br />

            <p>
                
                @Html.CheckBoxFor(m => m.OrderOfQuestion)
                <label for="OrderOfQuestion">Случайный порядок вопросов</label>
                <span class="toolTip" title="Задание порядка появления вопросов в тесте, вопросы в одном тесте у каждого студента будут повяляться в разном порядке">&nbsp;</span><br />
                
            </p>
            <br />
            
            Метод оценивания @Html.DropDownListFor(m => m.Estimation, new SelectList(@ViewBag.Est,"EstID","Name")) <br /><br />
       @* Количество попыток @Html.TextBoxFor(m=>m.Attempts)            <span class="toolTip" title="Укажите количество попыток для прохождения теста">&nbsp;</span><br />*@
        Дата открытия теста  @Html.EditorFor(m => m.OpeningDateTime)  <span class="toolTip" title="Укажите дату открытия теста">&nbsp;</span><br />
        Дата закрытия теста  @Html.EditorFor(m => m.ClosingDateTime)  <span class="toolTip" title="Укажите дату закрытия теста">&nbsp;</span>

            </fieldset>
        <div id="create_button">
            <input type="submit" value="Создать тест" class="button_test" id="create_test" />
        </div>
        @*// </fieldset>*@
        <div id="button_back">
            @Html.ActionLink("Назад", "CreateQuestionAndTests", "Tests", null, new {@class="button_back" })
        </div>
            
    </div> 
}
<script>
  
    $('#create_test').confirmOn({

        questionText: 'Вы действительно хотите создать данный тест?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                var flag;
                $('.selector').each(function (index, elem) {
                    if ($(this).prop('checked') == true) {
                        flag = true;
                        return false;
                    }
                    else flag = false;
                });
                if (flag == true)
                    $('#test_createform').submit();
                else {
                    $('#check_all').tooltip({
                        show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
                        open: function(event, ui){
                            setTimeout(function () { $(ui.tooltip).fadeOut(400); }, 3000);
                        },
                        position: {
                            my: "center bottom",
                            at: "center top",
                            using: function (position, feedback) {
                                $(this).css(position);
                                $("<div>")
                                  .addClass("arrow")
                                  .addClass(feedback.vertical)
                                  .addClass(feedback.horizontal)
                                  .appendTo(this);
                            }
                        },
                        content: function () {
                            return $(this).attr('title')
                        }
                    });
                    $('#check_all').focus();
                    
                }
            }
        });
   
    $('#delete_several').confirmOn({

        questionText: 'Вы действительно хотите удалить выбранные вопросы?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                var ids = new Array();
                $('.selector').each(function (index, elem) {
                    if ($(this).prop('checked') == true) {
                        ids.push(parseInt($(this).parent().parent().parent().find('span').html()));
                    }
                });
                //console.log(ids);
                var ajx = $.ajax({
                    url: '@Url.Action("Delete_several_questions", "Questions")',
                    async: true,
                    traditional: true,
                    data: { ids: ids },
                    type: 'POST',
                    //beforeSend: function () {
                    //    var c = confirm("Вы действительно хотите удалить выбранные вопросы?");
                    //    if (c == false) {
                    //        ajx.abort();
                    //    }
                    //},
                    success: function () {
                        $(location).attr('href', '@Url.Action("Create", "Tests")')
                    },
                    error: function () {
                        var js = document.createElement("script");

                        js.src = "/Scripts/success_message.js";
                        document.body.appendChild(js);
                        var div1 = document.createElement("div");
                        div1.id = "message_fail";
                        var div2 = document.createElement("div");
                        var p = document.createElement("p");
                        p.innerHTML = "Ошибка сервера";
                        document.body.appendChild(div1).appendChild(div2).appendChild(p);
                    }
                });
            }
        });


</script>




@* </body>*@
@*  </html>*@

@section Scripts {
    @Scripts.Render("~/scripts/TestCreate.js")
    @Scripts.Render("~/scripts/Table_row.js")
    @*@Scripts.Render("~/scripts/tooltip.js")*@

@Scripts.Render("~/scripts/Timeslider.js")
@Scripts.Render("~/scripts/focus.js")
@Scripts.Render("~/scripts/filter_questions.js")
@Scripts.Render("~/scripts/fancySelect.js")
}
}
<script type="text/javascript">
    $('.jqte').jqte();
</script>



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
    type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
    type="text/javascript"></script>
