﻿@{
    ViewBag.Title = "CreateQuestionAndTests";
}
@if (ViewBag.message != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message</p></div></div>
    //ViewBag.message = null;
}
<div class="top_cont3"></div> 
<div class="top_cont_test">
    <a href="../Questions/Index"><img id="fotoCreateQuestion" class="ft1" src="../../Content/im/images/images/sozd.jpg" /> </a>
    <a href="../Tests/Create"><img id="fotoCreateTest" class="ft2" src="../../Content/im/images/images/sozd1.jpg" /> </a>


     
    <a href="../../Questions/Index"><span class="text ft1" id="text1" style="margin-left: 362px"> Конструктор<br />вопросов</span></a>
    <a href="../Tests/Create"><span class="text ft2" id="text2" style="margin-left: 124px"> 
Конструктор <br /> тестов</span></a>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Tests", null, new { @class="button_back" })
    </div>
</div>
