﻿@model CSOK.Models.TestItem

@{
    Layout = null;
    ViewBag.Title = "Delete";
}

<h3>Вы действительно хотите удалить этот тест?</h3>
@using (Html.BeginForm()) {
    
        <input type="submit" value="Удалить" class="create_button" /> 
        
   
}