﻿@model CSOK.Models.TestItem

@{
    Layout = null;
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<h2 style="text-decoration: underline">
    Тест подробно</h2>



<script src="/Scripts/tabs_func.js"></script>


    <a class="close">Close</a>
<table border="0" cellpadding="10" style="width:100%">
    <tr>
        <td>
            Тема: @Html.DisplayFor(m=>m.Subject)
        </td>
        </tr>
    <tr>
        <td>
            Дата создания: @Html.DisplayFor(m=>m.CreationDateTime)
        </td>
    </tr>
    <tr>
         @if (Model.Time != 0)
        {
             <td>
        Время теста: 
       
            @Html.DisplayFor(m => m.Time) Минут
        
 
        </td>
         }
        else{
             <td>
                 Время теста: 
                 Нет ограничения
             </td>
         }
    </tr>
    </table>
<div class="selectTabs">
			<ul class="lineTabs">
				<li class="active">
                    @Ajax.ActionLink("Изменить", "Edit", new { id = Model.ID }, new AjaxOptions
                 {
                     UpdateTargetId = "edit", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new { @class = "show_tab" })

				</li>
				<li>
                    @Ajax.ActionLink("Удалить", "Delete", new {id = Model.ID }, new AjaxOptions
                 {
                     UpdateTargetId="delete", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new { @class = "show_tab" })

				</li>
			</ul>
			<div class="tab_content">
				<div class="tab1"></div>
				<div class="tab2"></div>
			</div>
		</div>
@section Scripts {
    

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}


