﻿@model IEnumerable<CSOK.Models.TestItemAnswer>

@{
    Layout = null;
    ViewBag.Title = "Details_student";
}

<h2 style="text-decoration: underline">
    Тест подробно</h2>
<a class="close">Close</a>
<script src="/Scripts/tabs_func.js"></script>

@if (Model.Count() == 0)
{
    @Html.Raw("Вы ещё не проходили это тест");
}
else{
 <div class="top_cont_question_create" id="test_details"> 
    
        <table>
            <tr id="test_hedder">
                <th>
                    Попытка

        </th>
                <th>
                    Результат
        </th>
    </tr>

            @foreach (var item in Model)
            {
                
    <tr>
                    <td>
                       @item.CurrentAttempt
        </td>
                    <td>
                        @item.TestScore/@item.Questions.Count()  баллов
        </td>
 
    </tr>
}

</table>
     </div>
     }
