﻿@model CSOK.Models.TestItem

@{
    Layout = null;
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(m=>m.CreationDateTime)
    @Html.HiddenFor(m=>m.Paging)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            Дата открытия теста:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpeningDateTime.Date)
            @Html.ValidationMessageFor(model => model.OpeningDateTime)
        </div>
    <div class="editor-label">
            Дата закрытия теста:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClosingDateTime.Date)
            @Html.ValidationMessageFor(model => model.ClosingDateTime)
        </div>
    <div class="editor-label">
            Время прохождения теста:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Time)
            @Html.ValidationMessageFor(model => model.Time)
        </div>

        <p>
            <input type="submit" value="Сохранить изменения" class="create_button" />
        </p>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
