﻿@model IEnumerable<CSOK.Models.TestItem>

@{
    ViewBag.Title = "Тесты";
}



@if (ViewBag.message != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message</p></div></div>
    //ViewBag.message = null;
}
<div class="top_cont3"></div> 
<div class="top_cont_test"> 
    @Html.Partial((string)ViewBag.Role)
@*<p>
    @Html.ActionLink("Создать новый тест из моих вопросов", "Create")
</p>
<table border="0" cellpadding="10" width="1200">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th>
            Кол-во вопросов
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
        
        <td>
            @item.Questions.Count()
        </td>

        <td>
            @Ajax.ActionLink("Изменить", "Edit", new { id=item.ID }, new AjaxOptions
                 {
                     UpdateTargetId="details", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new { @class = "show_popup", @rel = "tabs_info"}) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
    </div>
<div class="top_cont_question_create">
    		             <div id="button_back">
    @Html.ActionLink("Назад", "Index", "Home", null, new { @class="button_back" })
</div>
    </div> 
@*<div class="popup tabs_info" id="details"></div>
@section Scripts {
    
@Scripts.Render("~/scripts/popup.js")
}*@