﻿@model IEnumerable<CSOK.Models.TestItem>

@{
    ViewBag.Title = "Прохождение тестов";
}
@*<style>
      .ui-selecting, .ui-selected { background: #e0f7ff; } 
  </style>*@

@*<link href="~/Content/darktooltip.css" rel="stylesheet" />*@

@if (ViewBag.FailAttemp != null)
{
    
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_fail">
        <div>
            <p>@ViewBag.FailAttemp</p>
        </div>
    </div>
    
}

@if (ViewBag.TestPass != null)
{
    
    <script src="~/Scripts/message_testpass.js"></script>
    <div id="message_testpass">
        <div>
            <p>@ViewBag.TestPass</p>
        </div>
    </div>
    
}



@if (ViewBag.Err != null)
{
    
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_fail">
        <div>
            <p>@ViewBag.Err</p>
        </div>
    </div>
    
}

@if (ViewBag.message_success != null)
{
    
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success">
        <div>
            <p>@ViewBag.message_success</p>
        </div>
    </div>
    
}

@* <script>
            $(function () {
                localStorage.clear();
            })
</script>*@


<div class="top_cont3"></div>
<div class="top_cont_question_create" id="test_index">
    @*<span id="delete_several" hidden>Удалить тесты</span>*@
    @*<div class="raised">*@
        <table class="raised">
            <thead>
                <tr id="test_hedder">
                    <th class="test_name">Название теста

                    </th>
                    <th class="test_date">Тест закрывается

                    </th>
                    <th>Время теста
                    </th>
                    <th>Количество попыток
                    </th>
                    <th>Лучшая попытка
                    </th>
                    @if (User.IsInRole("Teacher"))
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                
                    <tr>
                        <td class="test_name">
                            @*  @Html.DisplayFor(modelItem => item.Subject)*@
                            
                            @Html.ActionLink(item.Subject, "PassTestView", new { id = item.ID }, new {  title="Просмотр теста"})
                              
                        </td>
                        <td class="test_date">
                            @Html.DisplayFor(modelItem => item.ClosingDateTime)
                        </td>
                        @if (@item.Time != 0)
                        {
                            <td>
                                @item.Time мин.
                            </td>
                        }
                        else
                        {
                            <td>Нет ограничения
                            </td>
                        }
                        <td>@if (ViewBag.LasAtt.ContainsKey(@item.ID))
                            {@ViewBag.LasAtt[@item.ID];
                            }
                            else
                            {@Html.Raw(0)}/@item.Attempts



                        </td>
                        <td>
                            @if (ViewBag.Score.ContainsKey(@item.ID))
                            {@ViewBag.Score[@item.ID];
                            }
                            else
                            {@Html.Raw(0)}/@item.Questions.Count() баллов
                        </td>
                        @if (User.IsInRole("Teacher"))
                        {
               
           
                            <td>
                                @Ajax.ActionLink("Подробнее", "Details", new { id = item.ID }, new AjaxOptions
                 {
                     UpdateTargetId = "details", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new { @class = "show_popup", @rel = "tabs_info" })

                            </td>
            
                        }            
        
@*<td>
                          @item.Questions.Count()
        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    @*</div>*@
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Tests", null, new { @class = "button_back" })
    </div>


</div>

@*<script src="~/Scripts/jquery.darktooltip.js"></script>
<script src="~/Scripts/testtooltip.js"></script>*@
@section Scripts {
    @Scripts.Render("~/scripts/Table_row.js")
}
