﻿<!--<a href="../Questions/Index"><img id="foto1" class="ft1" src="../../Content/im/images/images/sozd.jpg" /> </a>-->
    <a href="../Tests/CreateQuestionAndTests"><img id="foto1" class="ft1" src="../../Content/im/images/images/sozd1.jpg" /> </a>
    <a href="../Tests/IndexPass"><img id="foto2" class="ft2" src="../../Content/im/images/images/proxod.jpg" /> </a>
<a href="../Reports/Index"><img id="foto3" class="ft3" src="../../Content/im/images/images/result.jpg" /> </a>

     <!--<a href="../../Questions/Index"><span class="text ft1" id="text1"> 
Конструктор <br /> вопросов</span></a>-->
    <a href="../Tests/CreateQuestionAndTests"><span class="text ft1" id="text1" style="margin-left: 233px">Создание и <br />Редактирование</span></a>
    <a href="../Tests/IndexPass"><span class="text ft2" id="text2" style="margin-left: 39px"> 
Прохождение <br /> тестов</span></a>
<a href="../Reports/Index"><span class="text ft3" id="text3"> 
Результаты</span></a>