﻿<div id="message_404"><div><p>Страница в разработке!</p></div></div>
<a href="../Tests/IndexPass"><img id="foto1" class="ft1" src="../../Content/im/images/images/res.jpg" /> </a>
    <a href="javascript:void(0);" class="404"><img id="foto2" class="ft2" src="../../Content/im/images/images/obuch.jpg" /> </a>
    <a href="../Reports/Index"><img id="foto3" class="ft3" src="../../Content/im/images/images/result.jpg" /> </a>

     <a href="../../Tests/IndexPass"><span class="text ft1" id="text1">&nbsp Контроль <br /> знаний</span></a>
    <a href="javascript:void(0);" class="404"><span class="text ft2" id="text2"> 
&nbsp &nbsp Обучение</span></a>
    <a href="../Reports/Index"><span class="text ft3" id="text3"> 
 &nbsp &nbsp Результаты</a>
<script src="~/Scripts/page_not_found.js"></script>
    
