﻿@model CSOK.Models.TestItem

@{
    ViewBag.Title = "Информация о прохождении";
}

<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
<div class="top_cont3"></div>
<div class="top_cont_question_create" id="test_view">
    <table>
        <tr style="font-weight:900; font-size:larger">
            <td>@Model.Subject</td>
        </tr>
        @if(Model.Description!=null){
        <tr>
            <td>Описание теста:<br />
                @Html.Raw(Model.Description)

            </td>
            
        </tr>
        }
        <tr>
            <td>Колличество попыток: @Model.Attempts</td>
        </tr>
        <tr>
            <td>Метод оценивания: @Model.Estimation.Name</td>
        </tr>
        <tr>
            <td>Тест закрывается: @Model.ClosingDateTime</td>
        </tr>

        @if(Model.TestMode==2)
        {
            <tr style="border: solid; font-size: 27px">
                <td>
                    @Html.Raw("Обучение!")
                </td>
            </tr>
        }
        
        else if (Model.TestItemAnswers.Where(q => q.Author.UserId == WebSecurity.CurrentUserId).Count() == 0)
        {
            <tr style="border: solid; font-size: 27px">
                <td>
                    @Html.Raw("Вы ещё не проходили это тест!")
                </td>
            </tr>
        }

        else
        {
           
            <tr>
                <td>
                    <div class="top_cont_question_create" id="test_details">

                        <table class="raised">
                            <tr id="test_hedder">
                                <th>Попытка

                                </th>
                                <th>Время прохождения
                                </th>
                                <th>Результат
                                </th>

                            </tr>

                            @foreach (var item in Model.TestItemAnswers.Where(q => q.Author.UserId == WebSecurity.CurrentUserId))
                            {
                
                                <tr>
                                    <td>
                                        @item.CurrentAttempt
                                    </td>

                                    <td>@if (item.EndtDateTime == null)
                                        {<p>Без времени</p> }
                                        else
                                        {
                                           
                                        @item.EndtDateTime
                                        }
                                    </td>
                                    <td>
                                        @item.TestScore/@item.Questions.Count()  баллов
                                    </td>

                                </tr>                             
                            }

                        </table>
                    </div>
                </td>
            </tr>
            
            <tr style="border: solid">
                <td>Ваша итоговая оценка за этот тест: @ViewBag.Score/@Model.Questions.Count()</td>
            </tr>
    
        }





    </table>
    @if (Model.TestItemAnswers.Where(q => q.Author.UserId == WebSecurity.CurrentUserId).Count() != 0)
    {
        if (Model.TestItemAnswers.Where(q => q.Author.UserId == WebSecurity.CurrentUserId).Last().CurrentAttempt == Model.Attempts)
        {
        <div class="testbutton">
            <div style="font-size: 30px">У вас больше нет попыток!</div><br /><br /><br />
             @Html.ActionLink("Назад", "IndexPass", null, new { @class = "button_test" })
            
        </div>
       
      
                        
        }
        else
        {


        <div class="testbutton">
            <div>
            @Html.ActionLink("Пройти тест", "PassTest", null, new { @class = "button_test", @id = "pass_this_test" })
                </div>
            <div>
            @Html.ActionLink("Назад", "IndexPass", null, new { @class = "button_test" })
                </div>
        </div>
        }
    }
    else
    {


        <div class="testbutton">
            <div>
            @Html.ActionLink("Пройти тест", "PassTest", null, new { @class = "button_test", @id = "pass_this_test" })
                </div>
                <div>
            @Html.ActionLink("Назад", "IndexPass", null, new { @class = "button_test" })
                </div>
        </div>
    }

</div>
<script>
    $('#pass_this_test').confirmOn({

        questionText: 'Вы уверены, что хотите начать прохождение этого теста?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да, начать прохождение', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                $(location).attr('href', "@Url.Action("PassTest", "Tests", new { id = Model.ID})");
            }
        });
</script>

