﻿@model CSOK.Models.Question

@{
    Layout = "~/Views/Shared/_Layout_PassTest.cshtml";
    ViewBag.Title = "PassTestTraining";
}

@* <style>
  .sortable{ list-style-type: none; margin: 0; padding: 0; width: 100%; padding:5px; background-color:#808080; }
  .sortable li {background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  .sortable li span { position: absolute; margin-left: -1.3em; color:#fff; }
    #sortable1, #sortable2{ list-style-type: none; margin: 0; background: #808080; width:100%; padding: 5px;}
  #sortable1 li, #sortable2 li { background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px;}
  #sortable1 li span, #sortable2 li span { position: absolute; margin-left: -1.3em; color:#fff;}
     #sortable2
     {
         min-height:40px;
     }

  </style>*@
@*<script>
  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "#sortable2, #sortable1"
    });
 
   
 
    $( "#sortable1, #sortable2" ).disableSelection();
  });
  </script>*@

<script>
    //function corransw(num, vall, id) {
    //    //var str1 = 'Question_' + num + '__CorrectAnswer.AnswerCorrectAnswer_' + num + '__Body';
    //    var str = 'Questions_0__CorrectAnswer_AnswerCorrectAnswers_0__Body';
    //    if (document.getElementById(str).valueOf.length == vall) {
    //        $(".next_link").show("slow");
    //    }



    //}



    function showHint() {
        $(".hint").show("slow");
        $(".next_link").show("slow");
        $(".next_link.no_more").hide();
    }

    //    $(document).ready(function () 
    //    {
    //        document.getElementsByClassName('next_link').onclick = function () 
    //        {
    //            alert("qaetyuy");
    //            //$(".previous_link").show("slow");
    //            //$(".next_link").hide("slow");
    //}
    //    });


    //});







</script>



@*@if (Model.Paging != 0)
{
    <script src="~/Scripts/jquery.pajinate.js"></script>
    <script src="~/Scripts/Paging_training.js"></script>

}*@

@*@if (Model.Paging == 2)
{
    <style>
        .previous_link {
            display: none;
        }

        .next_link {
            display: none;
        }
    </style>
}*@




<div class="top_cont3"></div>

<div class="top_cont_question_create">


    <h2 class="testtopic">@ViewBag.Subject</h2>

    @using (Ajax.BeginForm
("PassTestTraining", "Tests", new { id = "subform" }, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Training_content",
    //OnSuccess="~/Scripts/jquery.unobtrusive-ajax.min.js"
    //OnBegin="~/Scripts/jquery.unobtrusive-ajax.min.js"
    //OnComplete="~/Scripts/jquery.unobtrusive-ajax.min.js"
}))
    {
        
        <div id="Training_content">
            <div id="paging_container3" class="container_page">

                <ul class="alt_content">


                    @{var quest = 0;}
                    @{var num = 0;}
                    @{var quest1 = 0;}
                    @*   @{var ca = @Model.Questions[quest1].CorrectAnswer.Body;}*@
                    @*   @{var ci = @Model.Questions[quest1].ID;}*@

                    <input type="hidden" name="ID" value="@Model.ID" />

                    @Html.HiddenFor(model => Model.TestItems[0].ID)
                    <input type="hidden" name="num" value="@ViewBag.Num" />

                    <li id="test_question">
                        <table>
                            <tr>


                                <td class="question_num">
                                    @*@{num = quest + 1;}
                                    @num*@
                                    @ViewBag.Num
                                </td>
                                <td>
                                    @* @Html.TextBoxFor(m => m.Questions[quest].ID, new { value = q.ID, style = "display: none;" })*@
                                    <div class="test_content">

                                        <div class="test_question_body">
                                            @Html.Raw(Model.Body)
                                        </div>

                                        <div class="test_question_content">
                                            @if (Model.Images.Count() != 0)
                                            {

                                                foreach (var k in Model.Images)
                                                {
                                                <img src="@Url.Action("OutputImage", "Questions", new { id = k.ImageId })" class="imgTest" alt="image" />
                                                }



                                            }
                                            @if (Model.CorrectAnswer != null)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>Ответ:</td>

                                                        <td>

                                                            @Html.TextBoxFor(m => m.CorrectAnswer.AnswerCorrectAnswers[0].Body, string.Empty, new { onkeyup = "corransw(quest, ca, ci)" })

                                                        </td>

                                                    </tr>
                                                </table>
                                            }
                                            @if (Model.Blocks.Count() != 0)
                                            {
                                                <table>
                                                    <tr>
                                                        <td class="test_question_tooltip">Ответ:</td>

                                                        <td>
                                                            <ul>
                                                                <li>

                                                                    <ul class="sortable">

                                                                        @{var bl = 0;}
                                                                        @foreach (var b in Model.Blocks)
                                                                        {
  
                                                                            <li class="ui-state-default">@Html.HiddenFor(m => Model.Blocks[bl].AnswerBlocks[0].Order, new { @class = "order" })
                                                                                <span id="@Model.Blocks[bl].ID">@Model.Blocks[bl].Body</span>
                                                                            </li>
                                                                            bl = bl + 1;
                                                                        }
                                                                    </ul>

                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            @if (Model.CheckBoxAnswer == true)
                                            {
                                                <table>
                                                    <tr>
                                                        <td class="test_question_tooltip">Выберите по крайней мере один ответ:</td>

                                                        <td>
                                                            <ul>
                                                                @{var poss = 0;}

                                                                @foreach (var k in Model.PossibleAnswers)
                                                                {
                                                                    <li class="li_CheckBoxAnswer">
                                                                        @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.CheckBoxFor(m => m.PossibleAnswers[poss].AnswerPossibleAnswers[0].IsRight)&nbsp&nbsp
                                    @k.Body

                                                                        @{ poss = poss + 1; }
                                                                    </li>
                                                                }




                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            @if (Model.RadioAnswer == true)
                                            {
                                                <table>
                                                    <tr>
                                                        <td class="test_question_tooltip">Выберите один ответ:</td>

                                                        <td>


                                                            <ul>

                                                                @{var poss = 0;}

                                                                @foreach (var k in Model.PossibleAnswers)
                                                                {
                                                                    <li class="li_RadioAnswer">
                                                                        @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.RadioButtonFor(m => m.SelectedRadio, poss)&nbsp&nbsp
                                    @k.Body


                                                                        @{ poss = poss + 1; }

                                                                    </li>
                                                                }

                                                            </ul>


                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        </div>
                                        @{quest = quest + 1;}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="question_num"></td>
                                <td>
                                    @Html.TextBoxFor(m => m.ID, new { value = Model.ID, style = "display: none;" })
                                    <div class="test_content">



                                        <div class="test_question_content">

                                            @if (Model.CorrectAnswer != null)
                                            {
                                                //var ca = @Model.Questions[quest1].CorrectAnswer.Body;
                                                //var ci = @Model.Questions[quest1].ID;
                                                //@Html.Raw("corransw(quest1,ca,ci)");
                                                //<div id=@Model.Questions[quest1].ID, style="display:none">
                                                //<div id="", style="display:none">
                                                <table>
                                                    <tr>


                                                        <td class="hint" style="display: none">Правильный ответ: @Model.CorrectAnswer.Body


                                                        </td>
                                                    </tr>
                                                </table>
                                                // </div>

                                            }
                                            @if (Model.Blocks.Count() != 0)
                                            {
                                                <table class="hint" style="display: none">
                                                    <tr>
                                                        <td class="test_question_tooltip">Правильный ответ:</td>



                                                        <td>


                                                            <ul>
                                                                <li>

                                                                    <ul class="sortablet">

                                                                        @{var bl = 0;}
                                                                        @foreach (var b in Model.Blocks)
                                                                        {
  
                                                                            <li class="ui-state-default">@Html.HiddenFor(m => Model.Blocks[bl].AnswerBlocks[0].Order, new { @class = "order" })
                                                                                @*  <span id="@Model.Questions[quest].Blocks[bl].ID">@Model.Questions[quest].Blocks[bl].Body</span>*@
                                                                                <span>@Model.Blocks[bl].Body</span>
                                                                            </li>
                                                                            bl = bl + 1;
                                                                        }
                                                                    </ul>

                                                                </li>
                                                            </ul>
                                                        </td>

                                                    </tr>
                                                </table>
                                            }
                                            @if (Model.CheckBoxAnswer == true)
                                            {
                                                <table>
                                                    <tr class="hint" style="display: none">
                                                        <td class="test_question_tooltip">Правильный ответ:</td>
                                                        <td>

                                                            <ul>

                                                                @{var poss = 0;}

                                                                @foreach (var k in Model.PossibleAnswers)
                                                                {
                                                                    <li class="li_CheckBoxAnswer">
                                                                        @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })


                                                                        @Html.CheckBox("checkquest", k.IsRight, new { @disabled = "disabled" })
                                                                        @k.Body

                                                                        @{ poss = poss + 1; }
                                                                    </li>
                                                                }

                                                            </ul>




                                                        </td>


                                                    </tr>
                                                </table>
                                            }
                                            @if (Model.RadioAnswer == true)
                                            {
                                                <table>
                                                    <tr class="hint" style="display: none">
                                                        <td class="test_question_tooltip">Правильный ответ:</td>
                                                        <td>
                                                            <ul>

                                                                @{var poss = 0;}

                                                                @foreach (var k in Model.PossibleAnswers)
                                                                {
                                                                    <li class="li_RadioAnswer">

                                                                        @Html.TextBoxFor(m => m.PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.RadioButton(Model.ID.ToString(), "radioauest", k.IsRight, new { @disabled = "disabled" })

                                                                        @k.Body

                                                                        @{ poss = poss + 1; }

                                                                    </li>
                                                                }

                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        </div>
                                        @{quest1 = quest1 + 1;}
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <div style="text-align: right" id="hint">
                            <input type="button" value="Подсказка" onclick="showHint()" class="button_test" />
                        </div>
                    </li>



                </ul>

                <div id="button_back">
                    <p>
                        <input type="submit" value="Следющий вопрос" id="pass" class="button_back" />
                    </p>
                </div>
            </div>
                
            </div>
        
    }


</div>


@section Scripts {

    @Scripts.Render("~/Scripts/SortQuestion.js")

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

