﻿@model CSOK.Models.TestItemAnswer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PassTest";
}
@*<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>*@
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
@*<script src="~/Scripts/jquery.timeTo.js"></script>*@
<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
<script src="~/Scripts/jquery.timeTo.js"></script>
<link href="~/Content/timeTo.css" rel="stylesheet" />
<style>
    /*.sortable{ list-style-type: none; margin: 0; padding: 0; width: 100%; padding:5px; background-color:#808080; }
  .sortable li {background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  .sortable li span { position: absolute; margin-left: -1.3em; color:#fff; }*/
    .sortable1, .sortable2 {
        min-height: 40px;
        background: #808080;
        padding: 3px;
        width: 350px
    }

</style>
<script>
    $(function () {
        var id;
        var x;

        $("ul.droptrue").sortable({

            activate: function (event, ui) {
                id = $(this).parents('tr')[0].id;
                //console.log(id)
            },

            connectWith: ".sortable1, .sortable2",
            receive: function (event, ui) {
                //console.log(ui.item.parents('tr')[0].id);
                if (ui.item.parents('tr')[0].id !== id)
                    ui.sender.sortable("cancel");
            },
            revert: 300
            //[$(this), $(this).closest('td').next('td').find('ul')[0]]
        });


        $(".sortable1, .sortable2").disableSelection();

        @*$("#pass").click(function () {
            var Excess_ids = new Array();
            var coll = $('.sortable2 li');
            $.each(coll, function (index, element) {
                Excess_ids.push(parseInt($(element).find('span')[0].id));
                console.log(element)

            });
            $.ajax({
                url: '@Url.Action("PassTest", "Tests")',
                type: 'POST',
                traditional: true,
                data: { Excess_ids: Excess_ids }
            });
        });*@
    });

    //var tm = document.getElementById('my_tim').innerHTML;
  

</script>



@if (Model.Paging != 0)
{
    <script src="~/Scripts/jquery.pajinate.js"></script>
    <script src="~/Scripts/Paging.js"></script>

}

@if (Model.Paging == 2)
{
    <style>
        .previous_link {
            display: none;
        }
    </style>
}
@*<div class="top_cont3"></div>*@
@if (Model.Time != 0)
{ 
    
@*<script>
    $(function () {
        var items = window.localStorage.getItem('timer')
        if (items === null || items.length === 0) {
            document.getElementById("my_timer").innerHTML =@Model.Time +":00";
            
        }
        else {
            document.getElementById("my_timer").innerHTML = localStorage.getItem('timer');
        
        }

    })
</script>*@
 

    @*<script src="~/Scripts/sticky.js"></script>
    <div id="sticky">
        <p>Оставшееся время теста:</p>
        @if (ViewBag.Time == null)
        {
            <p><span id="my_timer">@Model.Time:00</span></p>
        }
        else
        {
            <p><span id="my_timer">@ViewBag.Time</span></p>
        }
    </div>*@
    
    <script src="~/Scripts/sticky.js"></script>
    <div id="sticky">
    <p>Оставшееся время теста:</p>
    <div id="countdown-11"></div>
    </div>
   if(@Model.TestItem.Time>60){ 
    <script>

        var t = @Model.Time

        $('#countdown-11').timeTo({
            seconds: t,
            //seconds: parseInt(tm),
            displayCaptions: true,
            captionSize: 14,
            lang: 'ru',
            theme: 'black'
            }, function () {
            $('#subform').submit();
        });
</script>
    <style>
        #sticky {
            width: 200px;
        }
    </style>
}

   else{ 
    <script>

        var t = @Model.Time

        $('#countdown-11').timeTo({
            seconds: t,
            //seconds: parseInt(tm),
            displayHours: false,
            displayCaptions: true,
            captionSize: 14,
            lang: 'ru',
            theme: 'black'
        }, function () {
            $('#subform').submit();
        });
</script>
}
      
}
@*<script src="~/Scripts/sticky.js"></script>
<div id="sticky">
    <p>Оставшееся время теста:</p>
    <div id="countdown-11"></div>
    </div>*@

    @*<p><span id="my_tim">50</span></p>*@

<div class="top_cont3"></div>

<div class="top_cont_question_create">

  


    <h2 class="testtopic">@Model.Subject</h2>

    @using (Html.BeginForm("PassTest", "Tests", FormMethod.Post, new { id = "subform" }))   
    {
        <input type="hidden" name="ID" value="@Model.ID" />
        @Html.HiddenFor(m=>m.ID)
      
        <div id="paging_container3" class="container_page">


            <ul class="alt_content">


                @{var quest = 0;}
                @{var num = 0;}
                @{var matr = 0;}

                @foreach (var q in Model.Questions)
                {   
                    <li id="test_question">
                        <table>
                            <tr>
                                <td id="question_num">
                                    @{num = quest + 1;}
                                    @num
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Questions[quest].ID, new { value = q.ID, style = "display: none;" })
                                    <div id="test_content">

                                        <div id="test_question_body">
                                            @Html.Raw(q.Body)
                                        </div>

                                        <div id="test_question_content">
                                            @if (q.Images.Count() != 0)
                                            {

                                                foreach (var k in q.Images)
                                                {
                                                <img src="@Url.Action("OutputImage", "Questions", new { id = k.ImageId })" class="imgTest" alt="image" />
                                                }



                                            }
                                            @if ((q.CorrectAnswer != null) && (q.MatrixAnswer == false))
                                            {
                                                <table>
                                                    <tr>
                                                        <td>Ответ:</td>

                                                        <td>

                                                            @Html.TextBoxFor(m => m.Questions[quest].CorrectAnswer.AnswerCorrectAnswers[0].Body)

                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            @if (q.Blocks.Count() != 0)
                                            {
                                                <table>
                                                    <tr>
                                                        <td class="test_question_tooltip">Ответ:</td>

                                                        <td>
                                                            <ul>
                                                                <li>

                                                                    <ul class="sortable">

                                                                        @{var bl = 0;}
                                                                        @foreach (var b in q.Blocks)
                                                                        {
  
                                                                            <li class="ui-state-default">@Html.HiddenFor(m => Model.Questions[quest].Blocks[bl].AnswerBlocks[0].Order, new { @class = "order" })
                                                                                <span id="@Model.Questions[quest].Blocks[bl].ID">@Model.Questions[quest].Blocks[bl].Body</span>
                                                                            </li>
                                                                            bl = bl + 1;
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            @if (q.Excess_Blocks.Count() != 0)
                                            {
                                                <table>
                                                    <tr id="@q.ID">
                                                        <td class="test_question_tooltip">Ответ:</td>

                                                        <td>
                                                            <ul>
                                                                <li>

                                                                    <ul class="sortable1 droptrue">

                                                                        @{var bl = 0;}
                                                                        @foreach (var b in q.Excess_Blocks)
                                                                        {
  
                                                                            <li class="ui-state-default">@Html.HiddenFor(m => Model.Questions[quest].Excess_Blocks[bl].AnswerExcessBlocks[0].Order, new { @class = "order" })
                                                                                <span id="@Model.Questions[quest].Excess_Blocks[bl].ID">@Model.Questions[quest].Excess_Blocks[bl].Body</span>
                                                                            </li>
                                                                            bl = bl + 1;
                                                                        }
                                                                    </ul>

                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>Корзина для блоков:
                                                        <ul class="sortable2 droptrue">
                                                        </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                            @if (q.Matrices.Count() != 0)
                                            {     
                                                <table class="matrix" style="max-width: 500px">

                                                    @{var c = ViewBag.matrices[matr];
                                                      for (int i = 0; i < c.Count; i++)
                                                      {
                                                        <tr style="border: 1px solid">
                                                            @for (int j = 0; j < c[i].Count; j++)
                                                            {
                                                                if (c[i][j] != "")
                                                                {
                                                                    
                                                                <td style="border: 1px solid; text-align: center">
                                                                    <input type="hidden" name="elements[@matr][@i][@j]" value="@c[i][j]"/>@c[i][j]</td>
                                                                }
                                                                else
                                                                {
                                                                    if (q.MatrixAnswer == true)
                                                                    {
                                                                <td style="border: 1px solid; text-align: center;">
                                                                    <input type="text" name="elements[@matr][@i][@j]" style="width:60px"/></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="border: 1px solid; text-align: center">
                                                                    <input type="hidden" name="elements[@matr][@i][@j]" value="@c[i][j]"/>@c[i][j]</td>
                                                                    }
                                                                }
                                                            }
                                                        </tr>
                
                                                      }
                                                      matr++;
                                                    }
                                                </table>   
                                            }

                                            @if (q.CheckBoxAnswer == true)
                                            {
                                                <table>
                                                    <tr>
                                                        <td class="test_question_tooltip">Выберите по крайней мере один ответ:</td>

                                                        <td>
                                                            <ul>
                                                                @{var poss = 0;}

                                                                @foreach (var k in q.PossibleAnswers)
                                                                {
                                                                    <li class="li_CheckBoxAnswer">
                                                                        @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.CheckBoxFor(m => m.Questions[quest].PossibleAnswers[poss].AnswerPossibleAnswers[0].IsRight)&nbsp&nbsp
                                    @k.Body

                                                                        @{ poss = poss + 1; }
                                                                    </li>
                                                                }




                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                            @if (q.RadioAnswer == true)
                                            {
                                                <table>
                                                    <tr>
                                                        <td class="test_question_tooltip">Выберите один ответ:</td>

                                                        <td>


                                                            <ul>

                                                                @{var poss = 0;}

                                                                @foreach (var k in q.PossibleAnswers)
                                                                {
                                                                    <li class="li_RadioAnswer">
                                                                        @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.RadioButtonFor(m => m.Questions[quest].SelectedRadio, poss)&nbsp&nbsp
                                    @k.Body


                                                                        @{ poss = poss + 1; }

                                                                    </li>
                                                                }

                                                            </ul>


                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        </div>
                                        @{quest = quest + 1;}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </li>

                }

            </ul>

            <div class="alt_page_navigation"></div>


        </div>
        <div class="end_test">
           
           @* <p>*@
              

                <input type="submit" value="Закончить тест" id="pass" class="button_test" />
            @*</p>*@
               
        </div>
       
    }

</div>
<script>
    $('#pass').confirmOn({

        questionText: 'Вы уверены, что хотите закончить тест?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                $('#subform').submit();
            }
        });
</script>




@section Scripts {

    @Scripts.Render("~/Scripts/SortQuestion.js")
    @Scripts.Render("~/Scripts/Timesubmit.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
