﻿@{
    //Layout = "~/Views/Shared/_Layout_Training.cshtml";
    Layout = null;
    ViewBag.Title = "ResultTraining";
}

<div id="Training_content">

<h2 style="text-align:center">Спасибо, за прохождение обучения</h2>
   
<div id="button_back">
            @Html.ActionLink("Назад к списку тестов", "IndexPass", "Tests", null, new { @class = "button_back" })
        </div>
    </div>
   