﻿@{
    ViewBag.Title = "ResultVies";
}

<div class="top_cont3"></div>
<div class="top_cont_question_create"> 
<h2 style="text-align:center">@ViewBag.Message</h2>
    
    <br />
    <br />
    <div id="button_back">@Html.ActionLink("Назад к списку тестов", "IndexPass", "Tests", null, new {@class="button_back" })</div>
    </div>