﻿@{
    ViewBag.Title = "Результаты";
}
@section featured {

}
@if (ViewBag.message != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message</p></div></div>
    //ViewBag.message = null;
}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
        <p align="center">@Html.Partial((string)ViewBag.Role)</p>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Tests", null, new { @class="button_back" })
    </div>
</div>