﻿@model CSOK.Models.GroupDisciplineTestDropdown

@{
    ViewBag.Title = "Результаты тестов";
    List<CSOK.Models.Results> result = new List<CSOK.Models.Results>();
}
@section featured {

}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
        <h2 style="text-align:center;">Результаты тестов</h2>
    @using (Html.BeginForm())
    {
        <table>
        <tr>
            <td>
        <div id="fst">
            <div class="editor-label">
                @*@Html.LabelFor(m => m.Discipline)*@
                1) Выберите предмет
            </div>
            <div class="editor-field">
                @*@Html.DropDownListFor(m => m.Discipline, Model.AvailableDisciplines, new { style = "width: 200px" })*@
                <select id="Discipline"  name="Discipline">
                    <option value="">Выберите предмет</option>
                    @if (Model.AvailableDisciplines.Count() != 0)
                    {
                        foreach (var gr in Model.AvailableDisciplines)
                        {
                            <option value="@gr.Value">@gr.Text</option>
                        }
                    }
                    else
                    {
                        <option value="0">Не найдено ни одного предмета!</option>
                    }
                </select>
            </div>
        </div>
    </td>
        <td>
        <div id="snd" >
            <div class="editor-label">
                @*@Html.LabelFor(m => m.Test)*@
                2) Выберите тест
            </div>
            <div class="editor-field" id="test_field">
                @Html.DropDownListFor(m => m.Test, Model.AvailableTests, new { style = "width: 150px" })
            </div>
        </div>
            </td>
            </tr>
        </table>
    }
            

<div id="test_index">
<div id="resultTable">
    <table border="0" cellpadding="10" width="1200" id="tableResult">
        <tbody>
            <tr>
                <th>
                    Название теста
                </th>
                <th>
                    Дата прохождения
                </th>
                <th>
                    Время прохождения
                </th>
                <th>
                    № попытки
                </th>
                <th>
                    Кол-во вопросов
                </th>
                <th>
                    Кол-во верных ответов
                </th>
                <th>
                    Результат
                </th>
            </tr>
        </tbody>
        <tbody id="result">
        </tbody>
        </table>
    <div id="export_div">
            <div class="editor-label">
                Экспорт данных
            </div>
            <div id="button_export">
                <input type="button" onclick="exporttoexcel('tableResult', 'Данные')" value="XLS">
                <input type="button" onclick="exporttoword('tableResult', 'Данные')" value="DOC">
            </div>
        </div>
</div>
    </div>
    <div id="NoResults" class="editor-label"></div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class = "button_back" })
    </div>
</div>
    
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min"></script>
<script type="text/javascript">

    function exporttoexcel(tableid, listname) {
        var sel = document.getElementById("Test"); // Получаем наш список
        var txt = sel.options[sel.selectedIndex].text; // Получаем текст нашей опции 
        tableToExcel(tableid, txt);
    }

    function exporttoword(tableid, listname) {
        var sel = document.getElementById("Test"); // Получаем наш список
        var txt = sel.options[sel.selectedIndex].text; // Получаем текст нашей опции 
        tableToWord(tableid, txt);
    }

    function getTests(Discid) {
        $.ajax({
            url: "@Url.Action("GetTests", "Reports")",
            data: { disciplineId: Discid },
            dataType: "json",
            type: "POST",
            error: function() {
                alert("Ошибка.");
            },
            success: function (data) {
                var ul = $('#test_field ul');
                ul.empty();
                var items = "";
                //var items = "<option value=0>Выберите тест...</option>";
                $.each(data, function(i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    ul.append("<li data-raw-value=\"" + item.Value + "\">" + item.Text + "</li>");
                });
                if (ul.text() === '') {
                    items += "<option value='0'>Выберите тест</option>";
                    ul.append("<li>Не найдено ни одного теста!</li>");
                }
                $('#test_field .trigger').html("Выберите тест");
                $("#Test").html(items);
            }
        });
    }

    function getTestsResults(Testid) {
        $.ajax({
            url: "@Url.Action("GetStudentTestResult", "Reports")",
            data: { testItemId: Testid },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                var items = "";
                $.each(data.TestResults, function (i, item) {
                    var d = new Date(item.DatePass);
                    var curr_date = d.getDate();
                    var curr_month = d.getMonth()+1;
                    var curr_year = d.getFullYear();
                    items += "<tr><td>" + item.TestName + "</td>" + "<td>" + curr_date + "-" + curr_month + "-" + curr_year + "</td>" + "<td>" + item.TimePass + "</td>" + "<td>" + item.NumberTry + "</td>" + "<td>" + item.QuestCount + "</td>" + "</td>" + "<td>" + item.RightCount + "</td> " + "</td>" + "<td>" + item.Result.toFixed(2) + "%</td></tr> "
                    
                });

                if (items.length != 0) {
                    $("#result").html(items);
                    $("#resultTable").fadeIn(400);
                    $("#NoResults").hide();
                }
                else {
                    $("#resultTable").hide();
                    $("#NoResults").html("<h3>По данному тесту нет результатов!</h3>");
                    $("#NoResults").fadeIn(400);
                }
            }
        });
        }

    $("#resultTable").hide();
    $("#NoResults").hide();
    $(document).ready(function(){
        /*$("#Discipline").change(function () {
            var Discid = $("#Discipline").val();
            getTests(Discid);
        });*/
    
        $("#Discipline").fancySelect().on('change.fs', function () {
            var Discid = $("#Discipline").val();
            if (Discid != 0) {
                $('#snd').fadeIn(400);
                getTests(Discid);
            }
            else {
                $('#Discipline').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });

        /*$("#Test").change(function () {
            var Testid = $("#Test").val();
            getTestsResults(Testid);
            $("#resultTable").show();
        });*/

        $("#Test").fancySelect().on('change.fs', function () {
            var Testid = $("#Test").val();
            //var groupid = $("#Group").val();
            if (Testid != 0) {
                getTestsResults(Testid);
            }
            else {
                $('#Test').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    });
</script>
@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
@Scripts.Render("~/scripts/exportToExcel.js")
@Scripts.Render("~/scripts/exportToWord.js")
}
