﻿@model CSOK.Models.GroupDisciplineTestDropdown

@{
    ViewBag.Title = "Успеваемость по курсу";
}
@section featured {

}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Успеваемость по курсу</h2>
    @using (Html.BeginForm())
    {
        <div id="fst">
            <div class="editor-label">
                1) Выберите предмет
            </div>
            <div class="editor-field">
                @*@Html.DropDownListFor(m => m.Discipline, Model.AvailableDisciplines, new { style = "width: 150px" })*@
                <select id="Discipline"  name="Discipline">
                    <option value="">Выберите предмет</option>
                    @if (Model.AvailableDisciplines.Count() != 0)
                    {
                        foreach (var gr in Model.AvailableDisciplines)
                        {
                            <option value="@gr.Value">@gr.Text</option>
                        }
                    }
                    else{
                    <option value="0">Не найдено ни одного предмета!</option>
                    }
                </select>
            </div>
        </div>
    }
    <br />
    <div id="chart">
    </div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min"></script>
<script type="text/javascript">
    function getTests(Discid) {
        $.ajax({
            url: "@Url.Action("GetCourseProgressToChart", "Reports")",
            data: { disciplineId: Discid },
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                $("#chart").html(data);
                $("#chart").show();
            }
        });
    }
    $("#chart").hide();
    $(document).ready(function () {
        /*$("#Discipline").change(function () {
            var Discid = $("#Discipline").val();
            if (Discid != 0) {
                getTests(Discid);
            }
            //$("#chart").show();
        });*/

        $("#Discipline").fancySelect().on('change.fs', function () {
            var Discid = $("#Discipline").val();
            if (Discid != 0) {
                getTests(Discid);
            }
            else {
                $('#Discipline').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    });
</script>
@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
}