﻿<div id="test_index">
    <h2 style="color:#00AAE7; text-align:center;">Отчеты</h2>
    <table class="raised">
        <thead>
            <tr id="test_hedder">
                <th>Название</th>
                <th>Вид</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="test_name"><a href="../Reports/StudentTestsResults"><span >Результаты тестов</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/StudentAllCourseProgress"><span>Общая успеваемость</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/StudentCourseProgress"><span >Успеваемость по курсу</span></a></td><td><span>График</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/StudentAllCourseProgressChart"><span>Общая успеваемость</span></a></td><td><span>График</span></td></tr>
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/Table_row.js")
    @Scripts.Render("~/scripts/popup.js")
}
