﻿@model IEnumerable<CSOK.Models.TestProgress>
@{
    ViewBag.Title = "Общая успеваемость";
}
<div class="top_cont3"></div> 
 <div class="top_cont_question_create">
     <h2 style="text-align:center;">Общая успеваемость</h2> 
      <div id="test_index">
          @if (Model.Count()!=0){
<table border="0" cellpadding="10" width="1200" id="tableResult">
    <tr>
        <th>
            Курс
        </th>
        <th>
            Процент усвоения
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Progress)%
        </td>
    </tr>
}

</table>
              <div id="export_div">
            <div class="editor-label">
                Экспорт данных
            </div>
            <div id="button_export">
                <input type="button" onclick="tableToExcel('tableResult', 'Данные')" value="XLS">
                <input type="button" onclick="tableToWord('tableResult', 'Данные')" value="DOC">
            </div>
        </div>
          }
          else
          {
              <h4 align="center">Нет данных!</h4>
          }
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
<div class="popup tabs_info" id="details"></div>
     </div> 
      </div>
@section Scripts {
    
@Scripts.Render("~/scripts/popup.js")
@Scripts.Render("~/scripts/exportToExcel.js")
@Scripts.Render("~/scripts/exportToWord.js")
}