﻿@model IEnumerable<CSOK.Models.TestProgress>
@{
    ViewBag.Title = "StudentCourseProgressPartial";
    Layout = "";    
}
@if (Model.Count() != 0)
{
<img id="imgChart" src="@Url.Action("CourseProgressChart", "Reports", new { disciplineId = ViewBag.disciplineId })"/>

}
else
{
    <h4 style="text-align:center;">Нет данных!</h4>
}
