﻿@model IEnumerable<CSOK.Models.TestProgress>
@{
    ViewBag.Title = "Общая успеваемость";
}
<div class="top_cont3"></div> 
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Общая успеваемость</h2>
    @if(Model.Count() != 0)
    {
    <img id="imgChart" src="@Url.Action("GetStudentAllCourseProgressChart", "Reports")"/>
    }
    else
    {
        <h4 style="text-align:center;">Нет данных!</h4>
    }
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
