﻿@model IEnumerable<CSOK.Models.Question>
@{
    ViewBag.Title = "Характеристические кривые";
}
<div class="top_cont3"></div> 
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Характеристические кривые заданий</h2>
    @using (Html.BeginForm())
    {
        <div id="fst">
            <div class="structures">
                1) Выберите вопрос
            </div>
            <div>
                <select id="Question"  name="Question">
                    <option value="">Выберите вопрос</option>
                    @if (Model.Count() != 0)
                    {
                        foreach (var gr in Model)
                        {
                            <option value="@gr.ID">@gr.Body</option>
                        }
                    }
                    else
                    {
                        <option value="0">Не найдено ни одного вопроса!</option>
                    }
                </select>
            </div>
        </div>
    }
    <br />
    <div id="chart"></div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "TeacherTestAnalysisMain", "Reports", null, new { @class="button_back" })
    </div>
</div>
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min"></script>
<script type="text/javascript">
    function getICC(questid, testId) {
        $.ajax({
            url: "@Url.Action("GetTeacherRushStatNewChart", "Reports")",
            data: { questionId: questid, testItemId: testId },
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                $("#chart").html(data);
                $("#chart").fadeIn(400);
            }
        });
    }
    $("#chart").hide();
    $(document).ready(function () {
        $("#Question").fancySelect().on('change.fs', function () {
            var questid = $("#Question").val();
            var testId = @ViewBag.testItemId;
            if (questid != 0) {
                getICC(questid, testId);
            }
            else {
                $('#Question').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    });
</script>
@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
}