﻿@model IEnumerable<CSOK.Models.TestItem>
@{
    ViewBag.Title = "Анализ тестов";
    DateTime nodate = new DateTime(2000, 1, 1);
}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Анализ тестов</h2>
    @if (Model.Count() != 0)
    {
        <div id="test_index">
            <table border="0" cellpadding="10" width="1200">
                <tbody>
                    <tr>
                        <th>Предмет</th>
                        <th>Тест</th>
                        <th>Описание</th>
                        <th>Дата последнего расчета</th>
                        <th>Данные по всему тесту</th>
                        <th colspan="2">Данные по вопросам теста</th>
                    </tr>
                </tbody>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Discipline.Name</td>
                            <td>@item.Subject</td>
                            <td>@item.Description</td>
                            @if (ViewBag.calcDates[i] == nodate)
                            {
                                <td>Нет рассчитанных данных</td>
                            }
                            else
                            {
                                <td>@ViewBag.calcDates[i].Date.ToString("d")</td>
                            }
                            <td class="test_name">@Html.ActionLink("Просмотр информационной функции", "TeacherInfFunctionChart", new { testItemId=item.ID })</td>
                            <td class="test_name">@Html.ActionLink("Просмотр характеристических кривых", "TeacherRushStatOld", new { testItemId=item.ID })</td>
                            <td class="test_name">@Html.ActionLink("Новый расчет", "TeacherRushStatNew", new { testItemId=item.ID })</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4 align="center">Не найдено ни одного теста</h4>
    }
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
@section Scripts {
    
@Scripts.Render("~/scripts/popup.js")
}