﻿@model CSOK.Models.GroupDisciplineTestDropdown

@{
    ViewBag.Title = "Результаты учащихся по каждому тесту";
    List<CSOK.Models.Results> result = new List<CSOK.Models.Results>();
}
@section featured {

}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Результаты учащихся по каждому тесту</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
        <div id="fst">
        <div class="structures">
            1) Выберите группу
        </div>
        <div>
            @*@Html.DropDownListFor(m => m.Group, Model.AvailableGroups, new { style = "width: 150px" })*@
 <select id="Group"  name="Group">
                <option value="">Выберите группу</option>
            @if (Model.AvailableGroups.Count() != 0)
            {
                foreach (var gr in Model.AvailableGroups)
            {
                <option value="@gr.Value">@gr.Text</option>
            }
            }
                else{
                <option value="0">Не найдено ни одной группы!</option>
            }
                </select>
  
                @*@foreach (var gr in Model.AvailableGroups){
                <div class="trigger">@gr.Text</div>
                <ul class="options"><li data-raw-value="@gr.Value">@gr.Text</li></ul>
            }*@
        </div>
            </div>
                    </td>
       <td>
        <div id="snd" >
        <div class="editor-label">
            2) Выберите предмет
        </div>
        <div class="editor-field" id="discipline_field">
            @Html.DropDownListFor(m => m.Discipline, Model.AvailableDisciplines)
        </div>
            </div>
           </td>
    <td>
        <div id="trd" >
        <div class="editor-label">
            3) Выберите тест
        </div>
        <div class="editor-field" id="test_field">
            @Html.DropDownListFor(m => m.Test, Model.AvailableTests)
        </div>
            </div>
        </td>
                </tr>
            </table>
    }

<div id="test_index">
<div id="resultTable">
    <table border="0" cellpadding="10" width="1200" id="tableResult">
        <tbody>
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Результат
                </th>
                <th>
                    № попытки
                </th>
                <th>
                    Допустимое кол-во попыток
                </th>
            </tr>
        </tbody>
        <tbody id="result">

        </tbody>
    </table>
   
        <div id="export_div">
            <div class="editor-label">
                Экспорт данных
            </div>
            <div id="button_export">
                <input type="button" onclick="exporttoexcel('tableResult', 'Данные')" value="XLS">
                <input type="button" onclick="exporttoword('tableResult', 'Данные')" value="DOC">
            </div>
        </div>

</div>
    </div>
    <div id="NoResults" class="editor-label"></div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class = "button_back" })
    </div>
</div>
    

<script type="text/javascript">

    function exporttoexcel(tableid, listname) {
        var sel = document.getElementById("Test"); // Получаем наш список
        var txt = sel.options[sel.selectedIndex].text; // Получаем текст нашей опции 
        tableToExcel(tableid, txt);
    }

    function exporttoword(tableid, listname) {
        var sel = document.getElementById("Test"); // Получаем наш список
        var txt = sel.options[sel.selectedIndex].text; // Получаем текст нашей опции 
        tableToWord(tableid, txt);
    }

    function getDisciplines(groupid) {
        $.ajax({
            url: "@Url.Action("GetCourses", "Reports")",
            data: { groupId: groupid },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                var items = "";
                var ul = $('#discipline_field ul');
                ul.empty();
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        ul.append("<li data-raw-value=\"" + item.Value + "\">" + item.Text + "</li>");
                    });

                    if (ul.text() === '') {
                        items += "<option value='0'>Выберите предмет</option>";
                        ul.append("<li>Не найдено ни одного предмета!</li>");
                    }
                $('#discipline_field .trigger').html("Выберите предмет");
            
                $("#Discipline").html(items);
            }
        });
    }

    function getTests(Discid) {
        $.ajax({
            url: "@Url.Action("GetTests", "Reports")",
            data: { disciplineId: Discid },
            dataType: "json",
            type: "POST",
            error: function() {
                alert("Ошибка.");
            },
            success: function (data) {
                var ul = $('#test_field ul');
                ul.empty();
                var items = "";
                    $.each(data, function (i, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        ul.append("<li data-raw-value=\"" + item.Value + "\">" + item.Text + "</li>");
                    });

                    if (ul.text() === '') {
                        items += "<option value='0'>Выберите тест</option>";
                        ul.append("<li>Не найдено ни одного теста!</li>");
                    }
                    $('#test_field .trigger').html("Выберите тест");
                
                
                $("#Test").html(items);
            }
        });
    }

    function getTestsResults(Testid, groupId) {
        $.ajax({
            url: "@Url.Action("GetTeacherTestsResultsStudent", "Reports")",
            data: { testItemId: Testid, groupId: groupId },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                var items = "";
                $.each(data.TestResults, function (i, item) {
                    @{
                        string txt = "/Reports/TeacherStudentResultView/";
                        }
                    var link = "@txt" + item.Bonus;
                    var style = " class=test_name";
                    items += "<tr><td " + style + "><a href=" + link + ">" + item.StudentName + "</a></td>" + "<td>" + item.Result.toFixed(2) + "%</td>" + "<td>" + item.NumberTry + "</td>" + "<td>" + item.MaxNumberTry + "</td></tr>"
                    
                       
                });
                if (items.length != 0) {
                    $("#result").html(items);
                    $("#resultTable").fadeIn(400);
                    $("#NoResults").hide();
                }
                else {
                    $("#resultTable").hide();
                    $("#NoResults").html("<h3>По данному тесту нет результатов!</h3>");
                    $("#NoResults").fadeIn(400);
                }
            }
        });
        }

    $("#resultTable").hide();
    $("#NoResults").hide();
    $(document).ready(function () {

        $("#Group").fancySelect().on('change.fs', function () {
            var Groupid = $("#Group").val();
            if (Groupid != 0) {
                $('#snd').fadeIn(400);
                getDisciplines(Groupid);
            }
            else {
                $(this).next('.trigger').html('Выберите группу');
                $('#Group').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });

        $("#Discipline").fancySelect().on('change.fs', function () {
            var Discid = $("#Discipline").val();
            if (Discid != 0) {
                $('#trd').fadeIn(400);
                getTests(Discid);
            }
            else {
                $(this).next('.trigger').html('Выберите раздел');
                $('#Discipline').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });

        $("#Test").fancySelect().on('change.fs', function () {
            var Testid = $("#Test").val();
            var groupid = $("#Group").val();
            if (Testid != 0) {
                getTestsResults(Testid, groupid);
            }
            else {
                $(this).next('.trigger').html('Выберите тест');
                $('#Test').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    });
</script>
@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
@Scripts.Render("~/scripts/exportToExcel.js")
@Scripts.Render("~/scripts/exportToWord.js")
}