﻿@model IEnumerable<CSOK.Models.RushSatistics>
@{
    ViewBag.Title = "TeacherRushStatNewICCChartPartial";
    Layout = ""; 
}
<div class="top_cont_question_create">
@if (Model.Count() != 0)
{
    
    <img id="imgChart" src="@Url.Action("ICCChart", "Reports", new { questionId = ViewBag.questionId, testItemId = ViewBag.testItemId })" />
    if (@ViewBag.Message != "")
    {
        <table style="column-width:auto">
            <tr>
                <td>
        
        <h4 style="text-align:center;" >@ViewBag.Message</h4>
                 </td>
                </tr>
         </table>   
    }
    else
    {
        <table style="column-width:auto">
            <tr>
                <td>
        <h4 style="text-align:center;">@ViewBag.Advice</h4>
                       </td>
                </tr>
         </table>   
    }
}
else
{
    <h4 style="text-align:center;">Нет рассчитанных данных!</h4>
}
</div>