﻿@model IEnumerable<CSOK.Models.TestProgress>
@{
    ViewBag.Title = "Рейтинг студентов";
}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Общий рейтинг студентов</h2>
    <div id="test_index">
        @if (Model.Count()!=0)
        {
        <table border="0" cellpadding="10" width="1200" id="tableResult">
            <tbody>
                <tr>
                    <th>
                       ФИО студента
                    </th>
                    <th>
                       Группа
                    </th>
                    <th>
                       Успеваемость
                    </th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Group</td>
                        <td>@item.Progress%</td>
                    </tr>
                }
            </tbody>
        </table>
            <div id="export_div">
            <div class="editor-label">
                Экспорт данных
            </div>
            <div id="button_export">
                <input type="button" onclick="tableToExcel('tableResult', 'Данные')" value="XLS">
                <input type="button" onclick="tableToWord('tableResult', 'Данные')" value="DOC">
            </div>
        </div>
        }
        else
        {
            <h4 align="center">Нет данных!</h4>
        }
    </div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/exportToExcel.js")
@Scripts.Render("~/scripts/exportToWord.js")}