﻿@model IEnumerable<CSOK.Models.TestProgress>
@{
    ViewBag.Title = "TeacherAllTestsResultsChartPartial";
    Layout = "";    
}
@if(Model.Count()!=0)
{
    <img id="imgChart" src="@Url.Action("CourseProgressChart", "Reports", new { disciplineId = ViewBag.disciplineId })" />
}
else
{
    <h4 class="text" id="noResults">По данному курсу нет результатов!</h4>
}

