﻿@model IEnumerable<CSOK.Models.TestItem>
@{
    ViewBag.Title = "TeacherTestList";
}
<div class="top_cont3"></div> 
 <div class="top_cont_question_create"> 
     <h2 style="text-align:center;">Ручная проверка теста</h2>
      <div id="test_index" >
          @if (Model.Count()!=0){
<table border="0" cellpadding="10" width="1200">
    <tr>
        <th>
            Название теста
        </th>
       @* <th>
            Кол-во вопросов
        </th>*@
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="test_name">
            @Html.ActionLink(item.Subject, "TeacherResultStudentNew", new { id=item.ID })
        </td>
        @*<td>
            @item.Questions.Count()
        </td>*@
        
    </tr>
}

</table>
          }
          else
          {
              <h4 align="center">Нет данных!</h4>
          }
             <div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
<div class="popup tabs_info" id="details"></div>
     </div> 
     </div>
@section Scripts {
    
@Scripts.Render("~/scripts/popup.js")
}