﻿@model CSOK.Models.TestItemAnswer

@{
    Layout = "~/Views/Shared/_Layout_PassTest.cshtml";
    ViewBag.Title = "PassTestTraining";
}
<style>
    .icheckbox_flat-blue.checked.disabled {
        background-position: -22px 0;
    }

    .iradio_flat-blue.checked.disabled {
        background-position: -110px 0;
    }
</style>
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    @if (TempData["Check"] == "true")
    {
    <h2 class="testtopic">@Model.Subject</h2>
    }
    else
    {<h2 class="testtopic">Результаты теста:</h2>}
    <input type="hidden" name="ID" value="@Model.ID" />
    <div id="paging_container3" class="container_page">
        <ul class="alt_content">
            @{var quest = 0;}
            @{var num = 0;}
            @*@{var quest1 = 0;}*@

            @foreach (var q in Model.Questions)
            {
                string an = "";
                bool ac;
                
                <li id="test_question">
                    <table>
                        <tr>
                            <td class="question_num">
                                @{num = quest + 1;}
                                @num
                            </td>
                            <td class="check_question_body">


                                @{var qb = HttpUtility.HtmlDecode(q.Body);}
                                @Html.Raw(qb)

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.TextBoxFor(m => m.Questions[quest].ID, new { value = q.ID, style = "display: none;" })
                                @if (q.Images.Count() != 0)
                                {
                                    foreach (var k in q.Images)
                                    {
                                    <img src="@Url.Action("OutputImage", "Questions", new { id = k.ImageId })" class="imgTest" alt="image" />
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="test_question_content">
                                    @if (q.CorrectAnswer != null)
                                    {
                                        an = q.CorrectAnswer.AnswerCorrectAnswers.First(c => c.TestItemAnswer.ID == Model.ID).Body;  //ЗДЕСЬ ПАДАЕТ НА ЕГОРЕ
                                        bool ch = an != Model.Questions[quest].CorrectAnswer.Body;
                                        <table>
                                            <tr>
                                                <td>Ответ:</td>
                                                <td>
                                                Правильный ответ:<td>
                                            </tr>
                                            @if (ch)
                                            {
                                                <tr style="background-color: #FF7070">
                                                    <td>
                                                        @if (@q.CorrectAnswer.AnswerCorrectAnswers.Any(c => c.TestItemAnswer.ID == Model.ID))
                                                        {
                                                            if (@q.CorrectAnswer.AnswerCorrectAnswers.First(c => c.TestItemAnswer.ID == Model.ID).Body != null)
                                                            {
                                                                an = q.CorrectAnswer.AnswerCorrectAnswers.First(c => c.TestItemAnswer.ID == Model.ID).Body;                                                                                                                  
                                                            @q.CorrectAnswer.AnswerCorrectAnswers.First(c => c.TestItemAnswer.ID == Model.ID).Body                                                                                                    
                                                            }
                                                            else
                                                            {                             
                                                            @Html.Raw("нет ответа")                                                     
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("нет ответа")
                                                
                                                        }
                                                    </td>
                                                    <td>
                                                        @Model.Questions[quest].CorrectAnswer.Body
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        @if (@q.CorrectAnswer.AnswerCorrectAnswers.Any(c => c.TestItemAnswer.ID == Model.ID))
                                                        {
                                                            if (@q.CorrectAnswer.AnswerCorrectAnswers.First(c => c.TestItemAnswer.ID == Model.ID).Body != null)
                                                            {
                                                            @q.CorrectAnswer.AnswerCorrectAnswers.First(c => c.TestItemAnswer.ID == Model.ID).Body
                                                            }
                                                            else
                                                            {     
                                                            @Html.Raw("нет ответа")                                                     
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("нет ответа")                                              
                                                        }
                                                    </td>
                                                    <td>
                                                        @Model.Questions[quest].CorrectAnswer.Body
                                                    </td>
                                                </tr>
                                            }
                                        </table>   
                                    }
                                    @if (q.Blocks.Count() != 0)
                                    {
                                        <table>
                                            <tr>
                                                <td>Ответ:</td>
                                                <td>
                                                Правильный ответ:<td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li>

                                                            <ul class="sortablet">

                                                                @{var bl = 0;}
                                                                @foreach (var b in q.Blocks)
                                                                {
                                                                    <li class="ui-state-default">@Html.HiddenFor(m => Model.Questions[quest].Blocks[bl].AnswerBlocks[0].Order, new { @class = "order" })
                                                                        @foreach (var a in b.AnswerBlocks.Where(c => c.TestItemAnswer.ID == Model.ID))
                                                                        {
                                                                            an = a.Body;
                                                                            if (an != Model.Questions[quest].Blocks[bl].Body)
                                                                            {                                                                         
                                                                            <span style="background-color: #FF7070">@a.Body</span>                                                                          
                                                                            }
                                                                            else
                                                                            {
                                                                            <span>@a.Body</span>
                                                                            }
                                                                        }
                                                                    </li>
                                                                        bl = bl + 1;
                                                                }
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <ul class="sortablet">

                                                                @{var bll = 0;}
                                                                @foreach (var b in q.Blocks)
                                                                {
                                                                    <li class="ui-state-default">@Html.HiddenFor(m => Model.Questions[quest].Blocks[bll].AnswerBlocks[0].Order, new { @class = "order" })
                                                                          @foreach (var a in b.AnswerBlocks.Where(c => c.TestItemAnswer.ID == Model.ID))
                                                                          {
                                                                              an = a.Body;
                                                                              if (an != Model.Questions[quest].Blocks[bll].Body)
                                                                              {     
                                                                        <span style="background-color: #FF7070">@Model.Questions[quest].Blocks[bll].Body</span>
                                                                              }
                                                                              else
                                                                              {
                                                                                  <span>@Model.Questions[quest].Blocks[bll].Body</span>
                                                                              }
                                                                          }
                                                                    </li>
                                                                          bll = bll + 1;
                                                                }
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }

                                    @if (q.Excess_Blocks.Count() != 0)
                                    {
                                        <table>
                                            <tr>
                                                <td>Ответ:</td>
                                                <td>
                                                Правильный ответ:<td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li>

                                                            <ul class="sortablet">

                                                                @{var bl = 0;}
                                                                @foreach (var b in q.Excess_Blocks)
                                                                {

                                                                    foreach (var a in b.AnswerExcessBlocks.Where(c => c.TestItemAnswer.ID == Model.ID && c.IsRight == true))
                                                                    {
                                                                            <li class="ui-state-default">@Html.HiddenFor(m => Model.Questions[quest].Excess_Blocks[bl].AnswerExcessBlocks[0].Order, new { @class = "order" })
                                                                            @{an = a.Body;}
                                                                            @if (an != Model.Questions[quest].Excess_Blocks[bl].Body)
                                                                            {                                                                         
                                                                            <span style="background-color: #FF7070">@a.Body</span>                                                                          
                                                                            }
                                                                            else
                                                                            {
                                                                            <span>@a.Body</span>
                                                                            }
                                                                            </li>
                                                                    }

                                                                    bl = bl + 1;
                                                                }
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <ul class="sortablet">

                                                                @{var bll = 0;}
                                                                @foreach (var b in q.Excess_Blocks)
                                                                {

                                                                    foreach (var a in b.AnswerExcessBlocks.Where(c => c.TestItemAnswer.ID == Model.ID && c.Excess_Block.IsRight == true))
                                                                    {
                                                                              <li class="ui-state-default">@Html.HiddenFor(m => Model.Questions[quest].Excess_Blocks[bll].AnswerExcessBlocks[0].Order, new { @class = "order" })
                                                                              @{an = a.Body;}
                                                                              @if (an != Model.Questions[quest].Excess_Blocks[bll].Body)
                                                                              {     
                                                                        <span style="background-color: #FF7070">@Model.Questions[quest].Excess_Blocks[bll].Body</span>
                                                                              }
                                                                              else
                                                                              {
                                                                                  <span>@Model.Questions[quest].Excess_Blocks[bll].Body</span>
                                                                              }
                                                                              </li>
                                                                    }

                                                                    bll = bll + 1;
                                                                }
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }

                                    @if (q.CheckBoxAnswer == true)
                                    {
                                        <table>
                                            <tr>
                                                <td>Ответ:</td>
                                                <td>
                                                Правильный ответ:<td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <ul>
                                                        @{var poss = 0;}
                                                        @foreach (var k in q.PossibleAnswers)
                                                        {
                                                            <li class="li_CheckBoxAnswer">
                                                                @foreach (var a in k.AnswerPossibleAnswers.Where(c => c.TestItemAnswer.ID == Model.ID))
                                                                {
                                                                    ac = a.IsRight;
                                                                    if (!(ac == k.IsRight))
                                                                    {
                                                                    <div style="background-color: #FF7070">
                                                                        @Html.CheckBox("checkansw", a.IsRight, new { @disabled = "disabled" })
                                                                        @k.Body
                                                                    </div>
                                                                   
                                                                    }
                                                                    else
                                                                    {
                                                                       
                                                                    @Html.CheckBox("checkansw", a.IsRight, new { @disabled = "disabled" });
                                                            
                                                                    @k.Body;
                                                                    }
                                                                }
                                                                @{ poss = poss + 1; }
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul>
                                                        @{var pos = 0;}
                                                        @foreach (var k in q.PossibleAnswers)
                                                        {
                                                            
                                                            <li class="li_CheckBoxAnswer">
                                                                @foreach (var a in k.AnswerPossibleAnswers.Where(c => c.TestItemAnswer.ID == Model.ID))
                                                                {
                                                                    ac = a.IsRight;
                                                                    if (!(ac == k.IsRight))
                                                                    {
                                                                    <div style="background-color: #FF7070">
                                                                        @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[pos].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.CheckBox("checkquest", k.IsRight, new { @disabled = "disabled" })
                                                                        @k.Body
                                                                    </div>
                                                                    }
                                                                    else
                                                                    {
                                                                    @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[pos].ID, new { value = k.ID, style = "display: none;" })
                                                                    @Html.CheckBox("checkquest", k.IsRight, new { @disabled = "disabled" })
                                                                    @k.Body
                                                                        
                                                                    }
                                                                }
                                                                @{ pos = pos + 1; }
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    @if (q.RadioAnswer == true)
                                    {
                                        <table>
                                            <tr>
                                                <td>Ответ:</td>
                                                <td>
                                                Правильный ответ:<td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <ul>
                                                        @{var poss = 0;}

                                                        @foreach (var k in q.PossibleAnswers)
                                                        {
                                                            <li class="li_RadioAnswer">
                                                                @foreach (var a in k.AnswerPossibleAnswers.Where(c => c.TestItemAnswer.ID == Model.ID))
                                                                {
                                                                    ac = a.IsRight;
                                                                    if (!(ac == k.IsRight))
                                                                    {
                                                                    <div style="background-color: #FF7070">
                                                                        @Html.RadioButton(q.ID.ToString() + "a", "radioansw", a.IsRight, new { @disabled = "disabled" })
                                                                        @k.Body
                                                                    </div>
                                                                    }
                                                                    else
                                                                    {
                                                                    @Html.RadioButton(q.ID.ToString() + "a", "radioansw", a.IsRight, new { @disabled = "disabled" })
                                                                    @k.Body
                                                                    }
                                                                }
                                                                @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[poss].ID, new { value = k.ID, style = "display: none;" })
                                                                @{ poss = poss + 1; }
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul>
                                                        @{var pos = 0;}
                                                        @foreach (var k in q.PossibleAnswers)
                                                        {
                                                            <li class="li_RadioAnswer">
                                                                @foreach (var a in k.AnswerPossibleAnswers.Where(c => c.TestItemAnswer.ID == Model.ID))
                                                                {
                                                                    ac = a.IsRight;
                                                                    if (!(ac == k.IsRight))
                                                                    {
                                                                    <div style="background-color: #FF7070">
                                                                        @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[pos].ID, new { value = k.ID, style = "display: none;" })
                                                                        @Html.RadioButton(q.ID.ToString() + "q", "radioauest", k.IsRight, new { @disabled = "disabled" })
                                                                        @k.Body
                                                                    </div>
                                                                    }
                                                                    else
                                                                    {
                                                                    @Html.TextBoxFor(m => m.Questions[quest].PossibleAnswers[pos].ID, new { value = k.ID, style = "display: none;" })
                                                                    @Html.RadioButton(q.ID.ToString() + "q", "radioauest", k.IsRight, new { @disabled = "disabled" })
                                                                    @k.Body
                                                                    }
                                                                }
                                                                @{ pos = pos + 1; }
                                                            </li>
                                                        }
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                                @{quest = quest + 1;}
                            </td>
                        </tr>
                    </table>
                </li>
            }
        </ul>
            @using (Ajax.BeginForm
("ScoreEdit", "Reports", new { id = "subform" }, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "score",
    //OnSuccess="~/Scripts/jquery.unobtrusive-ajax.min.js"
    //OnBegin="~/Scripts/jquery.unobtrusive-ajax.min.js"
    //OnComplete="~/Scripts/jquery.unobtrusive-ajax.min.js"
}))
            {
                <div id="score">
        @Html.Raw("Оценка за тест:") @Model.TestScore @ViewBag.Kon<br />
                    </div>
                if (TempData["Check"] == "true")
                {
                    @*
        @Html.CheckBox("correct"); @Html.Raw("Исправить оценку за тест");*@
            <br />
      <input type="hidden" name="id" value="@Model.ID" />
                <div class="score">
        
        @Html.TextBox("score")
                    <div id="button_back">
                    <p>
                        <input type="submit" value="Исправить оценку" id="pass" class="button_back" />
                    </p>
                </div>
           </div>
                
                
            <div id="button_back">
    @Html.ActionLink("Назад к списку тестов", "TeacherTestListNew", "Reports", null, new { @class = "button_back" })
</div>
            
                }
                else
                {  
                      <div id="button_back">@Html.ActionLink("Назад к списку тестов", "TeacherTestListNew", "Reports", null, new { @class = "button_back" })</div>
                }
            }
    </div>
            	
</div>



@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/ViewResult.js")
}
