﻿@{
    ViewBag.Title = "Teacher_Reports";
}
<div id="test_index">
    <h2 style="color:#00AAE7; text-align:center;">Отчеты</h2>
    <table class="raised">
        <thead>
            <tr id="test_hedder">
                <th>Название</th>
                <th>Вид</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="test_name"><a href="../Reports/TeacherTestsResultsStudent"><span  >Результаты учащихся по каждому тесту</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherAllTestsResults"><span  >Общие результаты по всем тестам</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherTestsResults"><span >Результаты по каждому тесту</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherAllTestsResultsChart"><span >Общие результаты по всем тестам</span></a></td><td><span>График</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherThemesProgressChart"><span >Усвоение тем по тестам</span></a></td><td><span>График</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherStudentsRating"><span >Общий рейтинг студентов</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherTestListNew"><span >Ручная проверка теста</span></a></td><td><span>Таблица</span></td></tr>
            <tr><td class="test_name"><a href="../Reports/TeacherTestAnalysisMain"><span >Анализ тестов</span></a></td><td><span>График</span></td></tr>
        </tbody>
    </table>
</div>
@section Scripts {
        @Scripts.Render("~/scripts/Table_row.js")
@Scripts.Render("~/scripts/popup.js")
    }