﻿@model IEnumerable<CSOK.Models.ICCRush>
@{
    ViewBag.Title = "Информационная функция";
}
@section featured {

}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Информационная функция</h2>
    @if (Model.Count() != 0)
    {
        <img id="imgChart" src="@Url.Action("GetTeacherInfFunctionChart", "Reports", new { testItemId = ViewBag.testItemId })"/>
        <table>
            <tr><td>
        <h4 style="text-align:center;">@ViewBag.Advice</h4>
                </td></tr>
            </table>
    }
    else
    {
        <h4 style="text-align:center;">Нет рассчитанных данных!</h4>
    }
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "TeacherTestAnalysisMain", "Reports", null, new { @class="button_back" })
    </div>
</div>