﻿@model IEnumerable<float>
@{
    ViewBag.Title = "TeacherThemesProgressChartPartial";
    Layout = "";    
}
@if (Model.Count()!=0)
{
<img id="imgChart" src="@Url.Action("ThemesProgressChart", "Reports", new { testItemId = ViewBag.testItemId })"/>
}
else
{
<h4 class="text" id="noResults">По данному тесту нет результатов!</h4>
}

