﻿@model CSOK.Models.GroupDisciplineTestDropdown

@{
    ViewBag.Title = "Усвоение тем по тестам";
}
@section featured {

}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Усвоение тем по тестам</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
        <div id="fst">
            <div class="editor-label">
                1) Выберите предмет
            </div>
            <div class="editor-field">
                @*@Html.DropDownListFor(m => m.Discipline, Model.AvailableDisciplines, new { style = "width: 150px" })*@
                <select id="Discipline"  name="Discipline">
                    <option value="">Выберите предмет</option>
                    @if (Model.AvailableDisciplines.Count() != 0)
                    {
                        foreach (var gr in Model.AvailableDisciplines)
                        {
                            <option value="@gr.Value">@gr.Text</option>
                        }
                    }
                    else{
                        <option value="0">Не найдено ни одного предмета!</option>
                    }
                </select>
            </div>
        </div>
                    </td>
        <td>
        <div id="snd" >
        <div class="editor-label">
            @*@Html.LabelFor(m => m.Test)*@
            2) Выберите тест
        </div>
        <div class="editor-field" id="test_field">
            @Html.DropDownListFor(m => m.Test, Model.AvailableTests, new { style = "width: 150px" })
        </div>
        </div>
            </td>
                </tr>
        </table>
    }
    <br />
    <div id="chart">
    </div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class = "button_back" })
    </div>
</div>
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min"></script>
<script type="text/javascript">
    function getChart(testid) {
        $.ajax({
            url: "@Url.Action("GetTeacherThemesProgressChart", "Reports")",
            data: { testItemId: testid },
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                $("#chart").html(data);
                $("#chart").fadeIn(400);
            }
        });
    }
    function getTests(Discid) {
        $.ajax({
            url: "@Url.Action("GetTests", "Reports")",
            data: { disciplineId: Discid },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                var ul = $('#test_field ul');
                ul.empty();
                var items = "";
                //var items = "<option value=0>Выберите тест...</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    ul.append("<li data-raw-value=\"" + item.Value + "\">" + item.Text + "</li>");
                });
                if (ul.text() === '') {
                    items += "<option value='0'>Выберите тест</option>";
                    ul.append("<li>Не найдено ни одного теста!</li>");
                }
                $('#test_field .trigger').html("Выберите тест");

                $("#Test").html(items);
            }
        });
    }
    $("#chart").hide();
    $(document).ready(function () {
        /*$("#Discipline").change(function () {
            var Discid = $("#Discipline").val();
            getTests(Discid);
        });*/
        $("#Discipline").fancySelect().on('change.fs', function () {
            var Discid = $("#Discipline").val();
            if (Discid != 0) {
                $('#snd').fadeIn(400);
                getTests(Discid);
            }
            else {
                $('#Discipline').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    /*});
    $(document).ready(function () {
        $("#Test").change(function () {
            var testid = $("#Test").val();
            getChart(testid);
            $("#chart").show();
        });*/

        $("#Test").fancySelect().on('change.fs', function () {
            var testid = $("#Test").val();
            if (testid != 0) {
                getChart(testid);
            }
            else {
                $('#Discipline').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    });
</script>
@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
}