﻿@model CSOK.Models.GroupDisciplineTestDropdown

@{
    ViewBag.Title = "Результаты по каждому тесту";
    List<CSOK.Models.Results> result = new List<CSOK.Models.Results>();
}
@section featured {

}
<div class="top_cont3"></div>
<div class="top_cont_question_create">
    <h2 style="text-align:center;">Результаты по каждому тесту</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
        <div id="fst">
            <div class="editor-label">
                1) Выберите предмет
            </div>
            <div >
                @*@Html.DropDownListFor(m => m.Discipline, Model.AvailableDisciplines, new { style = "width: 150px" })*@
                <select id="Discipline"  name="Discipline">
                    <option value="">Выберите предмет</option>
                    @if (Model.AvailableDisciplines.Count() != 0)
                    {
                        foreach (var dis in Model.AvailableDisciplines)
                    {
                        <option value="@dis.Value">@dis.Text</option>
                    }
                    }
                        else{
                        <option value="0">Не найдено ни одного предмета!</option>
                    }
                </select>
            </div>
        </div>
                    </td>
        <td>
        <div id="snd" >
            <div class="editor-label">
                2) Выберите тест
            </div>
            <div class="editor-field" id="test_field">
                @Html.DropDownListFor(m => m.Test, Model.AvailableTests, new { style = "width: 150px" })
            </div>
        </div>
            </td>
                </tr>
            </table>
    }

    <div id="test">
        <div id="test_index">
        <div id="resultTable">
            <table border="0" cellpadding="10" width="1200" id="tableResult">
                <tbody>
                    <tr>
                        <th>
                            № вопроса
                        </th>
                        <th>
                            Тема
                        </th>
                        <th>
                            Вопрос
                        </th>
                        <th>
                            Кол-во верных ответов
                        </th>
                        <th>
                            Кол-во неверных ответов
                        </th>
                        <th>
                            Доля верных ответов
                        </th>
                    </tr>
                </tbody>
                <tbody id="result">
                </tbody>
                </table>
            
         </div>
        </div>
   
    
    <div id="testDates">
                <table id="tableResult">
                    <tr>
                        <td>Дата открытия теста</td>
                        <td id ="DateOpen"></td>
                    </tr>
                    <tr>
                        <td>Дата закрытия теста</td>
                        <td id ="DateClose"></td>
                    </tr>
                    <tr>
                        <td>Средний балл</td>
                        <td id ="AverPoint"></td>
                    </tr>
                    <tr>
                        <td>Количество попыток прохождения теста</td>
                        <td id ="Try"></td>
                    </tr>
                </table>
        
            </div>
        </div>
    <br />
    <div id="export_div">
            <div class="editor-label">
                Экспорт данных
            </div>
            <div id="button_export">
                <input type="button" onclick="exporttoexcel('test', 'Данные')" value="XLS">
                <input type="button" onclick="exporttoword('test', 'Данные')" value="DOC">
                
            </div>
        
        </div>
    
    <div id="NoResults" class="editor-label"></div>
</div>
<div class="top_cont_question_create">
    <div id="button_back">
        @Html.ActionLink("Назад", "Index", "Reports", null, new { @class="button_back" })
    </div>
</div>
    
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min"></script>
<script type="text/javascript">
    function getTests(Discid) {
        $.ajax({
            url: "@Url.Action("GetTests", "Reports")",
            data: { disciplineId: Discid },
            dataType: "json",
            type: "POST",
            error: function() {
                alert("Ошибка.");
            },
            success: function (data) {
                var ul = $('#test_field ul');
                ul.empty();
                var items = "";
                //var items = "<option value=0>Выберите тест...</option>";
                $.each(data, function(i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    ul.append("<li data-raw-value=\"" + item.Value + "\">" + item.Text + "</li>");
                });
                if (ul.text() === '') {
                    items += "<option value='0'>Выберите тест</option>";
                    ul.append("<li>Не найдено ни одного теста!</li>");
                }
                $('#test_field .trigger').html("Выберите тест");

                $("#Test").html(items);
            }
        });
    }

    function getTestsResults(Testid) {
        $.ajax({
            url: "@Url.Action("GetTeacherTestResult", "Reports")",
            data: { testItemId: Testid },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                var items = "";
                $.each(data.TestResults, function (i, item) {
                    
                    items += "<tr><td>" + item.QuestionId + "</td>" + "<td>" + item.QuestionSubject + "</td>" + "<td>" + item.QuestionBody + "</td>" + "<td>" + item.RightCount + "</td>" + "<td>" + item.WrongCount + "</td> " + "<td>" + item.Result.toFixed(2) + "%</td></tr> "

                });
                $("#result").html(items);
                if (items.length != 0) {
                    $("#result").html(items);
                    $("#resultTable").fadeIn(400);
                    $("#testDates").fadeIn(400);
                    $("#export_div").fadeIn(400);
                    var Testid = $("#Test").val();
                    getTestsDates(Testid);
                    $("#NoResults").hide();
                }
                else {
                    $("#resultTable").hide();
                    $("#testDates").hide();
                    $("#export_div").hide();
                    $("#NoResults").html("<h3>По данному тесту нет результатов!</h3>");
                    $("#NoResults").fadeIn(400);
                }
            }
        });
    }

    function getTestsDates(Testid) {
        $.ajax({
            url: "@Url.Action("GetTeacherTestDates", "Reports")",
            data: { testItemId: Testid },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("Ошибка.");
            },
            success: function (data) {
                var open = "";
                var close = "";
                var averpoint = "";
                $.each(data.TestResults, function (i, item) {
                    var dopen = new Date(item.DateOpen);
                    var curr_date_open = dopen.getDate();
                    var curr_month_open = dopen.getMonth() + 1;
                    var curr_year_open = dopen.getFullYear();
                    var dclose = new Date(item.DateClose);
                    var curr_date_close = dclose.getDate();
                    var curr_month_close = dclose.getMonth() + 1;
                    var curr_year_close = dclose.getFullYear();
                    open = curr_date_open + "-" + curr_month_open + "-" + curr_year_open;
                    close = curr_date_close + "-" + curr_month_close + "-" + curr_year_close;
                    averpoint = item.AveragePoint.toFixed(2);
                    trynum = item.NumberTry;
                });
                $("#DateOpen").html(open);
                $("#DateClose").html(close);
                $("#AverPoint").html(averpoint);
                $("#Try").html(trynum);
            }
        });
    }

    function exporttoexcel(tableid, listname) {
        var sel = document.getElementById("Test"); // Получаем наш список
        var txt = sel.options[sel.selectedIndex].text; // Получаем текст нашей опции 
        tableToExcel(tableid, txt);
    }

    function exporttoword(tableid, listname) {
        var sel = document.getElementById("Test"); // Получаем наш список
        var txt = sel.options[sel.selectedIndex].text; // Получаем текст нашей опции 
        tableToWord(tableid, txt);
    }

    $("#resultTable").hide();
    $("#NoResults").hide();
    $("#testDates").hide();
    $("#export_div").hide();
    
    $(document).ready(function(){
        /*$("#Discipline").change(function () {
            var Discid = $("#Discipline").val();
            getTests(Discid);
        });*/

        $("#Discipline").fancySelect().on('change.fs', function () {
            var Discid = $("#Discipline").val();
            if (Discid != 0) {
                $('#snd').fadeIn(400);
                getTests(Discid);
            }
            else {
                $('#Discipline').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    
        /*$("#Test").change(function () {
            var Testid = $("#Test").val();
            getTestsResults(Testid);
            $("#resultTable").show();
        });*/

        $("#Test").fancySelect().on('change.fs', function () {
            var Testid = $("#Test").val();
            if (Testid != 0) {
                
                getTestsResults(Testid);
                

            }
            else {
                $('#Test').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });
    
        /*$("#Test").change(function () {
            var Testid = $("#Test").val();
            getTestsDates(Testid);
            $("#testDates").show();
        });

        $("#Test").fancySelect().on('change.fs', function () {
            var Testid = $("#Test").val();
            if (Testid != 0) {
                getTestsResults(Testid);
            }
            else {
                $('#Test').closest('select').next().next().find('li').removeClass('selected');
                return false;
            }
        });*/
    });
</script>
@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
@Scripts.Render("~/scripts/exportToExcel.js")
@Scripts.Render("~/scripts/exportToWord.js")

}