﻿@model CSOK.Models.TestItem
@{
    ViewBag.Title = "TeacherResultStudent";
}
@section featured {

}
<div class="top_cont3"></div>

<div class="top_cont_question_create">
    <div id="test_index">
        <table border="0" style="padding:10px; width:96%; font-size:18px">
            <tr>
                <th></th>
                <th>ФИО
                </th>
                <th>Результат
                </th>
                <th>Проблемные зоны
                </th>
                <th>№ попытки
                </th>
                <th>
                    Дата прохждения
                </th>
                <th>Допустимое кол-во попыток
                </th>
                <th>Кол-во попыток в режиме обучения
                </th>
                @*<th>
            Бонусы
        </th>*@
            </tr>
            @foreach (var item in Model.TestItemAnswers)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Ручная проверка", "TeacherStudentResultView", new { id = item.ID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestScore)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentAttempt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.EndtDateTime)
                    </td>
                    <td></td>
                    <td></td>
                    @*<td></td>*@
              

                </tr>
       
            }
        </table>
        <!--<h3 class="text" id="text1">@ViewBag.Message</h3>-->

        <div id="button_back">
            @Html.ActionLink("Назад", "TeacherTestListNew", "Reports", null, new {@class="button_back" })
        </div>
    </div>
</div>
