﻿@model CSOK.Models.News
@{
    Layout = null;
    ViewBag.Title = "Create";
}

<script src="/Scripts/tabs_func.js"></script>
<a class="close" onclick="close_popup();">Close</a>
<h2>Добавление новости</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "create_news_form"}))
{
    
    <div class="editor-label">
        Введите заголовок:
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Title)
    </div>
    <div class="editor-label">
        Введите новость:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Content)
    </div>
    <p>
        <input type="submit" value="Добавить новость" class="create_button" />
    </p>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
    type="text/javascript"></script>
<script src="~/Scripts/Valid.js"></script>
