﻿@model CSOK.Models.News

@{
    Layout = null;
    ViewBag.Title = "Delete";
}



<h3>Вы действительно хотите удалить эту новость?</h3>


@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" class="create_button"/> 
        
    </p>
}

