﻿@model CSOK.Controllers.Entrie
@{
    Layout = null;
    ViewBag.Title = "Подрбнее о новости";
}

<script src="/Scripts/tabs_func.js"></script>

<h2 style="text-decoration: underline">Подробности новости</h2>

    <a class="close" onclick="close_popup();">Close</a>
    
    <table border="0" >
        <tr>
        <th>
            <span style="color: #00AAE7">Заголовок:</span> @Model.Title
        </th>  
    </tr>
    <tr>
        <th>
            <span style="color: #00AAE7">Содержание:</span> @Model.Content  
        </th>  
    </tr>
        <tr>
        <th>
            <span style="color: #00AAE7">Автор:</span> @Model.Name 
        </th>   
    </tr>  
    <tr>
        <th>
           <span style="color: #00AAE7">Время публикации: </span> @Model.DateTimeOfCreation
        </th>  
    </tr>   
</table>
    @if(ViewBag.Role != null)
    {
        @Html.Partial((string)@ViewBag.Role);
    }
    


