﻿@model CSOK.Models.News

@{
    Layout = null;
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>

@using (Html.BeginForm()) {
    
    <h3>Введите соответствующие изменения:</h3>
    
        @Html.DisplayFor(model => model.DateTimeOfCreation)
        @Html.HiddenFor(model => model.Author)
        <div class="editor-label">
            Введите заголовок:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
           
        </div>

        <div class="editor-label">
            Введите текст:
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content)
   
        </div>
    

        <p>
            <input type="submit" value="Сохранить изменения" class="create_button" />
        </p>
    
}

<script src="~/Scripts/Valid.js"></script>



