﻿@{
    ViewBag.Title = "Новости";
    
}


@if (ViewBag.message_success != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message_success</p></div></div>
}

<div class="top_cont3"></div> 
<div class="top_cont_question_create">
     @if(ViewBag.Role != null)
    {
        @Html.Partial((string)@ViewBag.Role);
    }


<table  style="width:80%; margin-top: 30px;" id="news">
    <tr class="news_header"> 
        <th colspan="3">Новости</th>
    </tr>
    @{var i =0;}
@foreach (var entry in ViewBag.Entries)
{

    <tr class="first_tr">
        <td class="publication">
            Дата публикации: @entry.DateTimeOfCreation 
        </td>
        <td class="title">
          @{
    string tmp = entry.Title;
    string str = "";
           }
           @if (tmp.Length > 20)
           {
               str = tmp.Substring(0, 20) + "...";
           }
           else
           {
               str = tmp;
           }
           @Ajax.ActionLink(str, "Details", "News", new { Num_of_news = entry.Num_of_news }, new AjaxOptions
                {
                    UpdateTargetId = "details", // <-- DOM element ID to update
                    InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                    HttpMethod = "GET" // <-- HTTP method
                }, new { @class = "show_popup", @rel = "tabs_info", @title = "Подробнее о новости", @style = "text-decoration:none;" })
            </td>
        <td class="empty"></td>
        </tr>
    
         <tr><td class="content" colspan="3">

           @{
    string tmp2 = entry.Content;
    string str2 = "";
           }
           @if (tmp2.Length > 350)
           {
               str2 = tmp2.Substring(0, 350) + "...";
           }
           else
           {
               str2 = tmp2;
           }
             @str2
             </td></tr>
             <tr><td class="sign" colspan="3">
         Автор: @entry.Name
                 </td></tr>
           if (i != ViewBag.Entries.Count - 1)
           { 
    <tr>
         
        <td colspan="3" style="padding:0">
            <hr style="background-color:#0094ff; width: 100%;"/>
        </td>
    </tr>
           }
i++;

}
</table>
    <div id="button_back">
    @Html.ActionLink("На главную", "Index", "Home", null, new {@class="button_back" })
</div>  
</div>