﻿<div class="selectTabs">
			<ul class="lineTabs">
				<li class="active">
                    @Ajax.ActionLink("Изменить", "Edit", new { Num_of_news = Model.Num_of_news }, new AjaxOptions
                 {
                     UpdateTargetId = "edit", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new { @class = "show_tab" })

				</li>
				<li>
                    @Ajax.ActionLink("Удалить", "Delete", new { Num_of_news = Model.Num_of_news }, new AjaxOptions
                 {
                     UpdateTargetId="delete", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new { @class = "show_tab" })

				</li>
			</ul>
			<div class="tab_content">
				<div class="tab1"></div>
				<div class="tab2"></div>
			</div>
		</div>

