﻿@{
    ViewBag.Title = "pTeacher";
    Layout = null;
}
@model List<CSOK.Models.CourseSection>
<script>
    var disciplineId = @ViewBag.DisciplineId
</script>
<div style="float: left; width: 20%;">
    <div style="margin:5px;" onclick="addSectionInit()" class="btn btn-primary">Добавить раздел</div>
    <div style="margin:5px;" onclick="addThemeInit()" class="btn btn-primary">Добавить тему</div>
</div>
<div id="teacherSectTable">
    @foreach (var sect in Model)
    {
        <div data-type="section" data-section-id="@sect.Id" data-section-name="@sect.Name">
            <div class="sectionBlock">@sect.Name <a onclick="deleteSection(@sect.Id)">Удалить</a></div>
            <ul data-type="themes">
                @foreach (var theme in sect.Themes)
                {
                    <li data-type="theme" data-theme-id="@theme.Id">@theme.Name <a onclick="deleteTheme(@theme.Id)">Удалить</a></li>
                }
            </ul>
        </div>
    }
</div>
