﻿@{
    ViewBag.Title = "Student";
}
@model List<CSOK.Models.CoursesModel>
<link href="~/Content/courses.css" rel="stylesheet" />

<div class="courses">
    <h2>Мои курсы - @ViewBag.CoursName</h2>
    <table class="table table-bordered">
        <tr>
            <td>Название дисциплины</td>
            <td>Тип занятия</td>
            <td>Имя преподавателя</td>
        </tr>
        @foreach (var course in Model)
        {
            <tr>
                <td><a href="/courses/studentDetails?id=@course.Id">@course.Name</a></td>
                <td>@course.CourseType</td>
                <td>@course.TeacherName</td>
            </tr>
        }
    </table>
</div>
