﻿@{
    ViewBag.Title = "StudentDetails";
}
@model List<CSOK.Models.CourseSection>
<link href="~/Content/courses.css" rel="stylesheet" />

<div class="courses">
    <h2>Мой курс </h2>
    @foreach (var sect in Model)
    {
        @sect.Name
        <ul>
            @foreach (var theme in sect.Themes)
            {
                <li>@theme.Name</li>
            }
        </ul>
    }
    </div>
