﻿@{
    ViewBag.Title = "Teacher";
}
@model Dictionary<int, string>
<script src="~/Scripts/Courses.js"></script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/courses.css" rel="stylesheet" />
<style>
    
</style>
<div class="courses">
    <h2>Мои курсы</h2>
    <ul style="float: left; position: relative; width: 20%" class="nav nav-pills">
        @foreach (var course in Model)
        {
            <li class="active"><a href="javascript:openCourse(@course.Key)">@course.Value</a></li>
        }
    </ul>
    <div style="float: left; position: relative; width: 69%; margin-left:10%;" id="partialContent">Выберите дисциплину</div>
    <div style="clear:both;"></div>
</div>
@section overlay
{
    <div class="mask" onclick="closeMask()"></div>
    <div class="addSection mymodal">
        <input type="text" id="addedSectionName" placeholder="Название секции" />
        <button class="saveMe">Добавить</button>
    </div>
    <div class="addTheme mymodal">
        <select id="sectionsList"></select>
        <input type="text" id="addedThemeName" placeholder="Название темы" />
        <button class="saveMe">Добавить</button>
    </div>
}
 