﻿@model CSOK.Models.LocalPasswordModel

@*<h3>Смена пароля</h3>*@

<script>
    $(document).ready(function () {
        $('input[type=text], input[type=password]').not("#OldPassword").tooltip({
            show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
            position: {
                my: "center bottom-20",
                at: "right+55 top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }

            }
        }).off("mouseover mouseout");
        $('#OldPassword').tooltip({
            show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this).css("left", "50%");
                }

            }
        }).off("mouseover mouseout");
        $('.FlowupLabels').FlowupLabels({
            /*
            These are all the default values
            You may exclude any/all of these options
            if you won't be changing them
             */
            // Handles the possibility of having input boxes prefilled on page load
            feature_onInitLoad: false,

            // Class when focusing an input
            class_focused: 'focused',
            // Class when an input has text entered
            class_populated: 'populated'
        });

        $("input[type=text], input[type=password]").focus(function () {
            //можно открыть комменты для позиционирования точки
            //var n = this;
            // var left = 0;
            var element = $(this);

            //if (element.val() === '') {
            //    element.after($('.spinner_caret').show().css({ "position": "relative", "top": "14px", "right": "7px" }));
            //}
            // else {
            //setTimeout(function () {
            //   left = getCaret(n);
            if (element.val() === '') element.after($('.spinner_caret').show().css({ "top": "9px", "right": "14px" }));

            //  }, 1);


            // }
        });
    });
</script>
       <div class="spinner_caret" hidden>
  <div class="double-bounce1"></div>
</div>
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "FlowupLabels" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="padding-left: 420px;">Форма изменения пароля</legend>
        <table class="inputs">
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.OldPassword, new { @class="fl_label"})
                
                @Html.PasswordFor(m => m.OldPassword, new { @title = "Ваш существующий пароль", @class="fl_input" })
                </td><td>
                    @Html.ValidationMessageFor(m => m.OldPassword)
                    </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.NewPassword, new { @class="fl_label"})
                
                @Html.PasswordFor(m => m.NewPassword, new { @title = "Ваш новый пароль (не менее 8 символов)", @class="fl_input" })
                </td><td>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                    </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class="fl_label"})
                
                @Html.PasswordFor(m => m.ConfirmPassword, new { @title = "Подтвердите новый пароль", @class="fl_input" })
                </td><td>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </td></tr>
           </table>
        <br />
        <input type="submit" value="Смена пароля" class="create_button" />
   </fieldset>
}
