﻿@model CSOK.Models.LoginModel

@{
    ViewBag.Title = "Выполнить вход";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<script>
    $(document).ready(function () {
        $('#UserName').tooltip({
            show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
            position: {
                my: "center bottom-20",
                at: "left top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }

            }
            }).off("mouseover mouseout");
        $('.FlowupLabels').FlowupLabels({
            /*
            These are all the default values
            You may exclude any/all of these options
            if you won't be changing them
             */
            // Handles the possibility of having input boxes prefilled on page load
            feature_onInitLoad: false,

            // Class when focusing an input
            class_focused: 'focused',
            // Class when an input has text entered
            class_populated: 'populated'
        });
        
        $("input[type=text], input[type=password]").focus(function () {
            //можно открыть комменты для позиционирования точки
            //var n = this;
            // var left = 0;
            var element = $(this);

            //if (element.val() === '') {
            //    element.after($('.spinner_caret').show().css({ "position": "relative", "top": "14px", "right": "7px" }));
            //}
            // else {
            //setTimeout(function () {
            //   left = getCaret(n);
            if (element.val() === '') element.after($('.spinner_caret').show().css({ "top": "9px", "right": "14px" }));

            //  }, 1);


            // }
        });
    });
</script>
@if (ViewBag.message_success != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message_success</p></div></div>
}
     <div class="top_cont3">
        </div>
   <div class="top_cont_question_create">
              <div class="spinner_caret" hidden>
  <div class="double-bounce1"></div>
</div>
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "FlowupLabels" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

 
 
        <fieldset>
        <legend> Форма входа </legend>
        
            
        <table class="inputs">
            <tr>
                <td class="fl_wrap">
                @Html.LabelFor(m => m.UserName, new { @class="fl_label"})
                    
                @Html.TextBoxFor(m => m.UserName, new { @title = "Если Вы студент - введите Ваш логин в формате: 'год поступления_буква факультета_номер кафедры_ФамилияИ.О.' Если вы преподаватель - 'номер кафедры_ФамилияИ.О.' "  , @class="fl_input"})
            </td>
                <td>
                @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.Password, new { @class="fl_label"})
                
                @Html.PasswordFor(m => m.Password, new { @*@title = "Ваш пароль"*@ @class="fl_input"})
                </td><td>
                @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr><td>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
          </td>
            </tr>
             </table>   
      <div id="login_button">
          <input type="submit" value="Выполнить вход" class="button_test" />
          
   </div>
</fieldset>
    <div id="button_back">
        @Html.ActionLink("Оставить заявку на регистрацию", "RequestOfRegister", null, new { @class="button_back"})
    </div>
    <br />
        

}

</div>
<script>
    //setTimeout(function () {
        $('input').each(function (ind, elem) {
            //if ($(elem).val() != '') {
                $(elem).parent('.fl_wrap').addClass('populated');
            //}
        });
    //}, 300);
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/focus.js")
}
