﻿@model CSOK.Models.LocalPasswordModel
@{
    ViewBag.Title = "Управление учетной записью";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<div class="top_cont3"></div>
<div class="top_cont_question_create">
<p class="message-success">@ViewBag.StatusMessage</p>

<p style="font-style:italic">Вы вошли как <strong style="color:red;">@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Добавить внешнюю учетную запись</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/focus.js")
}
