﻿@model CSOK.Models.RegisterModel
@{
    ViewBag.Title = "Заявка на регистрацию";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" >
<script src="~/Scripts/jquery.datetimepicker.js"></script>

<script src="~/Scripts/Valid.js"></script>
<script>
    //function getCaret(el) {
    //    if (el.selectionStart) {
    //        return el.selectionStart;
    //    } else if (document.selection) {
    //        el.focus();

    //        var r = document.selection.createRange();
    //        if (r == null) {
    //            return 0;
    //        }

    //        var re = el.createTextRange(),
    //            rc = re.duplicate();
    //        re.moveToBookmark(r.getBookmark());
    //        rc.setEndPoint('EndToStart', re);

    //        return rc.text.length;
    //    }
    //    return 0;
    //}
    $(document).ready(function () {
        $('.fl_label').click(function () {
            $(this).next().focus();
        });
        $('input[type=text], input[type=password]').not('#Name').tooltip({
            show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
            position: {
                my: "center bottom-20",
                at: "right+55 top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }
                
            }
        }).off("mouseover mouseout");
        $('#Name').tooltip({
            show: { effect: "drop", delay: 0, duration: 400, easing: "easeInOutBack" },
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this).css("left", "50%");
                }

            }
        }).off("mouseover mouseout");
        $('.FlowupLabels').FlowupLabels({
            /*
            These are all the default values
            You may exclude any/all of these options
            if you won't be changing them
             */
            // Handles the possibility of having input boxes prefilled on page load
            feature_onInitLoad: false,

            // Class when focusing an input
            class_focused: 'focused',
            // Class when an input has text entered
            class_populated: 'populated'
        });
        var a1 = $('#LastName');
        a1.removeAttrs("id name");
        $('#regist').click(function () {
            a1.attr('id', 'LastName');
            a1.attr('name', 'LastName');
        });


        $("input[type=text], input[type=password]").focus(function () {
            //можно открыть комменты для позиционирования точки
            //var n = this;
           // var left = 0;
            var element = $(this);
            
            //if (element.val() === '') {
            //    element.after($('.spinner_caret').show().css({ "position": "relative", "top": "14px", "right": "7px" }));
            //}
           // else {
                //setTimeout(function () {
                 //   left = getCaret(n);
            if (element.val() === '') element.after($('.spinner_caret').show().css({ "top": "9px", "right": "14px" }));

              //  }, 1);

                
           // }
        });
        
    });

</script>

@using (Html.BeginForm(null,null, FormMethod.Post, new { @class="FlowupLabels", @id="reg_form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     <div class="top_cont3">
        </div> 
       <div class="top_cont_question_create">
       <div class="spinner_caret" hidden>
  <div class="double-bounce1"></div>
</div>

		
		
             <fieldset>
        <legend  style="padding-left: 420px;">Форма регистрации</legend>
        <table class="inputs">
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.Name, new { @class="fl_label"})
                
                @Html.TextBoxFor(m => m.Name, new { @title = "Введите Вашу фамилию по-русски с заглавной буквы" , @class="fl_input"})
                </td><td>
                    &nbsp<label for="Name" class="error" generated="true"></label>
             @* @Html.ValidationMessageFor(m => m.Name)*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.FirstName, new { @class="fl_label"})
                
                @Html.TextBoxFor(m => m.FirstName, new { @title = "Введите Ваше имя по-русски с заглавной буквы", @class="fl_input" })
                </td><td>
                    &nbsp<label for="FirstName" class="error" generated="true"></label>
              @*@Html.ValidationMessageFor(m => m.FirstName)*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.LastName, new { @class="fl_label", id="otch"})
                
                @Html.TextBoxFor(m => m.LastName, new { @title = "Введите Ваше отчество по-русски с заглавной буквы", @class="fl_input", @autocomplete="off" })
              </td><td>
                  &nbsp<label for="LastName" class="error" generated="true"></label>
                @*@Html.ValidationMessageFor(m => m.LastName)*@
                  @*<label for="LastName" class="error" generated="true"></label>*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.Password, new { @class="fl_label"})
                
                @Html.PasswordFor(m => m.Password, new { @title = "Не менее 8 символов", @class="fl_input", @autocomplete="off" })
                </td><td>
                    &nbsp<label for="Password" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Password)*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class="fl_label"})
                
                @Html.PasswordFor(m => m.ConfirmPassword, new { @*@title = "Подтвердите пароль"*@ @class="fl_input"})
                    </td><td>
                        &nbsp<label for="ConfirmPassword" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.ConfirmPassword)*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.Email, new { @class="fl_label"})
                
                @Html.TextBoxFor(m => m.Email, new { @*@title = "Введите корректный E-mail"*@ @class="fl_input"})
                </td><td>
                    &nbsp<label for="Email" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Email)*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.LabelFor(m => m.Num_of_sub_faculty, new { @class="fl_label"})
                
                @Html.TextBoxFor(m => m.Num_of_sub_faculty, new { @*@title = "Введите номер кафедры"*@  @class="fl_input"})
                </td><td>
                    &nbsp<label for="Num_of_sub_faculty" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Num_of_sub_faculty)*@
                </td></tr>
            <tr><td class="fl_wrap">
                @Html.Label("Дата рождения", new { @class="fl_label"})
                <input type="text" class="fl_input" id="YOB" name="YOB" />
                @*<label for="YOB" class="error" generated="true"></label>*@
                @*@Html.TextBoxFor(m => m.YOB, new { @class = "fl_input"})*@
                </td><td>
                    &nbsp<label for="YOB" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.YOB)*@
                </td></tr>
            <tr><td>
             <label id="Student">
            @Html.CheckBox("Name1", new { id = "regtypest" }) Я - студент</label>
                </td></tr>
            @*<div class ="Register_Student" hidden>*@
            <tr class ="Register_Student" hidden><td class="fl_wrap">
                @Html.LabelFor(m => m.Num_of_record_book, new { @title = "Не менее 6 символов", @class="fl_label" })
                
                @Html.TextBoxFor(m => m.Num_of_record_book, new{ @class="fl_input"})
                </td><td>
                    &nbsp<label for="Num_of_record_book" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Num_of_record_book)*@
                </td></tr>
            <tr class ="Register_Student" hidden><td class="fl_wrap">
                @Html.LabelFor(m => m.Num_of_group, new { @class="fl_label"})
                @Html.TextBoxFor(m => m.Num_of_group, new{ @class="fl_input"})
                </td><td>
                    &nbsp<label for="Num_of_group" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Num_of_group)*@
                </td></tr>
            <tr class ="Register_Student" hidden><td class="fl_wrap">
                @Html.LabelFor(m => m.Year, new { @class="fl_label"})
               
                @Html.TextBoxFor(m => m.Year, new{ @class="fl_input"})
                </td><td>
                    &nbsp<label for="Year" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Year)*@
                </td></tr>
            
            @*</div>*@
                <tr><td>
             <label id="Teacher">
            @Html.CheckBox("Name2", new { id = "regtypepr" }) Я - преподаватель</label>
                    </td></tr>
    
             @*<div class ="Register_Teacher" hidden>*@
            <tr class ="Register_Teacher" hidden><td class="fl_wrap">
                @Html.LabelFor(m => m.Rank, new { @class="fl_label"})
                
                @Html.TextBoxFor(m => m.Rank, new{ @class="fl_input"})
                </td><td>
                    &nbsp<label for="Rank" class="error" generated="true"></label>
                    @*@Html.ValidationMessageFor(m => m.Rank)*@
                </td></tr>
            <tr class ="Register_Teacher" hidden><td class="fl_wrap">
                @Html.LabelFor(m => m.Post, new { @class="fl_label"})
                
                @Html.TextBoxFor(m => m.Post, new{ @class="fl_input"})
               </td><td>
                   &nbsp<label for="Post" class="error" generated="true"></label>
                     @*@Html.ValidationMessageFor(m => m.Post)*@
                </td></tr>
                    
            @*</div>*@
    
        </table>


<div id="login_button">      
    <input type="submit" value="Регистрация" class="button_test" id="regist" /></div>
           </fieldset>
    </div>
}
<script>

    $('#otch').click(function () {
        $(this).next().focus();
    });
    $("#YOB").datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        yearStart: 1900,
        onShow: function () {
            $(this).fadeIn(400);
        },
        onSelectDate: function () {
            $(this).blur();
        },
    });
    setTimeout(function () {
        $('input[type=text], input[type=password]').each(function (ind, elem) {
            if ($(elem).val() != '') {
                $(elem).parent('.fl_wrap').addClass('populated');
            }
        });
    }, 100);
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/QuestionCreate.js")
    @Scripts.Render("~/scripts/tooltip.js")
    @Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/focus.js")
}
