﻿@charset "utf-8";
/* CSS Document */

html {width:100%; height:100%;}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:25px;
	color:#F3F3F3;
	min-width:1249px;
    min-height:100%;
    height:100%;
 position:relative;
	background:url(./im/images/1_04.jpg) repeat-x,
    url(./im/images/fon.jpg) ;
    padding:0; 
    margin:0

    
	
	
}


/*header {
	background-color: #FFF;
	background-image: url(./im/images/1_04.jpg);
	margin: -15px;
	padding: -15px;
    
}*/

.footer4
{
    width:100% ;
    background-color:#000;
 bottom:0; 
 left:0;
 text-align: center;
 margin-bottom:-25px;
}



    .footer4 p
    {
        font-size:20px;
    }
.inputs .valid
{
    box-shadow:0 0 10px #4cff00; -webkit-box-shadow:0 0 10px #4cff00; -moz-box-shadow:0 0 10px #4cff00;
        
}


.container {
	margin-left: auto;
	margin-right: auto;
	width: 1249px;
	background-color: #FFF;
    min-height:100%;

	
}

.container   .top_cont{
	background-image: url(./im/images/new0-02.jpg);
	height: 91px;
	width: 1246px;
}
.container   .top_cont2{
	background-repeat: no-repeat;
	height: 66px;
	width: 1247px;
	background-image: url(./im/images/new0_05.jpg);
}
.container   .top_cont3{
	background-repeat: no-repeat;
	height: 160px;
	width: 1247px;
	background-image: url(./im/images/new0_06.jpg);
}
.container   .top_cont4{
	background-repeat: no-repeat;
	height: 504px;
	width: 1247px;
	background-image: url(./im/images/6.jpg);
}
 .container   .top_cont5{
	background-repeat: no-repeat;
	height: 504px;
	width: 1247px;
	background-image: url(./im/images/6.jpg);
}
 .container .top_cont2   nav{
	display: block;
	padding-top: 0px;
}
.container .top_cont2 nav   .menu{
	float: left;
}
    
.container .top_cont4 #foto3 {
	margin-top: 0px;
	margin-right: 45px;
}
 .container .top_cont4 #foto1 {
	margin-left: 110px;
	margin-right: 45px;
	margin-top: 0px;
    
}
.container .top_cont4 #foto2 {
	margin-right: 45px;
	margin-top: 20px;
	
}

.container .top_cont4 #foto4 {
	margin-top: 0px;
	
}
.text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 34px;
	color: #1F1F1F;
	font-style: normal;
	padding-top: 20px;
	margin-top: 20px;
}
.text1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #999999;
	font-style: normal;
	padding-top: 20px;
	margin-top: 20px;
}
.container .top_cont4 #text1 {
	margin-left: 170px;
	float: left;
	margin-top: -8px;
	text-decoration: none;
}
.container .top_cont4 #text2
 {
	float: left;
	margin-top: -8px;
	margin-left: 144px;
	text-decoration: none;
}
 .container .top_cont4 #text3
 {
	float: left;
	margin-top: -8px;
	margin-left: 73px;
	text-decoration: none;
}
.container .top_cont4 #text4
 {
	float: left;
	margin-top: -8px;
	margin-left: 60px;
	text-decoration: none;
}
.container .top_cont4 #text5 {
	margin-left: 172px;
	float: left;
	margin-top: -7px;
	text-decoration: none;
}
.container .top_cont4 #text6 {
	margin-left: 170px;
	float: left;
	margin-top: 20px;
	text-decoration: none;
	
}
.container .top_cont4 #text7 {
	margin-left: 170px;
	float: left;
	margin-top: 20px;
	text-decoration: none;
	padding-top: 20px;
}
 .container .top_cont4 #text8 {
	margin-left: 170px;
	float: left;
	margin-top: 20px;
	text-decoration: none;
	padding-top: 20px;
}
 /*варианты вопросов*/
 .container .top_cont_test_create 
 {
 padding-left: 47px;
    font-size:20px;
    color: #C42017;

}


/*создание теста*/

.container .top_cont_test_create 
 {
	padding-left: 47px;
    font-size:20px;
    color: #000000;

}

/*создание вопроса с изображением*/
 .container .top_cont_question_create
 {
	padding-left: 47px;
    font-size:20px;
    color: #000000;
    

}


  .container .top_cont_question_create #qtype21
     {
        padding-right: 247px;
     }

 .container .top_cont_question_create   div p 
{padding-left: 0px;


}
  
 .container .top_cont_question_create   div p input
{padding-left: 0px;


}


/*варианты вопросов*/

 .container .top_cont_question 
 {
	background-repeat: no-repeat;
	height: 504px;
	width: 1247px;
	background-image: url(./im/images/6.jpg);
}

.container .top_cont_question #foto1 {
    width: 247px; 
    height: 265px;
	margin-left: 235px;
	margin-right: 16px;
	margin-top: 0px;
}

.container .top_cont_question #foto2 {
    width: 248px; 
    height: 265px;
	margin-right: 17px;
	margin-top: 20px;
}

 .container .top_cont_question #foto3 {
    width: 247px; 
    height: 265px;
	margin-right: 20px;
	margin-top: 0px;
}


 .container .top_cont_question #text1 {
	margin-left: 245px;
	float: left;
	margin-top: -26px;
	text-decoration: none;
    text-align:center;
}

 .container .top_cont_question #text2
 {
	float: left;
	margin-top: -26px;
	margin-left: 84px;
	text-decoration: none;
    text-align:center;
}

 .container .top_cont_question #text3
 {
	float: left;
	margin-top: -26px;
	margin-left: 120px;
	text-decoration: none;
    text-align:center;
}

/*страница тесты*/

 .container   .top_cont_test{
	background-repeat: no-repeat;
	height: 504px;
	width: 1247px;
	background-image: url(./im/images/6.jpg);
}

 .container .top_cont_test #foto1 {
    width: 247px; 
    height: 265px;
	margin-left: 235px;
	margin-right: 20px;
	margin-top: 0px;
}

 .container .top_cont_test #foto2 {
    width: 247px; 
    height: 265px;
	margin-right: 20px;
	margin-top: 20px;
}

 .container .top_cont_test #foto3 {
    width: 247px; 
    height: 265px;
	margin-right: 45px;
	margin-top: 0px;
}

 .container .top_cont_test #fotoCreateQuestion {
    width: 247px;
    height: 265px;
    margin-left: 335px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
}

 .container .top_cont_test #fotoCreateTest {
    width: 247px;
    height: 265px;
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 20px;
}

 .container .top_cont_test #foto3s {
    width: 247px; 
    height: 265px;
	margin-right: 45px;
	margin-top: 0px;
    margin-left: 500px;
    position:absolute;
}

 .container .top_cont_test #text1 {
	margin-left: 262px;
	float: left;
	margin-top: -25px;
	text-decoration: none;
    text-align:center;
}



 .container .top_cont_test #text2
 {
	float: left;
	margin-top: -25px;
	margin-left: 64px;
	text-decoration: none;
    text-align:center;
}



 .container .top_cont_test #text3
 {
	float: left;
	margin-top: -25px;
	margin-left: 60px;
	text-decoration: none;
    text-align:center;
}

 .container .top_cont_test #textCreateEdit
 {
	margin-left: 230px;
    float: left;
    margin-top: 0px;
    text-decoration: none;
    text-align: center;
}

 .container .top_cont_test #textPassTest
 {
	float: left;
    margin-top: 0px;
    margin-left: 35px;
    text-decoration: none;
    text-align: center;
}

 .container .top_cont_test #textCreateQuestion
 {
	float: left;
    margin-top: 0px;
    margin-left: 357px;
    text-decoration: none;
    text-align: center;
}

 .container .top_cont_test #textCreateTest
 {
	text-decoration: none;
    text-align: center;
    margin-top: 0px;
    margin-left: 125px;
    float: left;
}

 .container .top_cont_test #textResults
 {
	float: left;
    margin-top: 0px;
    margin-left: 80px;
    text-decoration: none;
    text-align: center;
}

 .container .top_cont_test #text3s
 {
	position:absolute;
margin-top: 250px;
margin-left:525px;
text-decoration: none;
text-align: center;
}

 

/*      */
.error {
    color: #e80c4d;
}
input.button_error
{
    border: 1px dotted #f00;
}
/*      //////////////////////////////////////////*/

 .container .top_cont2 nav .menu   li{
	position: relative;
	width: 100px;
}
 .container .top_cont2 nav .menu   li1{
	position: relative;
	width: 100%;
}
/*.footer1 {
	background-image: url(./im/images/fon.jpg);
	width:100%;
	height:100%;
	z-index:2;
	
	background-repeat: repeat;

}*/
.container1 {
	background-image: url(./im/images/fon2_08.jpg);
	width: 1247px;
	margin-left: auto;
	margin-right: auto;
    
    
}
    .container1 a
    {
        color:#C42017;
        text-decoration: underline;
    }
    


.FIO {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: #666;
	float: right;
	padding-right: 70px;
	padding-top: 40px;
	text-align:center;
}
.username
{
    margin-right:80px;
}

.Exit {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: #666;
	float: right;
	padding-right: 70px;
	margin-top: -23px;
	text-decoration: none;
}
.Exit:hover{
	color: #C42017;
}

 .text1:hover{
	color: #C42017; 
 }

 a
{color: #666;
 text-decoration: none;
}
  a.account
{color: #666;
 text-decoration: none;
}
legend {
	font-size: 28px;
	color: #00AAE7;
    padding-left: 507px;

}
   
ol
{color: #333;
 font-size: 18px;
 padding-left: 447px;
}

fieldset
{
    border:none;
}

/*p b
{padding-left: 50px;
 

}*/
input
{ font-size: 17px;
}
/*div p
{padding-left: 500px;
 font-size: 16px;
}*/

a.account{
    position:relative;
    float:right;
margin-top:-23px;

margin-left:210px;
}
label.checkbox {
    display: inline;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-style:italic;
    
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    box-shadow:0 0 10px #f00; -webkit-box-shadow:0 0 10px #f00; -moz-box-shadow:0 0 10px #f00;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
.valid
{
    
}
/*OLD STYLES (POPUPS.... ETC)*/
.color_table th, #first_tr {
    color:#fafafa;

    background-image: linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -moz-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -webkit-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -o-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
}

.toolTip { /* This is the hook that the jQuery script will use */
	padding-right: 20px; /* This is need to make sure that the help icon is always visible */
	background: transparent url(../Images/help.gif) no-repeat right;
	color: #3366FF;
	cursor: help; 
	position: relative; /* This contains the .toolTipWrapper div that is absolutely positioned  */
}

.toolTipWarning { /* This is the hook that the jQuery script will use */
	padding-right: 20px; /* This is need to make sure that the help icon is always visible */
	background: transparent url(../Images/Warning.png) no-repeat right;
    background-size:18px;
	color: #3366FF;
	cursor: help; 
	position: relative; /* This contains the .toolTipWrapper div that is absolutely positioned  */
}



	.toolTipWrapper { /* The wrapper holds its insides together */
		width: 175px;
		position: absolute; /* Absolute will make the tooltip float above other content in the page */
		top: 20px;
		display: none; /* It has to be displayed none so that the jQuery fadein and fadeout functions will work */
		color: #FFF;
        z-index:100;
		font-weight: bold;
		font-size: 9pt; /* A font size is needed to maintain consistancy */
	}
	
		.toolTipTop { /* Top section of the tooltip */
			width: 175px;
			height: 30px;
			background: transparent url(../Images/bubbleTop.gif) no-repeat;
		}

		.toolTipMid { /* Middle section of the tooltip */
			padding: 8px 15px;
			background: #A1D40A url(../Image/bubbleMid.gif) repeat-x top;
		}
		
		.toolTipBtm { /* Bottom Section of the tooltip */
			height: 13px;
			background: transparent url(../Images/bubbleBtm.gif) no-repeat;
		}
       
.popup {
padding:5px 15px 15px;
position:absolute;
top:10%;
left:50%;
width:100%;
display:none;
border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:100;
color:black;
hyphens: auto;
}
.popup h2 {
font:bold 18px/32px Arial, san-serif;
}
.popup a.close {
width:15px;
height:16px;
display:block;
text-indent:-9999px;
position:absolute;
top:10px;
right:10px;
background:url(../Images/close.png) no-repeat;
cursor:pointer;
}
.tabs_info {
margin-left:-440px;
width:880px;
hyphens: auto;
}
    .tabs_info input[type=text]
    {
        width: 350px;
    }
    .tabs_info textarea
    {
        max-width:90%;
        max-height:300px;
        min-width: 400px;
        min-height:150px;
    }

/*tabs links*/
.selectTabs {
margin:10px 0 0;
width:100%;
}
.lineTabs {
width:100%;
float:left;
list-style:none;
}
.lineTabs li {
margin:0 0 -14px 10px;
float:left;
position:relative;
z-index:1;
border:1px solid #ccc;
}
.lineTabs li.active {
border-bottom:1px solid #fff;
}
.lineTabs li.active a {
color:#cc0000;
}
.lineTabs a {
padding:4px 15px;
display:block;
text-decoration:none;
color:#000;
font-weight:bold;
font-size:10px;
text-transform:uppercase;
}
/*tabs content*/
.tab_content {
width:100%;
float:left;
border:1px solid #ccc;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
position:relative;
}

.tab_content .tab1 {
display:block;
}
.tab_content .tab1, .tab_content .tab2 {
padding:10px 5px;
}
.tab_out
{
    margin-left:125px;
width:17px;
height:24px;
display:block;
text-indent:-9999px;
background: url(../Images/outbox_24.png) no-repeat;
cursor:pointer;
}


/**********overlay styles**********/
#overlay {
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
display:none;
background:#000;
opacity:.8;
z-index:3;
}
#question_createform label {
	width:250px;margin:0 6px
}
#editform label {
	width:250px;margin:0 6px
}
#test_createform label {
	width:250px;margin:0 6px
}

label.error {
	color: #e80c4d;
	font-style: italic;
}
input.error {
	box-shadow:0 0 10px #f00; -webkit-box-shadow:0 0 10px #f00; -moz-box-shadow:0 0 10px #f00;
}
div.jqte_error {
	box-shadow:0 0 10px #f00; -webkit-box-shadow:0 0 10px #f00; -moz-box-shadow:0 0 10px #f00;
}
input[type=text]
{
    outline:none;
    
}
.focused
{
    border-color:#00AAE7;
	box-shadow:0 0 10px #00BDFF; -webkit-box-shadow:0 0 10px #00BDFF; -moz-box-shadow:0 0 10px #00BDFF;
    transition: 0.5s;
}
.jqte_not_valid
{
    
    border-color:#fe0533;
	box-shadow:0 0 10px #00BDFF; -webkit-box-shadow:0 0 10px #00BDFF; -moz-box-shadow:0 0 10px #00BDFF;
   
}
/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    /*th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }*/

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/*.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

.sortablet { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortablet li { background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortablet li span { position: absolute; margin-left: -1.3em; }*/

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-testpass {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
#message_success
    {
        padding:5px;
position:absolute;
top:250px;
left:42%;
width:300px;
height:100px;
display:none;

border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:100;
color:#32CD32;
box-shadow: 0 0 7px #32CD32;

font-family:Arial, Helvetica, sans-serif;
font-size: 25px;
opacity:1;
    }
#message_testpass
    {
        padding:5px;
position:absolute;
top:250px;
left:42%;
width:300px;
height:100px;
display:none;

border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:100;
color:#32CD32;
box-shadow: 0 0 7px #32CD32;

font-family:Arial, Helvetica, sans-serif;
font-size: 25px;
opacity:1;
    }
    #message_success div {
        position:absolute;
        top: 25%;
        width:100%;
        display:table;
    }
    #message_testpass div {
        position:absolute;
        top: 25%;
        width:100%;
        display:table;
    }
        #message_success div p {
            display:table-cell;
            vertical-align:middle;
            text-align:center;
        }
        #message_testpass div p {
            display:table-cell;
            vertical-align:middle;
            text-align:center;
        }

        #message_fail
    {
        padding:5px;
position:absolute;
top:250px;
left:42%;
width:300px;
height:100px;
display:none;

border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:100;
color:#fe0533;
box-shadow: 0 0 7px #ff0000;

font-family:Arial, Helvetica, sans-serif;
font-size: 25px;
opacity:1;
    }
    #message_fail div {
        position:absolute;
        top: 25%;
        width:100%;
        display:table;
    }
        #message_fail div p {
            display:table-cell;
            vertical-align:middle;
            text-align:center;
        }
        /**404*/
        #message_404
    {
        padding:5px;
position:absolute;
top:250px;
left:42%;
width:300px;
height:100px;
display:none;

border:1px solid #ccc;
background:#fff;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
z-index:100;
color:#fe0533;
box-shadow: 0 0 7px #ff0000;

font-family:Arial, Helvetica, sans-serif;
font-size: 25px;
opacity:1;
    }
    #message_404 div {
        position:absolute;
        top: 25%;
        width:100%;
        display:table;
    }
        #message_404 div p {
            display:table-cell;
            vertical-align:middle;
            text-align:center;
        }

.error {
    color: #e80c4d;
}
/*my styles*/
.matrix
{
    word-break:normal;
}
.go-top {
	position: fixed;
	bottom: 2em;
	right: 8em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;
    
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
    cursor:pointer;
    -webkit-transform:scale(1.06);
}
a.create_eve_button{
    margin-left:470px;
  width: 115px;
  height: 25px;
  background: #00AAE7;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration:none;
  box-shadow:2px 3px 5px #000;
}
    a.create_eve_button:hover
    {
        
        box-shadow: 3px 4px 7px #000;
    }

    a.create_news_button{
  margin-left:470px;
  width: 115px;
  height: 25px;
  background: #00AAE7;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration:none;
  box-shadow:2px 3px 5px #000;
}
    a.create_news_button:hover
    {
        
        box-shadow: 3px 4px 7px #000;
    }
.create_button
{
    height:40px;
    background-color: #00AAE7;
    border: 1px solid #000;
    color:#000;
    border-radius:5px;
    font-weight:bold;

    
}
    .create_button:hover
    {
        box-shadow: 0 0 7px #00AAE7;
        cursor:pointer;
    }
/*#my_timer
{
    left:50px;
    position:fixed;
    color: #f00;
    font-size: 150%; 
    font-weight: bold;
}*/

 .sortable, .sortable1, .sortable2 { list-style-type: none; margin: 0; padding: 0; width: 80%; }
  .sortable li, .sortable1 li, .sortable2 li { background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;  height:100% }

  .sortablet { list-style-type: none; margin: 0; padding: 0; width: 80%; }
.sortablet li { background-color:darkgray; margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;  height:100% }



#my_timer {
    color: #00008B; 
    font-size: 150%; 
    font-weight: bold;
    /*padding-left: 56px;*/
    border-width: 4px;
border-style:outset ;
border-color: red;
margin:50px;
padding: 10px;
background:#FFFFF0;
}

#tabletest {
    border: 1em; 
    padding: 10em ;
    width: 115em;
}

.imgTest{
    width:150px;
    height:100px;
    margin: 10px 10px;
    /*alt:"image"px;
    hspace:"10"px;
    vspace:"10"px;*/
}
hr {
  height: 2px;
  width: 80%;
  color: #f00;
background-color: #f00;
}






.page_navigation a, .alt_page_navigation a{
	/*padding:3px 5px;*/
	/*margin:2px;*/ /*пробелы между кнопками*/
	/*color:white;*/ /*цвет букв*/
	/*text-decoration:none;*/ /*убрать подчёркивание*/

	/*font-family: Tahoma;*/ /*шрифт кнопок*/
	/*font-size: 12px;*/ /*размер кнопок*/
	/*background-color:#DB5C04;*/ /*цвет кнопок*/
    
    color: rgba(255, 255, 255, 1);
	text-decoration: none;
    display: inline-block;
	
   zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    
}



.page_navigation a:hover, .alt_page_navigation a:hover {
	text-decoration: none;
    background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}

.page_navigation a:active, .alt_page_navigation a:active {
	position: relative;
	top: 1px;
    color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}









.alt_page_navigation {
    margin-left: 18px;
}


.content li, .alt_content li, .content > p{
	list-style: none;
     /*border-width: 4px;
border-style:outset ;
border-color: red;*/
    /*margin: 0;
padding: 0;*/
}


.alt_content:first-child {
       margin: 0;
padding: 0;
width:96%;
}

#test_question{
    padding: 10px;
     border-width: 4px;
border-style:solid ;
border-color: #DCDCDC;
margin: 20px;
background-color: #F7F7F7;
    /*margin: 0;
padding: 0;*/
}
    
#sticky {
                color: red;
                font-size: 15px;
                margin-top: 50px;
                margin-left: 50px;
                padding:4px;
                /*background: #FFE4C4;*/
               
                /*background: #87CEFA;*/
                background: rgba(177, 178, 179, 1);
                height: 110px;
                width: 180px;
                border:1px solid #ddd;
                /*font-size:12px;*/
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                float:left;
                text-align:center
}

    #sticky p {
        margin-top: 10px;
        font-weight: 500;
        color:#00008B;
    }

/*.alt_content ul{
    margin: 0;
padding: 0;
    
}*/
.testtopic {
    text-align:  center;
}

.test_question_body {
    color: #00008B;
}

.check_question_body {
    color: #00008B;
    width:100%
}
.test_question_content {
    /*margin:15px;*/
    /*float:right;*/
    /*background: #cacaca;*/
}
.li_freeform, .li_CheckBoxAnswer, .li_RadioAnswer {
    background:#f1f1f1;
}

.li_freeform:nth-child(even), .li_CheckBoxAnswer:nth-child(even), .li_RadioAnswer:nth-child(even) {
    background:#F8F8FF;
    
}
/*#test_content p {
    float:left;
}*/


/*.RadioAnswer_content{
    display: inline-block;
}*/

.test_question_content table {
    width: 100%;
}

.test_question_content table td {
    padding:0;
}

.test_question_tooltip {
    width:210px;
    height: 100px;
    vertical-align:top;


}
#test_question table {
      width: 100%;
}
.question_num {
    width:21px;
    
    vertical-align:top;
}

.end_test input {
    color: #000;
    font: 15px/100% Arial,Helvetica,sans-serif;
   
}

/*#pass {
    margin:15px;
}*/

.color_table {
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    width:96%;
    padding:10px;
    background-color:#FAFAFA;
}
.color_table th
{
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    text-align:center;
    height:50px
}
    .color_table td
    {
        border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    padding:10px;
    }

#test_setting {
    border:ridge;
    border-radius: 5px;
    width:93%;
    margin-top: 40px;
    margin-bottom: 20px;
}
#test_setting legend {
    padding: 0 10px 0 10px;
    color:#00008B;
}

#test_index table{
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    width:96%;
    text-align:center;
    background-color:#FAFAFA;
    /*//color:#00008B;*/

}

#test_index .test_name{
    text-align:center;
}

#test_index .test_date{
    text-align:center;
}

#test_index td
{
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    padding:10px;
}



#test_view table{ 
    width:96%;
    padding:10px;
    margin-bottom:30px;
    text-align:center;
}

#test_view tr, #test_view td, #test_view th{ 
    text-align:center;
}

#test_details table,#test_details td{
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    padding:10px;
    background-color:#FAFAFA;
    /*//color:#00008B;*/

}

#test_index tr{
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    width:96%;
    padding:10px;
    text-align:center;

 
    /*//color:#00008B;*/

}

#test_index th {
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    width:96%;
    padding:10px;
    text-align:center;
    /*background-color: #09C;*/
   color:#fafafa;

    background-image: linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -moz-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -webkit-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -o-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    /*border:0px;
    border-radius:10px;
    padding:7px 25px;*/
 

}







#test_details tr,#test_details th {
    border:solid;
    border-width:1px;
    border-color: #CFCFCF;
    padding:10px;
 
    /*//color:#00008B;*/

}
.test_name {
    
    width:33%;
    hyphens: auto;
}
.test_name a {
     
     transition: color 0.2s;

    -webkit-transition: color 0.2s; 

    -moz-transition: color 0.2s; 

    -o-transition: color 0.2s; 


    color:#1874CD;
    text-decoration:none;
}

.test_name a:hover
    {
        color: #00AAE7;
        cursor:pointer;
     /*font-size:29px;*/
        
    }

.test_date {
    width:15%;
}

#test_index table{
    text-align:center;
}

#test_index #test_hedder{
    /*background-color:#0099CC;*/
    text-align:center;
}
#test_details #test_hedder{
    background-color:#0099CC;
}

/*DESIGN*/
.container  img
    {
        box-shadow: 5px 0 10px #000;
        transition: 0.1s ease-in-out;
    }
    .container  img:hover
    {
        box-shadow: 5px 0 14px #000;
        
    }
    .container #text1, .container #text2, .container #text3, .container #text4, .container #text3s
    {
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
        transition: 0.1s ease-in-out;
    }
        .animate_text
        {
            
            -moz-transform: translateY(-3px);  /* Для Firefox */
    -ms-transform: translateY(-3px); /* Для IE */
    -webkit-transform: translateY(-3px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(-3px); /* Для Opera */
    transform: translateY(-3px);
    color: #00AAE7;

        }
#requests
{
    
    background-color:#FAFAFA;
}
    #requests .requests_header
    {
        
         background-color:#0099CC;
    }
        #requests .requests_header th
        {
            border: 1px solid #CFCFCF;
            text-align:center;
        }
    #requests td
    {
        text-align:center;
        
        border: 1px solid #CFCFCF;
    }

    /**timetable*/
    .timetable
{
    
    background-color:#FAFAFA;
    width:1150px;
    font-size:16px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
    .timetable .timetable_header
    {
        color:#fafafa;

    background-image: linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -moz-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -webkit-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -o-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
        
    }
        .timetable .timetable_header th:nth-child(1)
        {
            border: 1px solid #CFCFCF;
            text-align:center;
            height:60px;
        width:10%
            
        }
        .timetable .timetable_header th:nth-child(n+2)
        {
            border: 1px solid #CFCFCF;
            text-align:center;
            height:60px;
        width:14%
            
        }
    .timetable tbody td
    {
        text-align:center;
        width:100px;
        border: 1px solid #CFCFCF;
        
        padding:10px;
        hyphens:auto;
        
    }
        .timetable tbody td input
        {
           
           width:100%;
        }

 #news
{
    background-color:#FAFAFA;
    margin-left: 90px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
    #news .news_header
    {
        
        color:#fafafa;
        height: 50px;
    background-image: linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -moz-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -webkit-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    background-image: -o-linear-gradient(#0099CC, rgba(0, 106, 197, 1) 50%, rgba(0, 106, 197, 1) 20%, #0099CC);
    }
        #news .news_header th
        {
            text-align:center;
        }
    #news .first_tr td
    {
        padding: 0;
    }
    #news .first_tr .title
    {
        text-align:center;
        width: 33%;
    }
    #news .first_tr .publication
    {
        color: #00AAE7;
        text-align:start;
        font-size: 14px;
        width: 33%;
        padding-left: 10px;
    }
    #news .first_tr .empty
    {
        width: 33%;
    }
    #news tbody tr .content
    {
        padding-left: 10px;
        width: 33%;
    }
    #news tbody tr .sign
    {
        color: #00AAE7;
        width: 100%;
        font-size: 14px;
        text-align:end;
        padding-right: 5px;
    }
    #news tbody .wrapper
    {
        border: 2px solid #000;
    }



#accept_button
{
    box-shadow: 2px 2px 5px #000;
  background: #32CD32;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration:none;
}
#deny_button
{

box-shadow: 2px 2px 5px #000;
  background: #C42017;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration:none;
}
    #accept_button:hover, #deny_button:hover
    {
        box-shadow: 3px 3px 7px #000;
    }

#test_setting label {
    margin: 0px;
}
.button_back {
   display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
  
}

.button_back:hover {
	text-decoration: none;
    background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}

.button_back:active {
	position: relative;
	top: 1px;
    color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

#button_back a{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

#button_back p input{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
    padding:7px;
}


#hint input{
    font:14px/100% Arial,Helvetica,sans-serif;
    margin:0px;
    
}

#create_button input {
    font:20px/100% Arial,Helvetica,sans-serif;
    margin:0px
}

#login_button input {
    font:17px/100% Arial,Helvetica,sans-serif;
    margin-top:20px
}

.button_back{
margin-bottom:20px;
margin-top:20px;

}

.button_test{
 
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 27px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  margin-bottom:20px;
margin-top:20px;
}

.button_test:hover {
	text-decoration: none;
    background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');

}

.button_test:active {
	position: relative;
	top: 1px;
    color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
   
}

.button_test a{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
    text-align:center
}


#test_index .back:hover
    {
        box-shadow: 0 0 7px #00AAE7;
        cursor:pointer;
    }

#test_index a {
    text-decoration:none;
    /*color:#1874CD;*/
}
.previous_link.no_more {
    display:none;
}
.next_link.no_more {
    display:none;
}
/*customSelect**/

/*span.customSelect { 
    font:12px sans-serif;
    background:#fff url(http://i48.tinypic.com/2u7rpec.png) right center no-repeat;
    border:1px solid #ddd;
    color:#555;
    padding:7px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:250px;
}
.customSelect.customSelectHover {
    border-color:#c7c7c7;
    background-color:#FAFAFA;
}
.customSelect.customSelectFocus {
    border-color:#00AAE7;
}
.customSelect.customSelectOpen {
    border-color:#00AAE7;
}

.customSelect.customSelectChanged {
	-webkit-animation: changed 0.5s;
	-moz-animation: changed 0.5s;
	-ms-animation: changed 0.5s;
	animation: changed 0.5s;
}

@-webkit-keyframes changed {
	0%, 100%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0.5);
	}
}

@-moz-keyframes changed {
	0%, 100%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0);
		box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0);
	}
	50%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0.5);
	}
}

@keyframes changed {
	0%, 100%{
		box-shadow:0px 0px 14px 5px rgba(0,170,231, 0);
	}
	50% {
		box-shadow:0px 0px 14px 5px rgba(0,170,231, 0.5);
	}
}
@-ms-keyframes changed {
	0%, 100%{
		-ms-box-shadow:0px 0px 14px 5px rgba(0,170,231, 0);
		box-shadow:0px 0px 14px 5px rgba(0,170,231, 0);
	}
	50% {
		-ms-box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0);
		box-shadow: 0px 0px 14px 5px rgba(0,170,231, 0.5);
	}
}*/
/**fancy select*/
div.fancy-select {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	color: #46565D;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
	box-shadow: 0 0 0 2px #4B5468;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 24px 9px 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #99A5BE;
	border: 1px solid #99A5BE;
	border-top-color: #A5B2CB;
	color: #4B5468;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	width: 200px;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #4B5468;
	top: 20px;
	right: 9px;
}

div.fancy-select div.trigger.open {
	background: #4A5368;
	border: 1px solid #475062;
	color: #7A8498;
	box-shadow: none;
}

div.fancy-select div.trigger.open:after {
	border-top-color: #7A8498;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background: #00AAE7;
	border-radius: 4px;
	border-top: 1px solid #7DD8D2;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	min-width: 200px;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 50px;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 8px 12px;
	color: #00008B;
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	background: rgba(0, 75, 155,0.3);
	color: rgba(255,255,255,0.75);
}

div.fancy-select ul.options li.hover {
	color: #fff;
}
/**Styles for calendar and events*/
#group:hover .sub_group:not(:hover) {
     /*Затемнить*/
}
#calendarBig { /* весь календарь */ 
  width: 90%;
  max-width:700px;
  margin: 0 auto;
  border-spacing: 0 1.5em;
  border-radius: 50px;

}
#calendarBig td {
  vertical-align: top;
}

#calendarBig, #calendarBig table {
  /*font: monospace;*/
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendarBig table { /* таблицы с месяцами выравнены по верхней границе, горизонтально — по центру */ 
  display: inline-table;
  background-image:-moz-linear-gradient(top, #F3F4F5, #C8C9CA);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F4F5), to(#C8C9CA), color-stop(1,#C8C9CA));
 
    border:2px solid #F2F2F2;
 
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.25);

}
#calendarBig table thead tr:nth-child(1) { /* названия месяцев */ 
  font-size: 110%;
  font-weight: 700;
  border-width: 1px;
	/*padding: 8px;*/
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
    /*border-radius: 50px;*/
}
#calendarBig table thead tr:last-child { /* название дней недели */ 
  font-size: small;
  font-weight: 700;
  color: rgb(103, 103, 103);
  border-width: 1px;
	/*padding: 8px;*/
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
    /*border-radius: 50px;*/
}

#calendarBig table tbody td { /* дни */ 
  color: rgb(44, 86, 122);
  border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
    border-radius: 25px;
}
#calendarBig table tbody td:nth-child(n+6), #calendarBig .holiday { /* выходные и праздники */ 
  color: rgb(231, 140, 92);
}

#calendarBig table tbody td[title] { /* выделенные даты */ 
  /*outline: 3px solid green;*/
  background: #f2fc00;
  cursor: help;
  -moz-box-shadow: 2px 2px 3px #000;
  box-shadow: 2px 2px 3px #000;
  transition: 0.1s ease-in-out;
}
#calendarBig table tbody td.today { /* сегодня */ 
  /*background-color: #ff3200;*/
  box-shadow: 0 0 0 3px #ff3200;
}
    #calendarBig table tbody td[title]:hover {
        box-shadow: 4px 4px 7px #000;
        -moz-transform: translateY(-3px);  /* Для Firefox */
    -ms-transform: translateY(-3px); /* Для IE */
    -webkit-transform: translateY(-3px); /* Для Safari, Chrome, iOS */
    -o-transform: translateY(-3px); /* Для Opera */
    transform: translateY(-3px);
    }
#calendarBig table tbody td[title] a { /* выделенные даты-ссылки */ 
  display: block;
  text-decoration: none;
}
#calendarBig table tbody td[title] a:hover { /* выделенные даты-ссылки под курсором */
  background: #fde910;
  color: red;
}
#delete_several, #random_test
    {
        color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 10px;
	display:inline-block;
    margin:-5px 0 0 10px;

    }
    #delete_several:hover,#random_test:hover {
	background-color: rgba(0, 0, 0, 0.6);
    cursor:pointer;
    -webkit-transform:scale(1.06);
    -webkit-transition: .2s ease-in-out;
-moz-transition: .2s ease-in-out;
-ms-transition: .2s ease-in-out;
-o-transition: .2s ease-in-out;
transition: .2s ease-in-out;
}

        .Exam {
border: 2px solid #ff0000;
padding-left:4px;
border-radius: 5px;
}
.Checking_work {
border: 2px solid #f984e5;
border-radius: 5px;
padding-left:4px;
}
.Test {
border: 2px solid #ffd800;
padding-left:4px;
border-radius: 5px;
}
.Lab_work {
border: 2px solid #03c03c;
padding-left:4px;
border-radius: 5px;
}
.Zachet {
border: 2px solid #0d6df2;
padding-left:4px;
border-radius: 5px;
}
.Other {
border: 2px solid #c0c0c0;
padding-left:4px;
border-radius: 5px;
}
    .Default_type
    {
        border: 2px solid #fff;
        padding-left: 4px;
        border-radius: 5px;
    }
    /**loading*/
    .spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #00AAE7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*.testbutton
{
    height:40px;
    background-color: #00AAE7;
    border: 1px solid #000;
    color:#000;
    border-radius:5px;
    font-weight:bold;
    padding:10px;
    padding-left:50px;
    padding-right:50px;

    
}
    .testbutton:hover
    {
        box-shadow: 0 0 7px #00AAE7;
        cursor:pointer;
    }*/

.testbutton {
    width: 96%;
  padding-top:30px;
  padding-bottom:30px; 
  text-align: center;
  text-decoration: none;
}

.testbutton a{
  color:#000;
  text-decoration:none;
}

    .testbutton div {
        display: inline;
        text-decoration:none;
    }
        /* 
 * FlowupLabels Basic Stylesheet 
 * -----------------------------
 * This style sheet is marked with comments indicating 
 * what should and what shouldn't be changed for your 
 * styling purposes.
 */
 
.FlowupLabels .fl_wrap {
  /* Can change */
  width: 500px;
  height: 46px;
  margin:12px auto; /* change 0 to auto for center alignment */

  /* Don't change */
  display:block;
  position:relative;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

/* initial label state */
.FlowupLabels .fl_label {
  /* Can change */
  top: 15px;
  left: 5px;
  
  /* Don't change */
  position:absolute;
  z-index:3; /* This can be removed but then the labels must be placed after the inputs in the HTML */
  -webkit-transition: all .05s linear;
	   -moz-transition: all .05s linear;
	   	   -transition: all .05s linear;
}

.FlowupLabels .fl_input {
  /* Can change */
  background: none;
  border:none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 0 0 5px;
  
  /* Don't change */
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  width: 100%;
  z-index:2; /* This can be removed but then the labels must be placed after the inputs in the HTML */
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.raised {
    position:relative;
    /*width: 96%;*/
    /*padding:1em;*/
    /*margin:2em 10px 4em;*/
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}        
 
.raised:before,
.raised:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.raised {

text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.14), 0px -5px 35px rgba(255, 255, 255, 0.3);

/*text-shadow: 2px 2px 3px rgba(116, 116, 116, 0.44);*/

}

.color_table {
    position:relative;
    /*width: 96%;*/
    /*padding:1em;*/
    /*margin:2em 10px 4em;*/
    /*background:#fff;*/
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}        
 
.color_table:before,
.color_table:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.color_table {
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.14), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
  
/* Focus & populated label styling */
.FlowupLabels .fl_wrap.focused .fl_label,
.FlowupLabels .fl_wrap.populated .fl_label {
  /* Can change */
  top: 0;
  font-size: 12px;
  color: #555;
}
.FlowupLabels .fl_wrap.focused .fl_label {
  /* Can change */
  color: #555;
}
  /*caret effect*/
  .spinner_caret {
  width: 40px;
  height: 40px;

  position: relative;
  /*margin: 100px auto;*/
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00AAE7;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce_caret .5s  ease-out;
  animation: bounce_caret .5s ease-out;
}

/*.double-bounce2 {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s;
}*/

@-webkit-keyframes bounce_caret {
  0%{ -webkit-transform: scale(0.0);
      opacity: 1;
  } ,
  100% { -webkit-transform: scale(1.0);
         opacity:0;
    } 
  /*50% { -webkit-transform: scale(1.0) }*/
}

@keyframes bounce_caret {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    opacity:1;
  },
   100% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity:0;
  }
    /*50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }*/
}

td:not([class="test_name"]) > a {
  position: relative;
  color: #990000;
  text-decoration: none;
}
    td:not([class="test_name"]) > a:hover
    {
        color: #990000
    }
td:not([class="test_name"]) > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #990000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
td:not([class="test_name"]) > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/**file inputs*/
    .nice_file {
	font-size: 15px;
	-webkit-box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1);
	box-shadow: 0px 1px 0px #fff, 0px -1px 0px rgba(0,0,0,.1); 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.nice_file .NFI-button {
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-top-left-radius: 3px; 
	border-bottom-left-radius: 3px;

	background-color: #0192DD;

	background-image: linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	background-image: -o-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	background-image: -moz-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	background-image: -webkit-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	background-image: -ms-linear-gradient(bottom, #1774A3 0%, #0194DD 56%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #1774A3),
		color-stop(0.56, #0194DD)
	);
	text-shadow: 0px -1px 0px #0172bd;
	border: solid #0172bd 1px;
	border-bottom: solid #00428d 1px;
	
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,.2); 	
	
	color: #fff;
	width: 200px;
	height: 30px;
	line-height: 30px;
}
.nice_file .NFI-button:hover {
	background: #333;
	text-shadow: 0px -1px 0px #111;
	border: solid #000 1px;
	
}
.nice_file .NFI-filename {
	-moz-border-radius-topright: 3px; 
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px; 
	border-bottom-right-radius: 3px;

	width: 200px;
	border: solid #777 1px;
	border-left: none;
	height: 30px;
	line-height: 30px;
	
	background: #fff;
	-webkit-box-shadow: inset 0px 2px 0px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0px 2px 0px rgba(0,0,0,.05);
	box-shadow: inset 0px 2px 0px rgba(0,0,0,.05); 

	color: #777;
	text-shadow: 0px 1px 0px #fff;
    text-overflow:ellipsis;
}

.score div {
    display:inline-block;
}