﻿
.mail-center button
{
    margin-left: 0;
}
.mail-menu-left
{
    width: 260px;
    position: relative;
    float: left;
    padding: 15px 20px 0 20px;
    background: #aaaaaa;
    margin: 0 0 0 40px;
    min-height: 100%;
}
.mail-menu-left .mail-menu-left-item
{
    display: block;
    position: relative;
    width: 253px;
    border-radius: 4px;
    background: white;
    margin-bottom: 15px;
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 3px;
}
.mail-center
{
    position: relative;
    width: 1090px;
    min-height: 500px;
    float: left;
    margin: 0 80px;
    color: #000000;
}
.autocomplete-suggestions
{
    background: white;
    color: black;
}
.mail-send-left
{
    width: 70px;
    position: relative;
    float: left;
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #333333;
    height: 30px;
    line-height: 30px;
}
.mail-send-right
{
    width: 960px;
    margin: 10px 0 0 30px;
    position: relative;
    float: left;
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border: #444444;
}
.text-input
{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border: #444444 1px solid;
    height: 28px;
    width: 100%;
    background-color: #ffffff;
}
.text-input input
{
    border: none;
    margin-left: 5px;
    width: 695px;
    background: none;
    outline: none;
}
.text-input.big, .mail-send-right.big
{
    height: 300px;
}
textarea
{
    outline: none;
    resize: none;
    margin-left: 5px;
    width: 695px;
    background: none;
    height: 300px;
    border: none;
}
.attachmentList
{
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
}
.attachmentList input,.attachmentList button
{
    margin:0 0 20px 0;
    color: black;
    font-size: 13px;
}
.message-submit
{
    margin-top: 20px;
    position: relative;
    display: block;
}
.autocomplete-suggestions
{
    margin: 4px 0 0 -6px;
    border: 1px solid black;
    border-radius: 4px;
}
.wfull {width: 1092px;
    height: 35px;
}
.wfull input {height: 35px;float: left;width: 900px;}
.wfull .btn {float: right;margin-right: 40px;}
.message-list
{
    width: 800px;
}
.message-list-item
{
    width: 1082px;
    height: 36px;
    background: white;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border: #888888 1px solid;
    padding: 5px;
    transition: display 0.5s ease;
}
.message-list-item.new-message
{
    background-color: #deecff;
}
.message-list-item > *
{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 36px;
}
.sendTime
{
    width: 20%;
}
.target-email
{
    width: 25%;
}
.subject
{
    width: 40%;
}
.nav {
    margin: 30px 0 40px 40px;
list-style: none;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
display: table;
line-height: 0;
content: "";
}
.nav-tabs>li, .nav-pills>li {
float: left;

line-height: 20px;
}
.nav-pills>li>a {
color: #428bca;
text-decoration: none;
}
.nav-pills>li>a:hover {background: #ffffff;}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
color: #fff;
background-color: #08c;
}
.nav-pills>li>a {
padding-top: 8px;
padding-bottom: 8px;
margin-top: 2px;
margin-bottom: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.nav-tabs>li>a, .nav-pills>li>a {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;
}
.nav>li>a {
display: block;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
color: #fff;
background-color: #04c;
}
.btn:hover, .btn:focus {
color: #333;
text-decoration: none;
background-position: 0 -15px;
-webkit-transition: background-position .1s linear;
-moz-transition: background-position .1s linear;
-o-transition: background-position .1s linear;
transition: background-position .1s linear;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
color: #333;
background-color: #e6e6e6;
}
.btn-primary {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top,#08c,#04c);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
background-image: -webkit-linear-gradient(top,#08c,#04c);
background-image: -o-linear-gradient(top,#08c,#04c);
background-image: linear-gradient(to bottom,#08c,#04c);
background-repeat: repeat-x;
border-color: #04c #04c #002a80;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #ccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}