﻿* {
	margin: 0;
	padding: 0;
}

/*div{
	overflow: auto;
}*/


li{
	list-style: none;	
}






.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px; /*пробелы между кнопками*/
	color:white; /*цвет букв*/
	text-decoration:none; /*убрать подчёркивание*/
	float: left;
	font-family: Tahoma; /*шрифт кнопок*/
	font-size: 12px; /*размер кнопок*/
	background-color:#DB5C04; /*цвет кнопок*/
}



.alt_page_navigation .ellipse_more {
    display:none;
}
.alt_page_navigation .ellipse_less {
    display:none;
}

.content li, .alt_content li, .content > p{
	padding: 5px
}
