﻿@model IEnumerable<CSOK.Models.TimeTable>
@{
    ViewBag.Title = "Расписание";
    
}
<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
<script src="~/Scripts/TimeTable.js" type="text/javascript"></script>

<script src="~/Scripts/jquery.nicefileinput.min.js"></script>

@if (ViewBag.message_success != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message_success</p></div></div>
    //ViewBag.message = null;
}
@if (ViewBag.message_fail != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_fail"><div><p>@ViewBag.message_fail</p></div></div>
    //ViewBag.message = null;
}
    <div class="top_cont3">
    </div>
<div class="top_cont_test_create">

    
    @if(ViewBag.Role != null)
    {
        @Html.Partial((string)@ViewBag.Role);
    }
    <div id="button_back">
    @Html.ActionLink("На главную", "Index", "Home", null, new {@class="button_back" })
        </div>

</div>


<script>
    if ($('#myTable tbody').children().length != 0) {
        $('#loadfile').hide();
        $('#save_tt').hide();
    }
    else {
        $('#clear_tt').hide();
    }
    $(document).ready(function () {
        $('input[type=file]').change(function () {
            $(this).blur();
        });
        $("input[type=file]").nicefileinput({
            label: "Выберите файл"
        });
        $('#clear_tt').confirmOn({

            questionText: 'Вы действительно хотите очистить расписание?', // The confirmation question
            //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
            textYes: 'Да', // Text on the button the user clicks when the handler should be called 
            textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
        },
        "click", function (e, confirmed) {
            if (confirmed) {
                $(location).attr('href', '@Url.Action("ClearTimeTable", "TimeTable")')
            }
                
        });
        $('#save_tt').confirmOn({

            questionText: 'Экспортировать этот файл в расписание?', // The confirmation question
            //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
            textYes: 'Да', // Text on the button the user clicks when the handler should be called 
            textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
        },
        "click", function (e, confirmed) {
            if (confirmed) {
                $('#form_tt').submit();
            }

        });
    });
</script>
      <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
    type="text/javascript"></script>
<script src="~/Scripts/Valid.js"></script>
<script src="~/Scripts/jquery.validation.additional-methods.js"></script>
@*<html> 
<head> 
<script src='jquery.js'></script> 
</head> 
<body> 
    
<table style="max-width:100%;" id="requests">

<tr id='here'><td>День недели</td><td>Время</td><td>Неделя</td><td>Дисциплина</td><td>Тип дисциплины</td><td>Преподаватель</td><td>Аудитория</td></tr> 
</table> 
<div id='clickme'>Добавить строку</div> 
    </body>
<script> 
$('#clickme').click(function(){ 
    $('<tr><td style="width: 100px"><input type="text" style="width: 90%"/></td><td style="width: 100px"><input type="text" style="width: 90%"/></td><td style="width: 100px"><input type="text" style="width: 90%"/></td><td style="width: 100px"><input type="text" style="width: 90%"/></td><td style="width: 100px"><input type="text" style="width: 90%"/></td><td style="width: 100px"><input type="text" style="width: 90%"/></td><td style="width: 100px"><input type="text" style="width: 90%"/></td></tr>').insertAfter($('#here'));
});
$("#objects > tbody").append("<tr class='textLine'><td colspan='8'><div> - - - </div></td></tr>");
</script> 
 
   
</html>*@
