﻿@model IEnumerable<CSOK.Models.TimeTable>
<table id="myTable" class="timetable">
  <thead class="timetable_header">
    <tr>
      <th>День недели</th><th>Время</th><th>Четность</th><th>Дисциплина</th><th>Вид дисциплины</th><th>Преподаватель</th><th>Группа</th><th>Аудитория</th>
    </tr>
  </thead>
    <tbody>
        @if(Model.Count() != 0){
        foreach (var tt in Model)
        {
            <tr>
                <td>
                    @tt.day
                </td>
                <td>
                    @tt.time
                </td>
                <td>
                    @tt.week
                </td>
                <td>
                    @tt.lesson.Name
                </td>
                <td>
                    @tt.typeless
                </td>
                <td>
                    @tt.Teacher.Name
                </td>
                <td>
                    @tt.Group.GroupName
                </td>
                <td>
                    @tt.aud
                </td>
            </tr>
        }
        }
    </tbody>
</table>
<br />