﻿@model IEnumerable<CSOK.Models.TimeTable>
@*<input type="button" onclick="addRow('myTable');return false;" value="Добавить строку" id="accept_button">
<input type="button" value="Удалить строку" id="deny_button" hidden>*@

<div class="testbutton">
@Html.ActionLink("Очистить расписание", "ClearTimeTable", null, new { @class="button_test", id="clear_tt"})
    </div>
    @using (Html.BeginForm("UploadTimeTable", "TimeTable", FormMethod.Post, new { enctype = "multipart/form-data", id="form_tt" }))
    {
        <div id="loadfile" style="text-align: center; margin-right: 30px;">
<fieldset>
        <legend style="padding-left: 0">Загрузка расписания из Excel таблицы </legend>
            </fieldset>
            
            <table><tr><td>
        <input type="file" name="file" class="nice_file" id="file" />
                </td><td>
            <label for="file" class="error" generated="true"></label>
                    </td>
        </tr></table>
            </div>
       
<table id="myTable" class="timetable">
  <thead class="timetable_header">
    <tr>
      <th>День недели</th><th>Время</th><th>Четность</th><th>Дисциплина</th><th>Вид дисциплины</th><th>Преподаватель</th><th>Группа</th><th>Аудитория</th>
    </tr>
  </thead>
    <tbody id="t_body">
        @if (Model.Count() != 0)
        {
            foreach (var tt in Model)
            {
            <tr>
                <td>
                    @tt.day
                </td>
                <td>
                    @tt.time
                </td>
                <td>
                    @tt.week
                </td>
                <td>
                    @tt.lesson.Name
                </td>
                <td>
                    @tt.typeless
                </td>
                <td>
                    @tt.Teacher.Name
                </td>
                <td>
                    @tt.Group.GroupName
                </td>
                <td>
                    @tt.aud
                </td>
            </tr>
            }
        }
    </tbody>
</table>
        <br />
        <div id="create_button">
<input type="submit" class="button_test" value="Сохранить расписание" id="save_tt"/>
            </div>
}
    <br />
