﻿<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/main1.css")
        @Styles.Render("~/Content/jquery-ui-1.10.4.css")
        @Styles.Render("~/Content/jquery-te-1.4.0.css")
          @Styles.Render("~/Content/SpryMenuBarHorizontal.css")
        @Styles.Render("~/Content/flat/blue.css")
        
        @Scripts.Render("~/bundles/modernizr")
      
  @Scripts.Render("~/Scripts/SpryMenuBar.js")
        @Scripts.Render("~/Scripts/ajax.js")
        @Scripts.Render("~/Scripts/jquery-1.9.1.js")
        @Scripts.Render("~/Scripts/jquery-ui.js")
        @Scripts.Render("~/Scripts/jquery-te-1.4.0.js")
        @Scripts.Render("~/Scripts/go-top.js")
        @Scripts.Render("~/Scripts/transitions.js")
        @Scripts.Render("~/Scripts/icheck.js")
        @*@Scripts.Render("~/Scripts/floatlabels.js")*@
        @Scripts.Render("~/Scripts/vert_nav.js")
        @Scripts.Render("~/Scripts/FlowupLabels.js")
        <script>
            
            $(document).ready(function () {
                $('input').on('ifCreated ifClicked ifChanged ifChecked ifUnchecked ifDisabled ifEnabled ifDestroyed ifToggled', function (event) {
                    if (event.type === "ifClicked") {
                        $(this).trigger('click');
                        //$(this).iCheck('check');
                    }
                    
                }).iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '20%'
                });
                
            });
</script>
        
    </head>
    
    <body>
    
    
      <div class="container">      
        <div class="container1">
            
            @RenderSection("featured", required: false)
            
                @RenderBody()
            
            </div>
              
        
         </div>
              

        
  
        @Scripts.Render("~/Scripts/popup.js")
        @RenderSection("scripts", required: false)
        
        @RenderSection("overlay",false)
    </body>
</html>