﻿<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title — Система обучения и контроля знаний</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/main1.css")
        @Styles.Render("~/Content/jquery-ui-1.10.4.css")
        @Styles.Render("~/Content/jquery-te-1.4.0.css")
          @Styles.Render("~/Content/SpryMenuBarHorizontal.css")
        @Styles.Render("~/Content/flat/blue.css")
        
        @Scripts.Render("~/bundles/modernizr")
      
  @Scripts.Render("~/Scripts/SpryMenuBar.js")
        
        @Scripts.Render("~/Scripts/jquery-1.9.1.js")
        @Scripts.Render("~/Scripts/jquery-ui.js")
        @Scripts.Render("~/Scripts/jquery-te-1.4.0.js")
        @Scripts.Render("~/Scripts/go-top.js")
        @Scripts.Render("~/Scripts/transitions.js")
        @Scripts.Render("~/Scripts/icheck.js")
        @*@Scripts.Render("~/Scripts/vert_nav.js")*@
        <script>

            $(document).ready(function () {
                $('input').on('ifCreated ifClicked ifChanged ifChecked ifUnchecked ifDisabled ifEnabled ifDestroyed ifToggled', function (event) {
                    if (event.type === "ifClicked") {
                        $(this).trigger('click');
                        //$(this).iCheck('check');
                    }

                }).iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '20%'
                });
            });
</script>
        
    </head>
    
    <body>
    
    
      <div class="container">
          
        <div class="top_cont">
        <span class="FIO"> 
       @Html.Partial("_LoginPartial")
       </span>
         
          </div>
        <div class="top_cont2">
          <ul id="MenuBar1" class="MenuBarHorizontal">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li><a class="MenuBarItemSubmenu" href="#">Расписание</a>
            </li>
            <li>@Html.ActionLink("Календарь", "Index", "Calendar")
            </li>
            <li><a class="MenuBarItemSubmenu" href="/Message/Inbox">Сообщения</a>
            </li>
            <li>@Html.ActionLink("События", "Index", "Event")
            </li>
            <li><a class="MenuBarItemSubmenu" href="#">Новости</a>
            </li>
          </ul>
        </div>
          
        <div class="container1">
            
            @RenderSection("featured", required: false)
            
                @RenderBody()
            
            </div>
              
          <div class="popup tabs_info" id="details"></div>
        
         </div>
              
    
   
@*<div class="footer1">

 <div class="container1">
 <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
 </div>

</div>*@
        <div class="go-top">Наверх</div>
      <script type="text/javascript">
          var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", { imgDown: "css/SpryMenuBarDownHover.gif", imgRight: "css/SpryMenuBarRightHover.gif" });
  </script>
        @Scripts.Render("~/Scripts/popup.js")
        @RenderSection("scripts", required: false)
        
          <div class="footer4">
            
                    <p>&copy; @DateTime.Now.Year — Москва, НИЯУ МИФИ. Кафедра 22</p>
         
        </div>
    </body>
</html>