﻿<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title — Система обучения и контроля знаний</title>
        <link href="~/csok_icon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/main1.css")
        @Styles.Render("~/Content/jquery-ui-1.10.4.css")
        @Styles.Render("~/Content/jquery-te-1.4.0.css")
          @Styles.Render("~/Content/SpryMenuBarHorizontal.css")
        @Styles.Render("~/Content/flat/blue.css")
        @Styles.Render("~/Content/jquery.ferro.ferroMenu.css")
        @Styles.Render("~/Content/font-awesome.css")
        @Styles.Render("~/Content/my-custom-tooltip.css")
        
        @*@Scripts.Render("~/bundles/modernizr")*@
      
  @Scripts.Render("~/Scripts/SpryMenuBar.js")
        @Scripts.Render("~/Scripts/ajax.js")
        @Scripts.Render("~/Scripts/jquery-1.9.1.js")
        @Scripts.Render("~/Scripts/jquery-ui.js")
        @Scripts.Render("~/Scripts/jquery-te-1.4.0.js")
        @Scripts.Render("~/Scripts/go-top.js")
        @Scripts.Render("~/Scripts/transitions.js")
        @Scripts.Render("~/Scripts/icheck.js")
        @*@Scripts.Render("~/Scripts/floatlabels.js")*@
        @*@Scripts.Render("~/Scripts/vert_nav.js")*@
        @Scripts.Render("~/Scripts/FlowupLabels.js")
        @Scripts.Render("~/Scripts/jquery.ferro.ferroMenu-1.2.2.min.js")
        @Scripts.Render("~/Scripts/_layout_script.js")
            
                    
    </head>
    
    <body>
    
    
      <div class="container">
          
        <div class="top_cont">
        <span class="FIO"> 
       @Html.Partial("_LoginPartial")
       </span>
         
          </div>
        <div class="top_cont2">
          <ul id="MenuBar1" class="MenuBarHorizontal">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Расписание", "Index", "TimeTable")
            </li>
            <li>@Html.ActionLink("Календарь", "Index", "Calendar")
            </li>
            <li><a class="MenuBarItemSubmenu" href="/Message/Inbox">Сообщения</a>
            </li>
            <li>@Html.ActionLink("События", "Index", "Event")
            </li>
            <li><a class="MenuBarItemSubmenu" href="/News/Index">Новости</a>
            </li>
          </ul>
        </div>

        <div class="container1">

            @RenderSection("featured", required: false)
            
                @RenderBody()
                                  <ul id="nav">
			<li><a href="@Url.Action("Index", "Tests")" title="Тесты"><i class="fa fa-graduation-cap"></i></a></li>
			<li><a href="@Url.Action("Index", "Reports")" title="Результаты"><i class="fa fa-check-square-o"></i></a></li>
			<li><a href="@Url.Action("Inbox", "Message")" title="Сообщения"><i class="fa fa-envelope"></i></a></li>
			<li><a href="@Url.Action("Index", "TimeTable")" title="Расписание"><i class="fa fa-table"></i></a></li>
			<li><a href="@Url.Action("Index", "Calendar")" title="Календарь"><i class="fa fa-calendar-o"></i></a></li>
			<li><a href="@Url.Action("Index", "News")" title="Новости"><i class="fa fa-rss"></i></a></li>
		</ul>

            </div>
              
          <div class="popup tabs_info" id="details">
              <div class="spinner" hidden>
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
          </div>
        
         </div>
              
    
   
@*<div class="footer1">

 <div class="container1">
 <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
 </div>

</div>*@
        <div class="go-top">Наверх</div>
      <script type="text/javascript">
          var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", { imgDown: "css/SpryMenuBarDownHover.gif", imgRight: "css/SpryMenuBarRightHover.gif" });
  </script>
        @Scripts.Render("~/Scripts/popup.js")
        @RenderSection("scripts", required: false)
        
        <div class="footer4">
            
            <p>&copy; @DateTime.Now.Year — Москва, НИЯУ МИФИ. Кафедра 22</p>
         
        </div>
        @RenderSection("overlay",false)
    </body>
</html>