﻿
@if (Request.IsAuthenticated) {
    
    <text>
    
         
           @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление" }) 
  
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) 
         {
              @Html.AntiForgeryToken()<a class="account" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a> 
         }
       
    </text>
} else {
      <text>
 
   <a> 
       @Html.ActionLink("Регистрация" , "RequestOfRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     @Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) 
       </a>
       </text>
    

}

