﻿@model CSOK.Models.CalendarEvent

@{
    Layout = null;
    ViewBag.Title = "Create_Eve";
}

<script src="/Scripts/tabs_func.js"></script>
<script src="~/Scripts/fancySelect.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" >
<script src="~/Scripts/jquery.datetimepicker.js"></script>
<script>
    
    $(".datetimepicker").datetimepicker();
    
    $('#eve_type').fancySelect();
    $('.options li').each(function (index, element) {
        switch ($(element).html()) {
            case "Тест":
                $(element).addClass('Test');
                break;
            case "Экзамен":
                $(element).addClass('Exam');
                break;
            case "Зачет":
                $(element).addClass('Zachet');
                break;
            case "Проверочная работа":
                $(element).addClass('Checking_work');
                break;
            case "Лабораторная работа":
                $(element).addClass('Lab_work');
                break;
            case "Другое":
                $(element).addClass('Other');
                break;
            default:
                $(element).addClass('Default_type');
        }
    });
   
  </script>

<a class="close" onclick="close_popup();">Close</a>
<h2>Создание нового события</h2>



@using (Html.BeginForm("Create_Eve", "Event", FormMethod.Post, new { id="create_eve_form"}))
{
    
 
    
       
        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            Введите текст:
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.text)
           
        </div>

        <div class="editor-label">
            Выберите дату начала:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.start_date, new { @class = "datetimepicker" })
   
        </div>
    
        <div class="editor-label">
            Выберите дату окончания:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.end_date, new { @class = "datetimepicker" })
   
        </div>
    <br />
    <div>
<select name="choice" id="eve_type">
    <option value="">Выберите тип события</option>
<option  style ="background-color:lightpink">Проверочная работа</option>
<option  style ="background-color:green">Лабораторная работа</option>
<option  style="background-color:yellow">Тест</option>
<option  style="background-color:blue">Зачет</option>
<option  style="background-color:red">Экзамен</option>
<option  style="background-color:gray">Другое</option>

</select>
</div>
    <label for="choice" class="error" generated="true"></label>

        <p>
            <input type="submit" value="Создать событие" class="create_button" />
        </p>
    
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
    type="text/javascript"></script>
<script src="~/Scripts/Valid.js"></script>
<script src="~/Scripts/fancySelect.js"></script>


@*<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
    type="text/javascript"></script>*@
