﻿@model CSOK.Controllers.EntrieE

@{
    Layout = null;
    ViewBag.Title = "Подробнее о событии";
}

<script src="/Scripts/tabs_func.js"></script>

<h2 style="text-decoration: underline">Подробности события</h2>

    <a class="close" onclick="close_popup();">Close</a>
    @*<legend>Question</legend>*@
    <table border="0" cellpadding="10" width="1200">
        <tr>
        <th>
           <span style="color: #00AAE7">Текст:</span> @Model.text   
        </th>  
    </tr>
    <tr>
        <th>
            <span style="color: #00AAE7">Дата начала:</span> @Model.start_date  
        </th>  
    </tr>
        <tr>
        <th>
            <span style="color: #00AAE7">Дата окончания:</span> @Model.end_date  
        </th>   
    </tr>
        <tr>
        <th>
            <span style="color: #00AAE7">Тип события:</span> @Model.type  
        </th>
            <tr>
        <th>
            <span style="color: #00AAE7">Автор:</span> @Model.NameA 
        </th>   
    </tr>   
    </tr>     
</table>
    @if(ViewBag.Role != null)
    {
        @Html.Partial((string)@ViewBag.Role);
    }

