﻿@model CSOK.Models.CalendarEvent

@{
    Layout = null;
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" >
<script src="~/Scripts/jquery.datetimepicker.js"></script>

<script>
    
        $(".datetimepicker").datetimepicker();
    
  </script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
    type="text/javascript"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "edit_eve_form" })) {
    
    <h3>Введите соответствующие изменения:</h3>

       @Html.HiddenFor(model => model.Author)
        @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model=>model.type)
        <div class="editor-label">
            Введите текст:
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.text)
           
        </div>

        <div class="editor-label">
            Введите дату начала:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.start_date, new { @class="datetimepicker"})
   
        </div>
    
        <div class="editor-label">
            Введите дату окончания:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.end_date, new { @class="datetimepicker"})
   
        </div>

        <p>
            <input type="submit" value="Сохранить изменения" class="create_button" />
        </p>
    
}

<script src="~/Scripts/Valid.js"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
    type="text/javascript"></script>*@


