﻿@model IEnumerable<CSOK.Models.CalendarEvent>

@{
    ViewBag.Title = "События";
    
}

<style>    body
    {
        color: black;
    }


</style>

@if (ViewBag.message_success != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.message_success</p></div></div>
    //ViewBag.message = null;
}
    <div class="top_cont3">
        </div>
 
        
        <div class="top_cont_test_create">
        @*<a href="../Event/Create_Eve">
            
                <input type="button" value="Новое событие" />  </a>*@
    @if(ViewBag.Role != null)
    {
        @Html.Partial((string)@ViewBag.Role);
    }
   
  
<table  style="width:80%; margin-top: 30px;" id="news">
    <tr class="news_header">   
        <th colspan="3">           
Список запланированных событий
            </th>
      </tr>
    @{var i = 0;}
@foreach (var entry in ViewBag.Entries)
{
    <tr class="first_tr">
        <td class="publication">
            Дата начала: @entry.start_date <br />
            Дата окончания: @entry.end_date
        </td>
        @{string tp = entry.type;}
        <td class="title"> 
              Тип: @Ajax.ActionLink( tp
                , "Details", "Event", new {id = entry.id }, new AjaxOptions
                 {
                     UpdateTargetId = "details", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new { @class = "show_popup", @rel = "tabs_info",@title="Подробнее о событии", @style="text-decoration:none;" })
                
        </td>
        <td class="empty"></td> 
        </tr>
    @*<tr><td colspan="3" style="text-align: center">Описание события</td></tr>*@
        <tr>
            <td class="content" colspan="3" style="text-align: center">
                 @{
                     var tmp = entry.text.ToString();
                     var str = "";
                     }
                @if (tmp.Length > 30)
                {
                    str = tmp.Substring(0, 30) + "...";
                }
                else
                {
                    str = tmp;
                }
                @str
                </td></tr>
                <tr><td class="sign" colspan="3">
                    Автор: @entry.NameA
                 </td></tr>
            if (i != ViewBag.Entries.Count - 1)
           { 
    <tr>
         
        <td colspan="3" style="padding:0">
            <hr style="background-color:#0094ff; width: 100%;"/>
        </td>
    </tr>
           }

    i++;
}
    </table>
            <div id="button_back">
            @Html.ActionLink("На главную", "Index", "Home", null, new {@class="button_back" })
                </div>
            
          @*  <p>
    @Html.ActionLink("Назад", "Index")
</p>*@
            </div>
    


