﻿@{
    ViewBag.Title = "О проекте";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Система позволяет создавать преподавателям тесты по курсам. 
    </p>

    <p>
        Система позволяет студентам проходить тесты по изучаемым курсам.
    </p>

    <p>
        Система позволяет просматривать статистику.
    </p>
</article>

<aside>
    <h3>Яндекс.Директ</h3>
    <p>
        Здесь могла быть Ваша реклама.
    </p>
    <ul>
        <li>@Html.ActionLink("На главную", "Index", "Home")</li>
        <li>@Html.ActionLink("О проекте", "About", "Home")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    </ul>
</aside>