﻿@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Главный:</span>
        @*<span>+7 (915) 019-07-86</span>*@
    </p>
    <p>
        <span class="label">Дополнительный:</span>
        @*<span>+7 (968) 743-0139</span>*@
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Отдел разработки:</span>
       @* <span><a href="#">artem.kazantsev@hotmail.com</a></span>*@
    </p>
    <p>
        <span class="label">Техническая поддержка:</span>
        @*<span><a href="#">7tosmoke@gmail.com</a></span>*@
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        Москва<br />
        Каширское шоссе, 31
    </p>
</section>