﻿@{
    ViewBag.Title = "Домашняя страница";
}

@if (ViewBag.hello != null)
{
    <script src="~/Scripts/success_message.js"></script>
    <div id="message_success"><div><p>@ViewBag.hello</p></div></div>
    //ViewBag.message = null;
}
  <div class="top_cont3">
     @* <a href="Tests/Index">Тесты</a>
      <a href="MyCourses/Index">Мои курсы</a>*@
        </div> 

        <div class="top_cont4"> 
@try
{

    @Html.Partial((string) @ViewBag.Role)
    ;
}
catch (Exception e)
{
    
}
        </div>            
    


<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", { imgDown: "css/SpryMenuBarDownHover.gif", imgRight: "css/SpryMenuBarRightHover.gif" });
  </script>