﻿@{
    ViewBag.Title = "Menu_teacher";
}

    <div id="message_404"><div><p>Страница в разработке!</p></div></div>

        <a href="../Tests/Index"><img id="foto1" class="ft1" src="../../Content/im/images/images/test.jpg" width="220" height="265" /></a>
          <a href="javascript:void(0);" class="404"><img id="foto2" class="ft2" src="../../Content/im/images/images/kurs.jpg" width="220" height="265" /></a>
          <a href="javascript:void(0);" class="404"><img id="foto3" class="ft3" src="../../Content/im/images/images/page1-img3.jpg" width="220" height="265" /></a>
          <a href="javascript:void(0);" class="404"><img id="foto4" class="ft4" src="../../Content/im/images/images/library.jpg" width="220" height="265" /></a>
          
 <a href="../Tests/Index"><span class="text ft1" id="text1"> 
Тесты</span></a>
      <a href="javascript:void(0);" class="404"> <span class="text ft2" id="text2"> 
Мои курсы</span></a>

       <a href="javascript:void(0);" class="404"> <span class="text ft3" id="text3"> 
       Учебный план
</span></a>
       <a href="javascript:void(0);" class="404"><span class="text ft4" id="text4"> 
       Библиотека
       </span></a>
       
@*       <a href="Tests/Index"><span class="text1" id="text5"> <br />

Подробнее... </span></a>
      <a href="index.html"> <span class="text1" id="text6"> 
Подробнее...</span></a>

       <a href="index.html"> <span class="text1" id="text7"> 
       Подробнее...
</span></a>
       <a href="index.html"><span class="text1" id="text8"> 
       Подробнее...
       </span></a>*@
<script src="~/Scripts/page_not_found.js"></script>