﻿@{
    ViewBag.Title = "Menu_admin";
}




        @*<a href="Request/Index"><img id="foto1" class="ft1" src="../../Content/im/images/images/test.jpg" width="220" height="265" /></a>*@
          
 
         
<div class="testbutton" style="width: 98%"> 
     @Html.ActionLink("Заявки на регистрацию", "Index", "Request",null, new {@class="button_test" })       
 
     @*<span class="text ft1" style="margin-left:420px; position:absolute; text-decoration:underline"> 
Заявки на регистрацию</span>*@</a>
 </div>    