﻿
@model CSOK.Models.Question

@{
    ViewBag.Title = "Создание вопроса";
}


@*@Html.ActionLink(User.Identity.Name, "Manage", "Account")*@
  
<link rel="stylesheet" href="~/Content/jquery.confirmon.css">

<script src="~/Scripts/jquery.confirmon.js"></script>
<script src="/Scripts/slider.js"></script>
<script src="~/Scripts/structures&themes.js"></script>
<script src="~/Scripts/jquery.nicefileinput.min.js"></script>
@* классные подсказки с эффектами ниже! *@
<script>
    $(function () {
        $('.toolTip').tooltip({
            position: {
                my: "center+5 bottom-6",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }
            }
        });
    });

    
</script>

@using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { enctype = "multipart/form-data", id = "question_createform" }))
{
    //Html.ValidationSummary()
     <div class="top_cont3"></div> 
    
    
    <div class="top_cont_question_create"> 
@*        <legend>Вопросы</legend>*@
       
     
        <div id="structures">
            @Html.LabelFor(model => model.Title, "Укажите раздел:")
            <label for="struct_id" generated="true" class="error"></label>
       @*@Html.DropDownList("name", ViewBag.structs as SelectList , "Выберите раздел ", new { style="width:30%", @id="struct_id"})*@
            <select id="struct_id"  name="struct_id">
                <option value="">Выберите раздел</option>
            @if(ViewBag.structs != null){
            foreach (var st in ViewBag.structs)
            {
                <option value="@st.Id">@st.Name</option>
            }
            }
                else{
                <option value="0">Не найдено ни одного раздела!</option>
            }
                </select>
            @*@Html.ValidationMessageFor(model => model.Title)*@
        </div>
        <br />
        <div id="themes" hidden>
            <label for="theme">Укажите тему:</label>
            <label for="theme_id" generated="true" class="error"></label>
            <select id="theme_id" name="theme_id" >
                @*<option value="">Выберите тему вопроса</option>*@
            </select>
        </div>
        <br />
        <div class="editor-lable">
            @Html.LabelFor(model => model.Body, "Вопрос")
            <label for="Body" generated="true" class="error"></label>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @*@Html.ValidationMessageFor(model => model.Body)*@
        </div>
         
        <fieldset id="test_setting">
            <legend>Настройки вопроса</legend>
        
           <label id="qtype21">
               <input type="checkbox" id="qtype2"  />   Прикрепить изображение к вопросу <span class="toolTip" title="Вы можете прикрепить до 5 изображений к одному вопросу">&nbsp;</span></label>
      <br />
            <div class="Images" hidden> 
    
    <input type="file" multiple="multiple" name="files" id="files" class="nice_file" />
                <br />
                <label for="files" class="error" generated="true"></label>
    </div>

            <label id="qtype31">
       @*<h3><font color="red"> @ViewBag.Message</font></h3>*@
        @Html.CheckBox("CorrAnsw", new { id ="qtype3" }) Вопрос со свободной формой <span class="toolTip" title="Ответ на вопрос будет содержать свободную формулировку">&nbsp;</span></label>
            <label for="CorrAnsw" class="error" generated="true"></label>
            
      <div class="CorrectAnswer" hidden>
          
        @Html.TextBoxFor(m => m.CorrectAnswer.Body, new { name="CorrectAnswerBody"}) <label for="CorrectAnswer_Body" class="error" generated="true"></label> Правильный ответ на вопрос со свободной формой ответа
       
    </div>
          <br /> 
        
        <label id="qtype11">
        @Html.CheckBoxFor(m => m.HasPossibleAnswer, new {  id = "qtype1" })
            Вопрос с вариантами ответа <span class="toolTip" title="Если флажок установлен, то данный вопрос будет иметь только возможные варианты ответа. Если не установлен- вопрос со свободным ответом">&nbsp;</span>
        </label>
            <label for="HasPossibleAnswer" class="error" generated="true"></label>
           <br />

            <div class="PossibleAnswer" display: none; hidden>
            Укажите форму вариантов ответа: <br />

           <label id="qtype51"> @Html.CheckBoxFor(m => m.CheckBoxAnswer, new {  id = "qtype5" })  Несколько правильных ответов <span class="toolTip" title="Чекбоксы">&nbsp;</span></label>
                <label for="CheckBoxAnswer" class="error" generated="true"></label>
          <br />
          <label id="qtype61">  @Html.CheckBoxFor(m => m.RadioAnswer, new {  id = "qtype6" }) Один правильный ответ <span class="toolTip" title="Радиокнопки">&nbsp;</span></label>
                <label for="RadioAnswer" class="error" generated="true"></label>
                 <br />
                
        <br />
            <input type="button" class="button_back" style="color:#0fc0ff" onclick="add_input()" value="Добавить еще один вариант ответа" disabled="disabled" id="addinput">
            <input type="button" class="button_back" style="color:#0fc0ff" onclick="del_input()" value="Убрать лишний вариант ответа" disabled="disabled" id="delinput">
                <label id="for_answ" class="error"></label>
            <div id="PossibleAnswers" display: none; hidden>  </div>
            </div>
       
            
        <p>
  <label for="amount">Укажите сложность вопроса:</label>
  @*<input type="number" id="amount" style="border:0; color:#f6931f; font-weight:bold;" >*@
            @Html.TextBoxFor(m => m.difficulty, new { id = "amount", @style = "border:0; color:#f6931f; font-weight:bold;" })
</p>
 
<div id="slider-range-min" style="width:500px; left:10px;"></div>
        
            </fieldset>
      
            <div id="create_button">
            <input type="submit" value="Создать вопрос" class="button_test" id="create_question" />
                </div>
       
         <div id="button_back">
@Html.ActionLink("Назад", "Index", null, new {@class="button_back" })
    </div>
        </div> 

}

@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
@Scripts.Render("~/scripts/checkORradio.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/Valid.js")
@Scripts.Render("~/scripts/jquery.validation.additional-methods.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
    }
<script type="text/javascript">
    $('input[type=file]').change(function () {
        $(this).blur();
    });
    $("input[type=file]").nicefileinput({
        label: "Выберите файл"
    });
    $('#Body').jqte();
    
    $('#create_question').confirmOn({

        questionText: 'Вы действительно хотите создать данный вопрос?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                if ($('#qtype5, #qtype6').is(':checked') && $('.answ').length == 0) {
                    $('#addinput, #delinput').addClass('button_error');
                    $('#for_answ').show().html("Создайте варианты ответа на вопрос");
                }
                else {
                    $('#question_createform').submit();
                }
            }
        });
</script>



@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
    type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
    type="text/javascript"></script>*@





