﻿@model CSOK.Models.Matrix

@{
    ViewBag.Title = "Создание вопроса с матрицей";
}

@*<h2>Create with matrix</h2>*@

<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
<script src="/Scripts/Valid.js"></script>
<script src="/Scripts/slider.js"></script>
<script src="~/Scripts/structures&themes.js"></script>

<script>
    $(function () {
        $('.toolTip').tooltip({
            position: {
                my: "center+5 bottom-6",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }
            }
        });
        
        $('#generator').click(function () {
            if ($("#qtype7").is(":checked")) {
                generate_correct(document.getElementById('nRows').value, document.getElementById('nCols').value);
                $('#content table tr input').keyup(function (event) {
                    var cls = $(this).attr('class');
                    var value = $(this).val();
                    var parrallel = $(this).parents('.matrix_zone').next().find('#correct_matrix table tr input');
                    parrallel.each(function () {
                        if ($(this).hasClass(cls)) $(this).val(value);
                    });
                });
            }
            
            });
        
        $("#qtype7, #qtype1, #qtype3").click(function () {
            if ($(this).is(':checked')) {
                $(".matrix_zone").prependTo($(this).parents('label').next().next().show()).effect("slide", "show", 400);
                if ($(this)[0].id == "qtype7") {
                    
                    $("#qtype3, #qtype1").addClass("ignored");
                    $("#qtype31, #qtype11").fadeOut("slow");
                }
            }
            else {
                if ($(this)[0].id == "qtype7") {
                    $("#qtype3, #qtype1").removeClass("ignored");
                    $("#qtype31, #qtype11").fadeIn("slow");
                    $('.correct_zone').hide();
                }
                $('.matrix_zone').slideToggle(400);

            }
        });
    });
    
</script>
@using (Html.BeginForm("Create_with_matrix", "Questions", FormMethod.Post, new { id="question_createform"}))
{
    //Html.ValidationSummary()
    
      <div class="top_cont3"></div> 
   <div class="top_cont_question_create"> 
        <div class="editor-field">
            @Html.LabelFor(model => model.Question.Title, "Укажите раздел:")
            <label for="struct_id" generated="true" class="error"></label>
       @*@Html.DropDownList("name", ViewBag.structs as SelectList , "Выберите раздел ", new { style="width:30%", @id="struct_id"})*@
            <select id="struct_id"  name="struct_id">
                <option value="">Выберите раздел</option>
            
            @if(ViewBag.structs != null){
            foreach (var st in ViewBag.structs)
            {
                <option value="@st.Id">@st.Name</option>
            }
            }
                else{
                <option value="0">Не найдено ни одного раздела!</option>
            }
                </select>
            @*@Html.ValidationMessageFor(model => model.Title)*@
        </div>
        <br />
        <div id="themes" hidden>
            <label for="theme">Выберите тему:</label>
            <label for="theme_id" generated="true" class="error"></label>
            <select id="theme_id" name="theme_id" >
                
            </select>
        </div>
        <div class="editor-lable">
            @Html.LabelFor(model => model.Question.Body, "Вопрос")
            <label for="Question_Body" generated="true" class="error"></label>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Question.Body)
            @*@Html.ValidationMessageFor(model => model.Question.Body)*@
        </div>
       
       <fieldset id="test_setting">
           <legend>Настройки вопроса</legend>
       
       <label id="qtype31">
       @*<h3><font color="red"> @ViewBag.Message</font></h3>*@
        @Html.CheckBox("CorrAnsw", new { id ="qtype3" }) Вопрос со свободной формой <span class="toolTip" title="Ответ на вопрос будет содержать свободную формулировку">&nbsp;</span></label>
           <label for="CorrAnsw" class="error" generated="true"></label>
       <div class="CorrectAnswer" hidden>
          <br />
        @Html.TextBoxFor(m => m.Question.CorrectAnswer.Body, new { name="CorrectAnswerBody"}) Правильный ответ на вопрос со свободной формой ответа
       
    </div>
           
        <br />
        <label id="qtype11">
        @Html.CheckBoxFor(m => m.Question.HasPossibleAnswer, new {  id = "qtype1" })
            Вопрос с вариантами ответа <span class="toolTip" title="Если флажок установлен, то данный вопрос будет иметь только возможные варианты ответа. Если не установлен- вопрос со свободным ответом">&nbsp;</span>
        </label>
           <label for="Question.HasPossibleAnswer" class="error" generated="true"></label>
           
            <div class="PossibleAnswer" display: none; hidden>
            Укажите форму вариантов ответа: <br />

           <label id="qtype51"> @Html.CheckBoxFor(m => m.Question.CheckBoxAnswer, new {  id = "qtype5" })  Несколько правильных ответов <span class="toolTip" title="Чекбоксы">&nbsp;</span></label>
                <label for="Question.CheckBoxAnswer" class="error" generated="true"></label>
          <br />
          <label id="qtype61">  @Html.CheckBoxFor(m => m.Question.RadioAnswer, new {  id = "qtype6" }) Один правильный ответ <span class="toolTip" title="Радиокнопки">&nbsp;</span></label>
                <label for="Question.RadioAnswer" class="error" generated="true"></label>
                 <br />
        <br />
            <input type="button" class="button_back" style="color:#0fc0ff" onclick="add_input()" value="Добавить еще один вариант ответа" disabled="disabled" id="addinput">
            <input type="button" class="button_back" style="color:#0fc0ff" onclick="del_input()" value="Убрать лишний вариант ответа" disabled="disabled" id="delinput">
                <label id="for_answ" class="error"></label>
            <div id="PossibleAnswers" display: none; hidden>  </div>

            </div>
           <br />
           <label id="qtype71">
                    @Html.CheckBoxFor(m => m.Question.MatrixAnswer, new { id= "qtype7" })
                    Вопрос с заполнением пустых полей матрицы <span class="toolTip" title="Оставьте любые поля матрицы пустыми, чтобы студент мог вносить в них свой ответ">&nbsp</span>
                </label>
           <label for="Question.MatrixAnswer" class="error" generated="true"></label>
           <div class="MatrixAnswer" hidden>
               <div class="correct_zone" hidden><fieldset><legend style="font-size:1em;">
               Заполните правильную матрицу ниже (эта матрица является правильным ответом на вопрос):</legend>
               <div id="correct_matrix">
               </div></fieldset>
                   </div>
           </div>
            <br />

       @*matrix*@
           <div class="matrix_zone" hidden>
       <br />
        Выберите параметры матрицы: <span class="toolTip" title="Студенту будет выведена матрица (поля матрицы можно оставлять пустыми)">&nbsp;</span>
        <br />
       <br />
        <div class="editor-lable">
            @Html.Label("Количество строк")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nRows)
            <label for="nRows" class="error" generated="true"></label>
            @*@Html.ValidationMessageFor(model => model.nRows, "*")*@
        </div>
        <div class="editor-lable">
            @Html.Label("Количество столбцов")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nCols)
            <label for="nCols" class="error" generated="true"></label>
            @*@Html.ValidationMessageFor(model => model.nCols, "*")*@
        </div>
        <input type="button" id="generator" value="Сгенерировать матрицу"  class="button_back" style="color:#0fc0ff" onclick="generate(document.getElementById('nRows').value, document.getElementById('nCols').value);" />
      <div class="fill_it" hidden><fieldset><legend style="font-size:1em;">Матрица ниже будет выведена при прохождении теста:</legend>
          
               <div id="content">
               </div>
          </fieldset></div>
           </div>
            
        <p>
  <label for="amount">Укажите сложность вопроса:</label>
  @*<input type="number" id="amount" style="border:0; color:#f6931f; font-weight:bold;" >*@
            @Html.TextBoxFor(m => m.Question.difficulty, new { id = "amount", @style = "border:0; color:#f6931f; font-weight:bold;" })
</p>
 
<div id="slider-range-min" style="width:500px; left:10px;"></div>
           </fieldset>
       <div id="create_button">
            <input type="submit" value="Создать вопрос" class="button_test" id="create_question" />
      </div>
      <div id="button_back">
          @Html.ActionLink("Назад", "Index", null, new {@class="button_back"})
      </div>
    </div> 
}

<script type="text/javascript">
    function generate(rows, cols) {
        if (rows < 1 || cols < 1 || rows > 5 || cols > 5) {
            return false;
        }
        if (document.getElementById('content').innerHTML != null) {
            $('#content').fadeOut(400);
            $('#content').html('');
            $('#content').effect("slide", 400);
            var table = document.createElement("table");
            table.border = 0;
            for (var x = 0; x < rows; x++) {
                var tr = document.createElement("tr");
                for (var y = 0; y < cols; y++) {
                    var td = document.createElement("td");
                    var cell = document.createElement('input');
                    cell.type = 'text';
                    cell.name = 'elements[' + x + '][' + y + ']';
                    cell.className = 'elements[' + x + '][' + y + ']';
                    //Переделать, эл-т td не появляется в разметке, хотя отображается все корректно
                    td = cell;
                    tr.appendChild(td);

                }
                table.appendChild(tr);
            }
            $('.fill_it').show();
            document.getElementById("content").appendChild(table);

        }
    }
    function generate_correct(rows, cols) {
        if (rows < 1 || cols < 1 || rows > 5 || cols > 5) {
            return false;
        }
        if (document.getElementById('correct_matrix').innerHTML != null) {
            $('#correct_matrix').fadeOut(400);
            $('#correct_matrix').html('');
            $('#correct_matrix').effect("slide", 400);
            var table = document.createElement("table");
            table.border = 0;
            for (var x = 0; x < rows; x++) {
                var tr = document.createElement("tr");
                for (var y = 0; y < cols; y++) {
                    var td = document.createElement("td");
                    var cell = document.createElement('input');
                    cell.type = 'text';
                    cell.name = 'correct_elements[' + x + '][' + y + ']';
                    cell.className = 'elements[' + x + '][' + y + ']';
                    //Переделать, эл-т td не появляется в разметке, хотя отображается все корректно
                    td = cell;
                    tr.appendChild(td);

                }
                table.appendChild(tr);
            }

            document.getElementById("correct_matrix").appendChild(table);
            $('.correct_zone').show();

        }
    }
    @section Scripts{
        @Scripts.Render("~/scripts/QuestionCreate.js")
@*    @Scripts.Render("~/scripts/tooltip.js")*@
        @Scripts.Render("~/scripts/checkORradio.js")
        @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/scripts/focus.js")
@*    @Scripts.Render("~/scripts/jquery.customSelect.js")*@
    @Scripts.Render("~/scripts/fancySelect.js")
        }
    
</script>
<script type="text/javascript">
    $('#Question_Body').jqte();
    $('#create_question').confirmOn({

        questionText: 'Вы действительно хотите создать данный вопрос?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                if ($('#qtype5, #qtype6').is(':checked') && $('.answ').length == 0) {
                    $('#addinput, #delinput').addClass('button_error');
                    $('#for_answ').show().html("Создайте варианты ответа на вопрос");
                }
                else {
                    $('#question_createform').submit();
                }
            }
        });
</script>


