﻿@model CSOK.Models.Question

@{
    ViewBag.Title = "Создание вопроса с блоками";
}

@*<h2>Create</h2>*@

<link rel="stylesheet" href="~/Content/jquery.confirmon.css">
<script src="~/Scripts/jquery.confirmon.js"></script>
<script src="/Scripts/Valid.js"></script>
<script src="/Scripts/slider.js"></script>
<script src="~/Scripts/structures&themes.js"></script>

<script>
    $(function () {
        $('.toolTip').tooltip({
            position: {
                my: "center+5 bottom-6",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }
            }
        });
    });

</script>
@using (Html.BeginForm("CreateBlock", "Questions", FormMethod.Post, new { id="question_createform"}))
{
    @Html.ValidationSummary()

     <div class="top_cont3"></div>
    
    <div class="top_cont_question_create"> 

@*        <legend>Блоки</legend>*@
        <h3><font color="red"> @ViewBag.Message</font></h3>
        <div class="editor-field">
            @Html.LabelFor(model => model.Title, "Укажите раздел:")
            <label for="struct_id" generated="true" class="error"></label>
       @*@Html.DropDownList("name", ViewBag.structs as SelectList , "Выберите раздел ", new { style="width:30%", @id="struct_id"})*@
            <select id="struct_id"  name="struct_id">
                <option value="">Выберите раздел</option>
            
            @if(ViewBag.structs != null){
            foreach (var st in ViewBag.structs)
            {
                <option value="@st.Id">@st.Name</option>
            }
            }
                else{
                <option value="0">Не найдено ни одного раздела!</option>
            }
                </select>
            @*@Html.ValidationMessageFor(model => model.Title)*@
        </div>
        <br />
        <div id="themes" hidden>
            <label for="theme">Выберите тему:</label>
            <label for="theme_id" generated="true" class="error"></label>
            <select id="theme_id" name="theme_id" >
                
            </select>
        </div>
        <br />
        <div class="editor-lable">
            @Html.LabelFor(model => model.Body, "Вопрос")
            <label for="Body" generated="true" class="error"></label>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @*@Html.ValidationMessageFor(model => model.Body, "*")*@
        </div>
        <fieldset id="test_setting">
            <legend>Настройки вопрсоа</legend>
        
        <label id="simple">
        <input type="checkbox" id="simple_blocks" name="simple_blocks"/> Обычная сортировка блоков
            <span class="toolTip" title="Студент будет сортировать блоки в правильном порядке">&nbsp;</span></label> 
            <label for="simple_blocks" class="error" generated="true"></label>
        <br />
        <label id="delete">
            @Html.CheckBoxFor(m => m.HasExcessBlocks, new { id="delete_blocks"}) Сортировка блоков с удалением лишних
            <span class="toolTip" title="Студент будет сортировать блоки в правильном порядке и удалять лишние блоки">&nbsp;</span></label> 
        <label>
           <label for="HasExcessBlocks" class="error" generated="true"></label>
        </label><ul>
            <div class="PossibleAnswers" disply: none>
            <input type="button" class="button_back" style="color:#0fc0ff" onclick="add_input()" value="Добавить еще один блок" disabled="disabled" id="addinput">
            <input type="button" class="button_back" style="color:#0fc0ff" onclick="del_input()" value="Убрать лишний блок" disabled="disabled" id="delinput"> <span class="toolTip" title="В текстовых полях блоков введите некоторое выражение">&nbsp;</span>
                <label id="for_block" class="error"></label>
            <div id="PossibleAnswers" display: none; hidden>  </div>

            </div>
        </ul>
         <p>
  <label for="amount">Укажите сложность вопроса:</label>
  @*<input type="number" id="amount" style="border:0; color:#f6931f; font-weight:bold;" >*@
            @Html.TextBoxFor(m => m.difficulty, new { id = "amount", @style = "border:0; color:#f6931f; font-weight:bold;" })
</p>
 
<div id="slider-range-min" style="width:500px; left:10px;"></div>
            </fieldset>
      <div id="create_button">
            
            <input type="submit" value="Создать вопрос" class="button_test" id="create_question"/>
          </div>
        <div id="button_back">
          @Html.ActionLink("Назад", "Index", null, new {@class="button_back" })
      </div>
   </div>
}


@section Scripts {
@Scripts.Render("~/scripts/QuestionCreate.js")
@*@Scripts.Render("~/scripts/tooltip.js")*@
    @Scripts.Render("~/scripts/block_or_excessblock.js")
@Scripts.Render("~/scripts/jquery.validate.js")
@Scripts.Render("~/scripts/focus.js")
@*@Scripts.Render("~/scripts/jquery.customSelect.js")*@
@Scripts.Render("~/scripts/fancySelect.js")
    }
<script type="text/javascript">
    $('#Body').jqte();
    $('#create_question').confirmOn({

        questionText: 'Вы действительно хотите создать данный вопрос?', // The confirmation question
        //classPrepend: 'confirmon', // Use another prefix for the classes used by the plugin
        textYes: 'Да', // Text on the button the user clicks when the handler should be called 
        textNo: 'Нет' // Text on the button the user clicks when the handler should not be called
    },
        "click", function (e, confirmed) {
            if (confirmed) {
                if ($('#simple_blocks, #delete_blocks').is(':checked') && $('.block').length == 0) {
                    $('#addinput, #delinput').addClass('button_error');
                    $('#for_block').show().html("Создайте блоки");
                }
                else {
                    $('#question_createform').submit();
                }
            }
        });
</script>
