﻿@model CSOK.Models.Question

@{
    Layout = null;
    ViewBag.Title = "Delete";
}
<script src="/Scripts/Valid.js"></script>


<h3>Вы действительно хотите удалить этот вопрос?</h3>
@*<fieldset>
    <a class="close" onclick="close_popup();">Close</a>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDataTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDataTime)
    </div>
</fieldset>*@

@using (Html.BeginForm()) {
    
        <input type="submit" value="Удалить" class="create_button" /> 
        
   
}
