﻿@model CSOK.Models.QuestionsIndex

@{
    ViewBag.Title = "Details";
}

<h2 style="text-decoration: underline">
    Вопрос подробно</h2>



<script src="/Scripts/tabs_func.js"></script>


    <a class="close">Close</a>

    <table border="0" cellpadding="10" style="width:100%">
    <tr>
        <th>
            <span style="color: #00aae7">Тема вопроса: </span>@Model.Title   
        </th>  
    </tr>
        <tr>
        <th>
           <span style="color: #00aae7">Вопрос: </span> @Html.Raw(Model.Body)  
        </th>   
    </tr>
        <tr>
            <td>
            @for (int k = 0; k < Model.ImageId.Count(); k++ )
             {
             <img src="@Url.Action("OutputImage", "Questions", new { id = Model.ImageId.ElementAt(k) })" width="150" height="100" alt="image" hspace="10" vspace="10"/>
             } 
                </td> 
        </tr>
        
        @if (Model.BlockBody.Count() != 0)
        {
            <tr><td><span style="color: #00aae7">Студент расставляет блоки в правильном порядке:</span></td></tr>
            <tr><td>
            <ul class="sortable">
                @for (int i = 0; i < Model.BlockBody.Count(); i++)
                {
  @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item</li>*@
        <li><span>@Model.BlockBody.ElementAt(i)</span>
            </li>
    }
            </ul></td></tr>
        }

        @if (Model.ExcessBlockBody.Count() != 0)
        {
            <tr><td><span style="color: #00aae7">Студент расставляет блоки в правильном порядке и убирает лишние:</span></td></tr>
            <tr><td>
            <ul class="sortable">
                @for (int i = 0; i < Model.ExcessBlockBody.Count(); i++)
                {
  @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item</li>*@
        <li><span>@Model.ExcessBlockBody.ElementAt(i)</span>
            </li>
    }
            </ul></td>
            </tr>
        }
        
        @if(Model.Matrix != null){     
            <tr><td><span style="color: #00aae7">Студент работает с матрицей:</span></td></tr>
            <tr><td>
            <table class="matrix" style="width:100px">
            @{var c = ViewBag.result;
            for (int i = 0; i < c.Count; i++)
            {
                <tr style="border:1px solid">
                @for(int j = 0; j < c[i].Count; j++)
                {
                    <td style="border:1px solid; text-align:center;">@c[i][j]</td>
                }
                    </tr>
            }
            }
             </table>  
                </td></tr>     
        }
        @if(Model.CorrectAnswer != null){
        <tr> <td> <span style="color: #00aae7"> Поле для ответа студента:</span> <input type="text"  disabled/> </td></tr>
        }
        
            
        @if(Model.CheckBoxAnswer==true){
            <tr><td><span style="color: #00aae7">Студент выбирает правильный(-ые) ответы:</span></td></tr>
                foreach (var k in Model.PossibleAnswers)
                {
                <tr>
                    <td>
                    @k.Body <input type="checkbox" disabled />
                    </td>
                </tr>
                } 
            
        }
        @if(Model.RadioAnswer==true){
            <tr><td><span style="color: #00aae7">Студент выбирает один правильный ответ:</span></td></tr>
            foreach (var k in Model.PossibleAnswers)
                {
                <tr>
                    <td>
                    @k.Body <input type="radio" disabled />
                    </td>
                </tr>
                } 
            
        }
</table>
  

<div class="selectTabs">
			<ul class="lineTabs">
				<li class="active">
                    @Ajax.ActionLink("Изменить", "Edit", new { id = Model.ID }, new AjaxOptions
                 {
                     UpdateTargetId = "edit", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new { @class = "show_tab" })

				</li>
				<li>
                    @Ajax.ActionLink("Удалить", "Delete", new {id = Model.ID }, new AjaxOptions
                 {
                     UpdateTargetId="delete", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 }, new { @class = "show_tab" })

				</li>
			</ul>
			<div class="tab_content">
				<div class="tab1"></div>
				<div class="tab2"></div>
			</div>
		</div>

@section Scripts {
    

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}
