﻿@model CSOK.Models.Question

@{
    Layout = null;
    ViewBag.Title = "Edit";
}


@Scripts.Render("~/Scripts/Image_manager.js")
  
<style>
  #gallery { float: left; width: 65%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 120px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center;}
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
  /*поправить стиль для переноса слов*/
    /*.gallery .ui-widget-header
    {
        overflow:no-content;
        word-wrap:normal;
    }*/
 
  #trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }
  #trash .gallery h5 { display: none; }
    
    .sortable li span
    {
        display:block;
        text-align:left;
        
    }
    .editor-field img, .editor-field img:hover
    {
        box-shadow:none;
    }
    .ui-widget-header
    {
        word-break: break-all;
    }
  </style>

<script>
    $('#save').click(function () {
        var ids = new Array();
        var addrs = new Array();
        if ('@Model.Images.Count' != 0) {
            
            $('#trash ul li').each(function (i) {
                var str = $(this).find('img').attr('src');
                addrs.push(str);
                var slash = str.lastIndexOf('/');
                ids.push(parseInt(str.slice(slash + 1)));

            });
            //само удаление   
            $.ajax({
                url: '@Url.Action("Delete_image")',
                type: 'POST',
                traditional: true,
                data: { ids: ids },
                //dataType: 'json',
                async: true,
                //success: function (response) {
                //    alert(response);
                //},
                //error: function (xhr) {
                //    debugger;
                //    alert(xhr);

                //}


            });
            
        }
        var blocks = new Array();
        var right_block = new Array();
        var id = $('#ID').val();
        
            if (('@Model.Blocks.Count' != 0) || ('@Model.Excess_Blocks.Count' != 0)) {
                
            
            $('.tab1 .sortable li').each(function () {
                var value = $(this).find('input[type=text]').val();
                if (value === undefined) {
                    blocks.push($(this).find('span').html());
                }
                else {
                    blocks.push(value);
                }
                
                var check_value = $(this).find('input[type=checkbox]').prop('checked');
                if (check_value !== undefined) {
                    right_block.push(check_value);
                }
            });
           
            
                $.ajax({
                    url: '@Url.Action("Edit_Blocks", "Questions")',
                    type: 'POST',
                    traditional: true,
                    data: { blocks: blocks, id: id, right_block: right_block },
                    async: true
                });
            
        }
    });
    $('.tab1 .sortable li').dblclick(function () {
        var body = $(this).find('span');
        var block = body.html();
        
        //$('.tab1 .sortable input').remove();
        
        body.replaceWith('<input type="text" name="block" value="' + block + '" />');
        var input1 = $(this).find('input[type=text]');
        var input3 = $(this).find('input[type=hidden]');
        input1.focus();
        
        $('.tab1 .sortable input').blur(function () {
            var input2 = $(this);
            input2.replaceWith('<input type="hidden" id="blocks" name"blocks" value=' + input2.val() + '  /><span>' + input2.val() + '</span>');
            input3.remove();
        });
            
    });
    
    
</script>
<script src="/Scripts/Valid.js"></script>

@using (Html.BeginForm("Edit", "Questions", FormMethod.Post, new { id = "editform" }))
{
    
    <h3>Введите соответствующие изменения:</h3><br />

        @Html.HiddenFor(model => model.ID)

        <div id="structures">
            @Html.LabelFor(model => model.Title, "Укажите раздел:")
            <label for="struct_id" generated="true" class="error"></label>
       @*@Html.DropDownList("name", ViewBag.structs as SelectList , "Выберите раздел ", new { style="width:30%", @id="struct_id"})*@
            <select id="struct_id"  name="struct_id">
            @if (ViewBag.structs != null)
            {
                foreach (var st in ViewBag.structs)
                {
                    if(st.Name == Model.Theme.Structure.Name){
                <option value="@st.Id" selected>@st.Name</option>
            }
            else{
                        <option value="@st.Id">@st.Name</option>
                    }
                }
            }
            else
            {
                <option value="0">Не найдено ни одного раздела!</option>
            }
                </select>
            @*@Html.ValidationMessageFor(model => model.Title)*@
        </div>
        <br />
        <div id="themes">
            <label for="theme">Укажите тему:</label>
            <label for="theme_id" generated="true" class="error"></label>
            <select id="theme_id" name="theme_id" >
                @foreach (var th in ViewBag.thems)
                {
                    if (th.Name == Model.Theme.Name)
                    {
                        <option value="@th.Id" selected>@th.Name</option>
                    }
                    else{
                    <option value="@th.Id">@th.Name</option>
                    }
                }
                @*<option value="">Выберите тему вопроса</option>*@
            </select>
        </div>
    
        <div class="editor-field">
            <label for="Body">Вопрос</label>
            @Html.TextAreaFor(model => model.Body, new { @class = "jqte" })
   
        </div>
            if (Model.Images.Count() != 0)
            {
    <h3>Перетащите в корзину те изображения, которые должны быть удалены:</h3> 
    <div class="editor-field" style="width:800px">
        <div class="ui-widget ui-helper-clearfix">
 
<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
        @for (int k = 0; k < Model.Images.Count(); k++)
        {
            <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header">@Model.Images.ElementAt(k).ImageName</h5>
             <img src="@Url.Action("OutputImage", "Questions", new { id = Model.Images.ElementAt(k).ImageId })" alt="@Model.Images.ElementAt(k).ImageName" />
                <a href="@Url.Action("OutputImage", "Questions", new { id = Model.Images.ElementAt(k).ImageId })" target="_blank" title="Увеличить изображение" class="ui-icon ui-icon-zoomin">Увеличить</a>
    <a href="link/to/trash/script/when/we/have/js/off" title="Поместить в корзину" class="ui-icon ui-icon-trash">Поместить в корзину</a>
  </li>
        } 
    </ul>
            <div id="trash" class="ui-widget-content ui-state-default">
<h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Корзина</span> Корзина</h4>
</div>
    </div>
        </div>
    <br />
            }
            if (Model.CorrectAnswer != null)
            {
        <div class="editor-field">
            Вы можете изменить правильный ответ: 
            @Html.EditorFor(model => model.CorrectAnswer.Body)
   <label for="CorrectAnswer_Body" class="error" generated="true"></label>
        </div>
            }
            if (Model.Blocks.Count() != 0)
            {
        <div>
        Двойной щелчок по телу блока для его редактирования:
        </div>
            <ul class="sortable">
                @for (int i = 0; i < Model.Blocks.Count(); i++)
                {
  @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item</li>*@
        <li><span>@Model.Blocks.ElementAt(i).Body</span>
            </li>
                }
            </ul>
            }
            if (Model.Excess_Blocks.Count() != 0)
            {
        <div>
        Двойной щелчок по телу блока для его редактирования:
        </div>
            <ul class="sortable">
                @for (int i = 0; i < Model.Excess_Blocks.Count(); i++)
                {
  @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item</li>*@
        <li><span>@Model.Excess_Blocks.ElementAt(i).Body</span> Правильный блок: <input type="checkbox" name="right_block" checked="@Model.Excess_Blocks.ElementAt(i).IsRight" />
            </li>
                }
            </ul>
            }
    <br />
            <input type="submit" value="Сохранить изменения" id="save" class="create_button" />

      
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
<script src="~/Scripts/structures&themes.js"></script>
<script type="text/javascript">
    $('#theme_id').fancySelect();
    $('.jqte').jqte();
    $('.jqte').css({ 'width': '800px' });
    var source_text = $('.jqte_editor .jqte_editor').html();
    $('.jqte_editor .jqte_editor, .jqte_editor .jqte_toolbar').remove();
    $('jqte_editor').html() = source_text;
    
</script>
