﻿@model IEnumerable<CSOK.Models.QuestionsIndex>

@{
    ViewBag.Title = "Конструктор вопросов";
}
 <div class="top_cont3"></div> 
<div class="top_cont_question"> 
    <a href="../Questions/Create"><img id="foto1" class="ft1" src="../../Content/im/images/images/cubiky.jpg" /> </a>
    <a href="../Questions/Create_with_matrix"><img id="foto2" class="ft2" src="../../Content/im/images/images/matrix.jpg" /> </a>
    <a href="../Questions/CreateBlock"><img id="foto3" class="ft3" src="../../Content/im/images/images/block.jpg" /> </a>

     <a href="../Questions/Create"><span class="text ft1" id="text1"> 
Стандартный <br /> вопрос</span></a>
    <a href="Create_with_matrix"><span class="text ft2" id="text2"> 
Вопрос с <br /> матрицей</span></a>
    <a href="CreateBlock"><span class="text ft3" id="text3"> 
Вопрос с <br /> блоками</span></a>
@*<h2>Index</h2>*@
@*<script src="https://code.google.com/p/jqueryjs/source/browse/trunk/plugins/delegate/jquery.delegate.js?r=4374"></script>*@
@*<p>
    @Html.ActionLink("Создать новый вопрос + вопрос с изображением", "Create") |
    @Html.ActionLink("Создать новый вопрос c матрицей(таблицей)", "Create_with_matrix") |
    @Html.ActionLink("Создать вопрос с блоками", "CreateBlock")
</p>
<table border="0" cellpadding="10" width="1200">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.AnswCount)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.CreationDataTime)
        </th>
    </tr>

@foreach (var item in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswCount)
            </td>
            <td>
                
             @for (int k = 0; k < item.ImageId.Count(); k++ )
             {
          
             <img src="@Url.Action("OutputImage", "Questions", new { id = item.ImageId.ElementAt(k) })" width="70" height="50" alt="image"/>
             }               
       </td>
            <td>
            @Html.DisplayFor(modelItem=> item.CreationDataTime)
        </td>
        <td>
            @Html.ActionLink("Ответить", "Reply", new {id = item.ID}) |
           
            @Ajax.ActionLink("Подробнее", "Details", new { id = item.ID }, new AjaxOptions
                 {
                     UpdateTargetId="details", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 },
                 new { @class = "show_popup", @rel = "tabs_info"}) 
          
        </td>
    </tr>
}

</table>

<div class="popup tabs_info" id="details"></div>*@

</div>
<div class="top_cont_question_create">
    		             <div id="button_back">
    @Html.ActionLink("Назад", "CreateQuestionAndTests", "Tests", null, new {@class="button_back" })
</div>
    </div>
@section Scripts {
    
@Scripts.Render("~/scripts/popup.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
}