﻿
@model CSOK.Models.Question

@{
    ViewBag.Title = "CreateBlock";
}


  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
<p>
        Тема:
            @Model.Title
        <br />
            Вопрос:
            @Model.Body
<br />
   </p>   
<h3>Выберите правильное расположение блоков (сверху-вниз):</h3>
<br />
<ul id="sortable">
    
   @* @foreach (string item in Model.Blocks)*@
    @for (int i = 0; i < Model.Blocks.Count(); i++)
                {
  @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>@item</li>*@
        <li class="ui-state-default"> @Html.HiddenFor(x => Model.Blocks[i].ID ,new {@class = "id" }) <span>@Model.Blocks[i].Body</span></li>
    }
</ul>
<p>
            
            <input type="submit" value="Save" />
        </p>
 

 
@Html.ActionLink("Вернуться на главную", "Index")
  


@section Scripts {
   
    @Scripts.Render("~/Scripts/SortQuestion.js")
    }