﻿@{
    ViewBag.Title = "";
    Layout = "../Shared/_Layout.cshtml";
}
@*@Scripts.Render("~/Scripts/Message.js") чето-не так *@
<script src="/Scripts/Message.js"></script>
<link rel="stylesheet" href="/Content/Message.css"/>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

<div style="clear:both;"></div>
<div style="">
    <ul class="nav nav-pills" id="messageMenu">
        <li><a href="/Message/Send">Новое сообщение</a></li>
        <li><a href="/Message/Inbox">Входящие</a></li>
        <li><a href="/Message/Sending">Исходящие</a></li>
        <li><a href="/Message/Removed">Корзина</a></li>
    </ul>
    <script> $("#messageMenu li").each(function(i, v) {if ((location.href+'q').indexOf($(v).find('a').attr('href')+'q')>-1) $(v).addClass("active");});</script>
    <div style="clear:both;"></div>
@*<div class="mail-menu-left">
    <a href="/Message/Send" class="mail-menu-left-item">Новое сообщение</a>
    <a href="/Message/Inbox" class="mail-menu-left-item">Входящие</a>
    <a href="/Message/Sending" class="mail-menu-left-item">Исходящие</a>
    <a href="/Message/Removed" class="mail-menu-left-item">Корзина</a>
</div>*@
<div class="mail-center">
    @RenderBody()
</div>
    </div>
<div style="clear:both"></div>
