﻿@using System.Globalization
@{
    Layout = "_MessageLayout.cshtml";
}
<script>
    whereWe = "@ViewBag.Type";
</script>
<h2>@ViewBag.Title</h2>
<div class="text-input wfull">
    <input type="text" id="searchInput" placeholder="Поиск по теме письма" style="width:700px;" 
           onkeyup="if (event.keyCode==13) listSearch();"/>
    <button type="button" onclick="listSearch()" class="btn btn-primary">Поиск</button>
</div>
<div style="clear:both"></div>
<button style="margin:10px 0" onclick="sortOrder = sortOrder == 2 ? 1 : 2;listSearch();"  class="btn btn-primary" id="sortLink">Сначала ранние</button>
<div class="message-list">
    @Html.Action("MessageListPartial","Message",new {type=ViewBag.Type})
</div>
<button onclick="doMore();" id="more" class="btn btn-primary">Больше писем!</button>
