﻿@{
    Layout = null;
}
@using System.Globalization
@model List<CSOK.Models.MessageSummuryModel>
@foreach (var message in Model)
    {
        <div class="message-list-item @(message.AreRead ? "" : "new-message")" id="message-@message.Id">
            <div class="sendTime">@message.SendTime.ToString(CultureInfo.CurrentCulture)</div>
            <div class="target-email">
                @if (message.IsInbox)
                {
                    <span>От: @message.From</span>
                }
                else
                {
                    <span>Кому: @message.To.Aggregate((a, b) => a + "; " + b)</span>
                }
            </div>
            <a class="subject" href="/message/read?id=@message.Id">@message.Subject</a>
            @if (message.CanDelete)
            {
                <button type="button" class="btn btn-primary" style="float:right; margin-right:34px;" onclick=" removeMessage(@message.Id); ">Удалить</button>
            }
            else
            {
                <button type="button" class="btn btn-primary" style="float:right; margin-right:34px;" onclick=" restoreMessage(@message.Id); ">Восстановить</button>
            }
        </div>
    }

