﻿@using System.Configuration
@model CSOK.Models.MessageSummuryModel
@{
    ViewBag.Title = "Read";
    Layout = "_MessageLayout.cshtml";
}
От: @Model.From <a href="/Message/Send?idRe=@Model.Id">Ответить</a><br/>
Кому: @Model.To.Aggregate((a, b) => a + "; " + b)<br/>
Содержимое:<br/> @(new MvcHtmlString(Model.Text))
<br />Вложения: 
@foreach (var file in Model.AttachmentUrls)
{
    <a href="@(ConfigurationManager.AppSettings["UploadUrl"]+file)" target="blank">@file</a>
}