﻿@model CSOK.Models.SendMailModel
@{
    ViewBag.Title = "Send";
    Layout = "_MessageLayout.cshtml";
}

<script src="/Scripts/Message.js"></script>
<script src="/Scripts/jquery.autocomplete.min.js"></script>
<script>
    $(document).ready(function ()
    {
        $('#MailTo').autocomplete({
            serviceUrl: '/message/GetPeopleVariant', // Страница для обработки запросов автозаполнения
            minChars: 1, // Минимальная длина запроса для срабатывания автозаполнения
            delimiter: /(((;)\s?)|\s)/, // Разделитель для нескольких запросов, символ или регулярное выражение
            maxHeight: 400, // Максимальная высота списка подсказок, в пикселях
            width: 300, // Ширина списка
            zIndex: 9999, // z-index списка
            deferRequestBy: 0, // Задержка запроса (мсек), на случай, если мы не хотим слать миллион запросов, пока пользователь печатает. Я обычно ставлю 300.
            onSelect: function (data, value)
            {
                $(this).val($(this).val() + "; ");
                var list = $(this).val().split(";");
                console.log(list);
            }, // Callback функция, срабатывающая на выбор одного из предложенных вариантов,
        });
    });
</script>
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { enctype = "multipart/form-data", id="sendMessageForm" }))
{
    <div class="mail-send-left">Кому:</div>
    <div class="mail-send-right mail-to">
        <div class="text-input">
            @Html.TextBoxFor(x => x.To, new { id = "MailTo", onfocus="$(this).parent().css('border-color','#000000');", 
                placeholder="" })
        </div>
    </div>
    <div class="mail-send-left">Тема:</div>
    <div class="mail-send-right">
        <div class="text-input">
            @Html.TextBoxFor(x => x.Subject)
        </div>
    </div>
    <div class="mail-send-left">Текст:</div>
    <div class="mail-send-right big">
        <div class="text-input big">
            @Html.TextAreaFor(x => x.Text)
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="attachmentList" id="attachmentList">
    </div>
    <button id="addAttachmentButton" value="add" type="button" onclick="addAttachment()" class="btn btn-primary">Добавить вложение</button>
    <br /><button type="button" onclick="submitForm()" class="message-submit btn btn-primary">Отправить</button>
}
